{% if chats %}
{% for chat in chats %}

{% if chat.sender.user_type == 'freelancer' %}
<div class="wt-offerermessage">
    <figure><img src="{% if chat.sender.freelancer.profile_photo %}{{ chat.sender.freelancer.profile_photo.url }}{% endif %}" alt="image description"></figure>
    <div class="wt-description">
        <div class="clearfix"></div>
        <p>{{chat.content}} </p>
        <div class="clearfix"></div>
        <p>{{chat.sender.short_name}}&nbsp;<span class="badge badge-success">Author Team</span></p>
        <time datetime="2017-08-08">{{chat.sent_on}}</time>
    </div>
</div>

{% elif chat.sender.user_type == 'client' %}
<div class="wt-memessage wt-readmessage">
    <figure><img src="{% if chat.sender.clients.profile_photo %}{{ chat.sender.clients.profile_photo.url }}{% endif %}" alt="image description"></figure>
    <div class="wt-description">
        <div class="clearfix"></div>
        <p>{{chat.content}}</p>
        <div class="clearfix"></div>
        <p>{{chat.sender.short_name}}&nbsp;<span class="badge badge-info">Client</span></p>
        <time datetime="2017-08-08">{{chat.sent_on}}</time>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> No messages at the moment</span>
{% endif %}
<div hx-get="{% url 'proposals:fetch_messages' proposal.id %}"
    hx-trigger="every 1s"
    hx-swap="innerhtml"
    hx-target="#proposal-messages">
</div>