{% extends "dashboard/main_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

	<!--Main Start-->
	<div class="wt-haslayout wt-innerbannerholder">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
					<div class="wt-innerbannercontent">
						<div class="wt-title"><h2>Transactions</h2></div>
							<ol class="wt-breadcrumb">
								<li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
								<li class="wt-active">Proposal</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="background"  style="background-color:#fff;">
		<section class="container" style="background-color:#fff;">
			<div class="row justify-content-md-center">				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Transaction ID</th>
									<th>Date</th>
									<th>Method</th>
									<th>Amount</th>
									<th>Status</th>
								</tr>
							</thead>
							
							<tbody>
								{% for application in applications %}
								<tr>
									<td>{{forloop.counter}}</td>
									<td>
										{% comment %} {% url 'resolution:proposal_resolution' proposal.id proposal.proposal.slug %} {% endcomment %}
										<a href="">
											{{application.reference}}
										</a>
									</td>
									<td>{{application.created_at}}</td>
									<td>{{application.purchase.payment_method|capfirst}}</td>
									<td>{{application.totalsales}} = ({{application.disc_sales_price}} px @ {{proposal.staff_hired}} staff)</td> 
									<td>
										<button class="btn btn-{% if application.status == 'pending' %}danger{% else %}primary{% endif %} btn-sm" disabled>
											{% if application.status == 'ongoing' %}
											<i class="fas fa-spinner fa-spin"></i>
											{% elif application.status == 'disputed' %}
											<i class="fa fa-warning"></i>
											{% elif application.status == 'cancelled' %}
											<i class="fa fa-warning"></i>
											{% endif %}
											{{application.get_status_display}}
										</button>
									</td>
									
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if not applications %}
						<div class="alert alert-info text-center" role="alert">
							<span style="color: blue; font-weight: bold;"> Hmmm! No application sold Yet...</span>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="wt-sectionhead wt-textcenter">
					<span>Copyright @ {{website.site.name}}</span>
				</div>
			</div>
		</section>						
	</div>
	{% endblock %}

