{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

<style>
    .custom-checkout-left{
        background-color:rgb(7, 5, 49); 
        color:#fff; 
        height:100vh; 
        text-align: center;
        position: relative;
        padding:10%;
    }

    .custom-checkout-right{
        background-color:#fff; 
        color:#000; 
        height:100vh; 
        text-align: center;
        position: relative;
        padding:10% 5% 5% 5%;

    } 
    @media (max-width: 767.98px) {
      .checkout-to-show {
        display: block !important;
      }        
      .flex-checkout-page {
         height: 100vh; /* Set the row height to 100% of the viewport height */
       }

      .custom-checkout-right{
        background-color: #fff !important; /* Set the background color to white */
        color: #000; /* Set the text color to black */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        padding:5%;

      }
      .custom-checkout-left{
        display:none;
      }
      .custom-checkout-right .reposition-top{
        width: 100%;
        padding:5%;
        transform: translateY(-100%) !important;
      }
    }
</style>

 
{% comment %} 
<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                <div class="wt-title">
                    <h2>
                        {% if gateway_type == "paypal" %}
                        PayPal
                        {% elif gateway_type == "flutterwave" %} 
                        Flutterwave
                        {% elif gateway_type == "stripe" %}
                        Stripe
                        {% elif gateway_type == "razorpay" %}
                        Razorpay
                        {%endif%} 
                        Checkout
                    </h2>
                </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- <div class="container"> -->
<div class="row flex-checkout-page">
    <div class="col-md-6 col-sm-12 custom-checkout-left">
    <span style="font-size: 24px; font-weight:bold;">Price: {{base_currency}} {{hiring_box.get_total_price_before_fee_and_discount}}</span><br><br>
    <span style="font-size: 18px; font-weight:bold;">Type: {{gateway_type|capfirst}}</span><br><br>
    <span style="font-size: 18px; font-weight:bold;">The original price + any fee deductible</span>
    </div>
    <div class="col-md-6 col-sm-12 custom-checkout-right">
        <div class="reposition-top checkout-to-show" style="display:none;">
            <span style="font-size: 24px; font-weight:bold;">Price: {{base_currency}} {{hiring_box.get_total_price_before_fee_and_discount}}</span><br><br>
            <span style="font-size: 18px; font-weight:bold;">Type: {{gateway_type|capfirst}}</span><br><br>
            <span style="font-size: 18px; font-weight:bold;">The original price + any fee deductible</span><br><br>
        </div>
        <div class="reposition-top">
            {% if gateway_type == "paypal" %}
            <div id="paypal-button-container"></div>
            {% endif %}
        </div>
    </div>
</div>



{% comment %} <div class="wt-dashboardbox">
    <div class="wt-proposalsr">
        
        <br>
        <br>
        <br>
        <div class="container">
            <div class='row'>
                <div class='col-md-7'>
                    <div class='card' style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class='card-body'>
                            <h3>Checkout Summary({{base_currency_symbol}})</h3>
                            <div class="table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th>Fees</th>
                                        <th>Payable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{hiring_box.get_total_price_before_fee_and_discount}} </td>
                                        <td>{{hiring_box.get_fee_payable}}</td>
                                        <td>{{hiring_box.get_total_price_after_discount_and_fee}}</td>
                                    </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class='row'>
                        <div class='col-md-12 mt-2'>
                            {% if gateway_type.name == "paypal" %}
                            <div id="paypal-button-container"></div>
                            {% endif %}
                            {% if gateway_type.name == "flutterwave" %}
                            <button onclick='flutterwavePay(event)' id="flutterwaveprojsubmit" class="btn btn-success w-100 fw-bold">
                                Pay with flutterwave
                            </button>
                            {% endif %}
                            {% if gateway_type.name == "stripe" %}
                            <button 
                            onclick='stripePay(event)' 
                            id="stripesubmit" class="btn btn-primary w-100 fw-bold" >
                            Pay with Stripe
                            </button>
                            
                        {% endif %}
                            {% if gateway_type.name == "razorpay" %}
                            <button id="rzp-button1" class="btn btn-success w-100 fw-bold">Pay with Razorpay</button>
                            {% endif %} 
                        </div>
                        <div class='card-body'>
                            <div class='col-md-12 mt-6'>
                                <h3>Currency Converter</h3>
                                {{ currency}}
                            </div>
                            <div class="p-2 bd-highlight">
                                <span id="feedback-converter" style="color:green; text-align:right;">.</span>
                            </div>
                            <div class='col-md-12 mt-4'>
                                <button id='convert-currency' class="btn btn-primary w-100 fw-bold" >Converter</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>                        
                </div>

                <div class='col-md-5'>
                    <div class='card' style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class='row'>
                            <div class='card-body'>
                            
                            <div class="wt-dashboardboxcontent wt-offersidebar wt-dashboardbox-margin">
                                <figure><img src="{% static 'images/save-img-01.jpg'%}" alt="img description"></figure>
                                <div class="wt-offercontent">
                                    <ul class="wt-projectliststyle">
                                        
                                        <li><span><i class="fa fa-check"></i>#1: For Customers with billing currencies different from {{base_currency}}, we present you a way to check your conversion rate and amount</span></li>
                                        <li><span><i class="fa fa-check"></i>#2: Our conversion does not replace any conversion rate offered by our payment parties.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --> {% endcomment %}

<div class="wt-proposalholder mt-6">
    <div class="row justify-content-md-center">
        <div class="wt-sectionhead wt-textcenter">
            <span>Copyright @ {{website.site_name}}</span>
        </div>
    </div>
</div> 

    {% endblock content %}

    {% block scripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% comment %} 
    <script>
        //Script to add proposal quantity in session             
        $(document).on('click', '#convert-currency', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "general_settings:converter" %}',
            data: {
                currencyid: $('#id_currency option:selected').val(),
                targetamount: '{{hiring_box.get_total_price_after_discount_and_fee}}',
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'currency'
            },
            success: function (json) {
                document.getElementById('feedback-converter').innerHTML = json.message
            },
            error: function (xhr, errmsg, err) {}
        });
        })
    </script> {% endcomment %}

    {% if gateway_type == "paypal" %}
    <script 
        src="https://www.paypal.com/sdk/js?client-id={{paypal_public_key}}&currency={{base_currency}}">
    </script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getCookie('csrftoken');
        {% comment %} <script src="{% static 'js/paypal_checkout.js' %}"></script> {% endcomment %}
        {% comment %} function hiringPayPalButton() {
            paypal.Buttons({
                style: {
                    layout: 'vertical', //or horizontal
                    color: 'gold',
                    shape: 'rect', //or pill
                    label: 'paypal',
                },
                createOrder() {
                    return fetch("/my-server/create-paypal-order", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      // use the "body" param to optionally pass additional order information
                      // like product skus and quantities
                      body: JSON.stringify({
                        cart: [
                          {
                            sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                            quantity: "YOUR_PRODUCT_QUANTITY",
                          },
                        ],
                      }),
                    })
                    .then((response) => response.json())
                    .then((order) => order.id);
                  },
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{hiring_box.get_total_price_after_discount_and_fee}}'
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function(){
                        let url = "{% url 'transactions:paypal_payment_order' %}"
                        return fetch(url, {
                            method: 'POST',
                            headers: {
                                'content-type': 'application/json',
                                'X-CSRFToken': csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: data.orderID
                            })
                        }).then(function () {
                            swal("Perfect!", 'All looked good', "success").then((value) =>{
                                window.location.href = "{% url 'transactions:hiring_payment_success' %}"
                            });              
                            
                        })
                    })                    
                    
                },
            }).render('#paypal-button-container');
        }
        hiringPayPalButton(); {% endcomment %}


        const paypalButton = document.getElementById('paypal-button-container');

        paypal.Buttons({
            createOrder: function(data, actions) {
                // This function will be called when the button is clicked
                // Call your Django view to create a new PayPal order
                return fetch("{% url 'transactions:paypal_payment_order' %}", {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        amount: '10.00', // Replace this with the actual amount you want to charge
                        currency: 'USD', // Replace this with the currency code you want to use
                        description: 'Test Payment', // Replace this with your order description
                    }),
                }).then(function(response) {
                    return response.json();
                }).then(function(orderData) {
                    return orderData.paypal_order_key;
                });
            },
            onApprove: function(data, actions) {
                // This function will be called when the payment is approved
                // Call your Django view to capture the payment
                return fetch("{% url 'transactions:paypal_callback' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        paypal_order_key: data.orderID,
                    }),
                }).then(function(response) {
                    return response.json();
                }).then(function() {
                    // Handle the captured payment data here (e.g., show a success message)
                    swal("Perfect!", 'All looked good', "success").then((value) =>{
                        window.location.href = "{% url 'transactions:proposal_transaction' %}"
                    });              
                });
            }
        }).render('#paypal-button-container');
    </script>
    {% endif %}

    {% if gateway_type.name == "Stripe" %}
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
    </script>    
    <script src="https://js.stripe.com/v3/"></script>
    {% comment %} <script src="{% static 'js/payments/proposal-stripe-checkout.js' %}" data-rel-js></script> {% endcomment %}
    <script>
    function stripePay(event) {
        event.preventDefault();
        
        $("#stripesubmit").attr("disabled", true);
        $("#convert-currency").attr("disabled", true);
             
        let data = {
            'stripepCustomer': '{{request.user.get_full_name}}', 
            'stripepEmail': '{{request.user.email}}',
            'stripepCountry': '{{request.user.country.name}}',
        }
    
        let stripe = Stripe('{{stripe_public_key}}');
    
        fetch('/transaction/stripe/checkout/api/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'
            },
            credentials: 'same-origin',
            body: JSON.stringify(data)
            })
            .then(function (response) {
                return response.json()
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.session.id })
            })
            .then(function (result) {
                $("#stripesubmit").attr("disabled", false);
                $("#convert-currency").attr("disabled", false);
                return console.log(result.error.message)
            })
            .catch(function (error) {
                return console.log(error)
            })
        }
    </script>
    {% endif %}

    {% if gateway_type.name == "Flutterwave" %}
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    {% comment %} <script src="{% static 'js/payments/flutterwave-checkout.js' %}"></script> {% endcomment %}
    <script>
        function flutterwavePay(event) {
        event.preventDefault();

          $("#flutterwaveprojsubmit").attr("disabled", true);
          $("#convert-currency").attr("disabled", true);
            
          let data = {
            'amount': "{{hiring_box.get_total_price_after_discount_and_fee}}",
            'name': "{{request.user.get_full_name}}",
            'email': "{{request.user.email}}",
            'consumerid': "{{request.user.id}}",
      
          }
      
          fetch('{% url "transaction:flutter_payment_intent" %}', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{csrf_token}}'
            },
            credentials: 'same-origin',
            body: JSON.stringify(data)
          })
            .then(function (response) {
              return response.json()
            })
            .then(function (session) {
                window.location.href = session.redirectToCheckout
            })
            .then(function (result) {
                $("#flutterwaveprojsubmit").attr("disabled", false);
                $("#convert-currency").attr("disabled", false);
                return console.log(result)
            })
            .catch(function (error) {
              return console.log(error)
            })
        }
    </script> 
    {% endif %}

    {% if gateway_type.name == "Razorpay" %}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        //Script to add proposal quantity in session             
        $(document).on('click', '#rzp-button1', function (e) {
        e.preventDefault();
        $.ajax({
            method: 'GET',
            url: '{% url "transactions:razorpay_application_intent" %}',
            success: function (response) {
                console.log(response)
                var options = {
                    "key": "{{razorpay_public_key}}", // Enter the Key ID generated from the Dashboard
                    "amount": response.amount,//"{{hiring_box.get_total_price_after_discount_and_fee}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": response.currency,
                    "name": "{{website.site_name}}",
                    "description": "Hiring of Applicants",
                    "image": "{{website.site_Logo.url}}",
                    "order_id": response.razorpay_order_key, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (responseOne) {
                        $.ajax({
                            type: "POST",
                            url: "/transaction/razorpay_webhook/",
                            data: {
                                orderid: responseOne.razorpay_order_id,
                                paymentid: responseOne.razorpay_payment_id,
                                signature: responseOne.razorpay_signature,
                                csrfmiddlewaretoken: "{{csrf_token}}",
                                action: "razorpay-proposal",
                            },
                            success: function (responseTwo) {
                                console.log(responseTwo)
                                swal("Perfect!", 'All looked good', "success").then((value) =>{
                                    window.location.href = "{% url 'transactions:application_transaction' %}"
                                });                        
                            }
                        });
                    },

                    "prefill": {
                        "name": "{{request.user.get_full_name}}",
                        "email": "{{request.user.email}}",
                        "contact": "{{request.user.phone}}"
                    },
                    "notes": {
                        "address": "{{request.user.country}}"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();                
            },
            error: function (xhr, errmsg, err) {}
        });
        })
    </script>
    {% endif %}
    
    {% endblock scripts %}
  
