{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

<style>
    .custom-checkout-left{
        background-color:rgb(7, 5, 49); 
        color:#fff; 
        height:100vh; 
        text-align: center;
        position: relative;
        padding:10%;
    }

    .custom-checkout-right{
        background-color:#fff; 
        color:#000; 
        height:100vh; 
        text-align: center;
        position: relative;
        padding:0% 5% 0% 5%;

    } 
    @media (max-width: 767.98px) {
      .checkout-to-show {
        display: block !important;
      }        
      .flex-checkout-page {
         height: 100vh; /* Set the row height to 100% of the viewport height */
       }

      .custom-checkout-right{
        background-color: #fff !important; /* Set the background color to white */
        color: #000; /* Set the text color to black */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        width: 100%;

      }
      .custom-checkout-left{
        display:none;
      }
      .custom-checkout-right .reposition-top{
        width: 100%;
        padding:5%;
        transform: translateY(-20%) !important;
      }
    }
</style>

 
{% comment %} 
<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                <div class="wt-title">
                    <h2>
                        {% if gateway_type == "paypal" %}
                        PayPal
                        {% elif gateway_type == "flutterwave" %} 
                        Flutterwave
                        {% elif gateway_type == "stripe" %}
                        Stripe
                        {% elif gateway_type == "razorpay" %}
                        Razorpay
                        {%endif%} 
                        Checkout
                    </h2>
                </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- <div class="container"> -->
<div class="row flex-checkout-page">
    <div class="col-md-6 col-sm-12 custom-checkout-left">
    <span style="font-size: 24px; font-weight:bold;">Price: {{base_currency}} {{hiring_box.get_total_price_after_discount_and_fee}}</span><br><br>
    <span style="font-size: 18px; font-weight:bold;">Type: {{gateway_type|capfirst}}</span><br><br>
    <span style="font-size: 18px; font-weight:bold;">The original price + any fee deductible</span>
    </div>
    <div class="col-md-6 col-sm-12 custom-checkout-right">
        <div class="reposition-top checkout-to-show" style="display:none;">
            <span style="font-size: 24px; font-weight:bold;">Price: {{base_currency}} {{hiring_box.get_total_price_after_discount_and_fee}}</span><br><br>
            <span style="font-size: 18px; font-weight:bold;">Type: {{gateway_type|capfirst}}</span><br><br>
            <span style="font-size: 18px; font-weight:bold;">The original price + any fee deductible</span><br><br>
        </div>
        {% if gateway_type == "paypal" %}
        <br><br><br><br><br><br>
        <div class="reposition-top">
            <div id="paypal-button-container"></div>
        </div>
        {% endif %}
        {% if gateway_type == "flutterwave" %}
        <br><br><br><br><br><br>
        <div class="reposition-top">
            <button id="flutterwaveButton" class="btn btn-success w-100 fw-bold">
                Pay with Flutterwave
            </button>
        </div>
        {% endif %}
        {% if gateway_type == "paystack" %}
        <br><br><br><br><br><br>
        <div class="reposition-top">
            <button id="paystackButton" class="btn btn-success w-100 fw-bold">
                Pay with Paystack
            </button>
        </div>
        {% endif %}
        {% if gateway_type == "razorpay" %}
            <br><br><br><br><br><br>
            <div class="reposition-top">
                <button id="razorpayButton" type="button" class="btn btn-success w-100 fw-bold">Pay with Razorpay</button>
            </div>
        {% endif %}

        {% if gateway_type == "stripe" %}
        <div class="reposition-top"><br><br><br>
            <form id="stripe-form">
                <!-- Error messages in this element -->
                <div id="card-errors" class="col-sm-12 text-center" role="alert">ssss</div>
                
                <br>
                <label for="card-element" style="font-weight:bold;">Credit or debit card</label>
                <div id="card-element" class="form-control">
                  <!-- Payment elements will appear here -->
                </div>
                <br>
                <br>
                <button id="stripeButton" 
                    type="submit" 
                    class="btn btn-primary w-100 fw-bold" >
                    Stripe Checkout
                </button>
            </form>
        </div>
        {% endif %}
        {% comment %} </div> {% endcomment %}
    </div>
</div>



{% comment %} <div class="wt-dashboardbox">
    <div class="wt-proposalsr">
        
        <br>
        <br>
        <br>
        <div class="container">
            <div class='row'>
                <div class='col-md-7'>
                    <div class='card' style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class='card-body'>
                            <h3>Checkout Summary({{base_currency_symbol}})</h3>
                            <div class="table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th>Fees</th>
                                        <th>Payable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{hiring_box.get_total_price_before_fee_and_discount}} </td>
                                        <td>{{hiring_box.get_fee_payable}}</td>
                                        <td>{{hiring_box.get_total_price_after_discount_and_fee}}</td>
                                    </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class='row'>
                        <div class='col-md-12 mt-2'>
                            {% if gateway_type.name == "paypal" %}
                            <div id="paypal-button-container"></div>
                            {% endif %}
                            {% if gateway_type.name == "flutterwave" %}
                            <button onclick='flutterwavePay(event)' id="flutterwaveprojsubmit" class="btn btn-success w-100 fw-bold">
                                Pay with flutterwave
                            </button>
                            {% endif %}
                            {% if gateway_type.name == "stripe" %}
                            <button 
                            onclick='stripePay(event)' 
                            id="stripesubmit" class="btn btn-primary w-100 fw-bold" >
                            Pay with Stripe
                            </button>
                            
                        {% endif %}
                            {% if gateway_type.name == "razorpay" %}
                            <button id="rzp-button1" class="btn btn-success w-100 fw-bold">Pay with Razorpay</button>
                            {% endif %} 
                        </div>
                        <div class='card-body'>
                            <div class='col-md-12 mt-6'>
                                <h3>Currency Converter</h3>
                                {{ currency}}
                            </div>
                            <div class="p-2 bd-highlight">
                                <span id="feedback-converter" style="color:green; text-align:right;">.</span>
                            </div>
                            <div class='col-md-12 mt-4'>
                                <button id='convert-currency' class="btn btn-primary w-100 fw-bold" >Converter</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>                        
                </div>

                <div class='col-md-5'>
                    <div class='card' style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class='row'>
                            <div class='card-body'>
                            
                            <div class="wt-dashboardboxcontent wt-offersidebar wt-dashboardbox-margin">
                                <figure><img src="{% static 'images/save-img-01.jpg'%}" alt="img description"></figure>
                                <div class="wt-offercontent">
                                    <ul class="wt-projectliststyle">
                                        
                                        <li><span><i class="fa fa-check"></i>#1: For Customers with billing currencies different from {{base_currency}}, we present you a way to check your conversion rate and amount</span></li>
                                        <li><span><i class="fa fa-check"></i>#2: Our conversion does not replace any conversion rate offered by our payment parties.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --> {% endcomment %}

<div class="wt-proposalholder mt-6">
    <div class="row justify-content-md-center">
        <div class="wt-sectionhead wt-textcenter">
            <span>Copyright @ {{website.site_name}}</span>
        </div>
    </div>
</div> 
{{ request.user.get_full_name|json_script:"checkout_user"}}
{{ request.user.email|json_script:"checkout_user_email"}}
{{ website.site_logo_tag|json_script:"checkout_logo"}}
{{ website.site_name|json_script:"checkout_site"}}
{% endblock content %}

{% block scripts %}
{% comment %} <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> {% endcomment %}
{% comment %} 
    <script>
        //Script to add proposal quantity in session             
        $(document).on('click', '#convert-currency', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "general_settings:converter" %}',
            data: {
                currencyid: $('#id_currency option:selected').val(),
                targetamount: '{{hiring_box.get_total_price_after_discount_and_fee}}',
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'currency'
            },
            success: function (json) {
                document.getElementById('feedback-converter').innerHTML = json.message
            },
            error: function (xhr, errmsg, err) {}
        });
        })
    </script> {% endcomment %}

    <script>
        const CSRF_TOKEN = '{{ csrf_token }}';
        const USER = document.getElementById('checkout_user');
        const USER_EMAIL = document.getElementById('checkout_user_email');
        const SITE_NAME = document.getElementById('checkout_site');
    </script>

    {% if gateway_type == "paypal" %}
    <script 
        src="https://www.paypal.com/sdk/js?client-id={{paypal_public_key}}&currency={{base_currency}}">
    </script>
    {% comment %} <script src="{% static 'js/payments/paypal-checkout-proosal.js' %}"></script> {% endcomment %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getCookie('csrftoken');
        
        const paypalButton = document.getElementById('paypal-button-container');
        
        paypal.Buttons({
            createOrder(){
                // createOrder: function(data, actions) {
                //     // Set up the transaction details
                //     const actions = actions.order.create({
                //         purchase_units: [{
                //             amount: {
                //                 value: "{{hiring_box.get_total_price_after_discount_and_fee}}"
                //             }
                //         }]
                //     });
                //     console.log('PayPal', actions.id)    
                //     console.log('PayPalD', actions.orderID) 
                return fetch("/transaction/paypal/api/", {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        amount: "{{hiring_box.get_total_price_after_discount_and_fee}}",
                        currency: '{{base_currency}}',
                        description: 'Purchase of proposal',
                    }),
                }).then(function(response) {
                    return response.json();
                }).then(function(order_id) {
                    return order_id.paypal_order_key;
                })
                .catch(function (error) {
                    swal("Perfect!", 'Error occured', "error");
                });
            },
            onApprove: function(data, actions) {
                // This function will be called when the payment is approved
                // Call your Django view to capture the payment
                // return fetch("{% url 'transactions:paypal_callback' %}", {
                return fetch("/transaction/paypal/callback/", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        paypal_order_key: data.orderID,
                    }),
                }).then(function(response) {
                    return response.json();
                }).then(function() {
                    // Handle the captured payment data here (e.g., show a success message)
                    swal("Perfect!", 'All looked good', "success").then((value) =>{
                        window.location.href = "/transaction/proposals/"
                    });              
                })
                .catch(function (error) {
                    swal("Perfect!", 'Error occured', "error");
                });
            }
        }).render('#paypal-button-container');
        
        
    </script>
    {% endif %}
    
    {% if gateway_type == "stripe" %}
    <script>
        const STRIPE_PUBLIC_KEY = '{{ stripe_public_key }}';
    </script>    
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/payments/stripe-checkout.js' %}"></script>

    {% endif %}

    {% if gateway_type == "paystack" %}
    <script>
        const paystack_public_key = '{{ paystack_public_key }}';
    </script> 
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="{% static 'js/payments/paystack-checkout.js' %}"></script>
    {% endif %}

    {% if gateway_type == "flutterwave" %}
    <script>
        const flutterwave_public_key = '{{ flutterwave_public_key }}';
    </script> 
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <script src="{% static 'js/payments/flutterwave-checkout.js' %}"></script>
    {% endif %}

    {% if gateway_type == "razorpay" %}
    <script>
        const razorpay_public_key = '{{ razorpay_public_key }}';
    </script> 
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="{% static 'js/payments/razorpay-checkout.js' %}"></script>
    {% endif %}
    
    {% endblock scripts %}
  
