{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include "account/partials/feebanner.html" %}
        
    <div class="wt-proposalholder">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wt-tabscontenttitle proposal-total-btn">
                        <h5>Bucket preview</h5>
                        <button id="grandTotal" type="button" class="proposal-btn-state">{{base_currency}}  {% if hiring_box.get_total_price_before_fee_and_discount %}{{hiring_box.get_total_price_before_fee_and_discount}}{% else %} 0 {% endif %}</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table" style="border:none;">
                        <thead class="addon-header">
                            <tr>
                                <th>#</th>
                                <th>Thumbnail</th>
                                <th>Proposals</th>
                                <th>Addons</th>
                                <th>Action</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                            
                        {% for member in hiringbox %}
                        {% with proposal=member.proposal %}
                        <tbody data-index="{{proposal.id}}" class="proposal-item">
                            <tr>
                                <td>{{forloop.counter}}</td> 
                                <td><img src="{{proposal.thumbnail.url}}" alt='product in bucket' style="width:60px; height:40px; min-width:60px;"></td>
                                <td class="text-left">{{proposal.title|truncatechars:60}}</td>
                                <td>
                                    <div class="proposal-action">
                                        <select id="select{{proposal.id}}" class="custom-select" style="width:100%;">
                                            <option selected disabled hidden value="1"> {{member.member_qty}} Worker{{member.member_qty|pluralize}}</option>
                                            {% if proposal.team.members.count >= 1 %}<option value="1"> 1 Worker</option>{% endif %}
                                            {% if proposal.team.members.count >= 2 %}<option value="2"> 2 Workers</option>{% endif %}
                                            {% if proposal.team.members.count >= 3 %}<option value="3"> 3 Workers</option>{% endif %}
                                            {% if proposal.team.members.count >= 4 %}<option value="4"> 4 Workers</option>{% endif %}
                                            {% if proposal.team.members.count >= 5 %}<option value="5"> 5 Workers</option>{% endif %}
                                        </select>                                                                                                                    
                                        <button type="button" id="modify-box" data-index="{{proposal.id}}" class="badge badge-success addon-btn modify-box"> + / - </button>
                                    </div>
                                </td>
                                <td><button type="button" id="remove-box" data-index="{{proposal.id}}" class="badge badge-danger btn-sm mt-2 remove-box"><i class="fa fa-trash"></i></button></td>
                                <td><button class="btn btn-outline-success btn-sm mt-2" type="button" disabled> {{base_currency}} {{member.salary}}</a></button></td>
                            </tr>
                        </tbody>
                        {% endwith %}
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="wt-tabscontenttitle">
                <h5>Product pricing</h5>
            </div>
            <div id="payment-method" class="row" hx-on="htmx:afterSettle: initializePaypal()">
                {% include 'transactions/partials/pricing_option_with_fees.html' %}
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row justify-content-md-center">
                <div class="wt-sectionhead wt-textcenter">
                    <span>Copyright @ {{website.site.name|capfirst}}</span>
                </div>
            </div>
            <br>
            <br>
        </div> 
        </div> 
        
    </div> 
    </div>

    {% comment %} {% if gateway_type.name == "Stripe" %}  {% endcomment %}
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
    </script>    
    <script src="https://js.stripe.com/v3/"></script>

    <script>
    function stripePay(event) {
        event.preventDefault();
        
        $("#stripesubmit").attr("disabled", true);
        $("#convert-currency").attr("disabled", true);
             
        let data = {
            'stripepCustomer': '{{request.user.get_full_name}}', 
            'stripepEmail': '{{request.user.email}}',
            'stripepCountry': '{{request.user.country.name}}',
        }
    
        let stripe = Stripe('{{stripe_public_key}}');
    
        fetch('/transaction/stripe/checkout/api/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            credentials: 'same-origin',
            body: JSON.stringify(data)
            })
            .then(function (response) {
                return response.json()
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.session.id })
            })
            .then(function (result) {
                $("#stripesubmit").attr("disabled", false);
                $("#convert-currency").attr("disabled", false);
                return console.log(result.error.message)
            })
            .catch(function (error) {
                return console.log(error)
            })
        }
    </script>

    {% endblock content %}
    {% block scripts %}
    {% comment %} <script>
        $('input[type=radio][name=paymentGateway]').on('change', function(e) {
            e.preventDefault();
            $.ajax({
            type: "POST",
            url: '{% url "transactions:payment_fee_structure" %}',
            data: {
                gatewaytype: $(this).val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "post",
            },
            success: function (json) {              
                document.getElementById("totalFees").innerHTML = json.selected_fee;               
            },
            error: function (xhr, errmsg, err) {},
            });
            
        });
    </script> {% endcomment %}
    <script>
        //Script to delete proposal in session
        $(document).on('click', '.remove-box', function (e) {
            e.preventDefault();
            var propid = $(this).data('index');
            $.ajax({
            type: 'POST',
            url: '{% url "transactions:remove_from_hiring_box" %}',
            data: {
                proposalid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                $('.proposal-item[data-index="' + propid + '"]').remove();
                document.getElementById("totalFreelancer").innerHTML = json.freelancers;
                document.getElementById("totalDiscount").innerHTML = `Up to ${json.discount}%`;
                document.getElementById("grandTotal").innerHTML = `${json.base_currency} ${json.grandtotal}`
                document.getElementById("grandTotal2").innerHTML = `${json.base_currency} ${json.grandtotal}`
            },
            error: function (xhr, errmsg, err) {}
            });
        })
    </script>
    <script>
        //Script to modify proposal in session
        $(document).on('click', '.modify-box', function (e) {
            e.preventDefault();
            var propid = $(this).data('index');
            $.ajax({
            type: 'POST',
            url: '{% url "transactions:modify_from_hiring_box" %}',
            data: {
                proposalid: $(this).data('index'),
                memberqty: $('#select' + propid +' option:selected').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                document.getElementById("totalFreelancer").innerHTML = json.freelancers
                document.getElementById("totalDiscount").innerHTML = `Up to ${json.discount}%`;
                document.getElementById("grandTotal").innerHTML = `${json.base_currency} ${json.grandtotal}`
                document.getElementById("grandTotal2").innerHTML = `${json.base_currency} ${json.grandtotal}`
            },
            error: function (xhr, errmsg, err) {}
            });
        })
    </script>

    <script>
        //Script to add proposal quantity in session             
        $(document).on('click', '#convert-currency', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "general_settings:converter" %}',
            data: {
                currencyid: $('#id_currency option:selected').val(),
                targetamount: '{{hiring_box.get_total_price_after_discount_and_fee}}',
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'currency'
            },
            success: function (json) {
                document.getElementById('feedback-converter').innerHTML = json.message
            },
            error: function (xhr, errmsg, err) {}
        });
        })
    </script>

    {% comment %} {% if gateway_type.name == "PayPal" %} {% endcomment %}
     
    <script>
        function initializePaypal() {
            // Initialize PayPal button after swapping DOM object
            var paypalButtonContainer = document.getElementById('paypal-button-container');
            var paypalButtonScript = document.createElement('script');
            paypalButtonScript.src = "https://www.paypal.com/sdk/js?client-id={{paypal_public_key}}&currency={{base_currency_code}}";
            console.log('things just happen')
            paypalButtonScript.onload = function() {
                paypal.Buttons().render(paypalButtonContainer);
            };
            document.body.appendChild(paypalButtonScript);
        }
    </script>
      

    <script
        {% comment %} <script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID&components=YOUR_COMPONENTS"></script> {% endcomment %}
        src="https://www.paypal.com/sdk/js?client-id={{paypal_public_key}}&currency={{base_currency_code}}">
    </script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getCookie('csrftoken');
        
        function hiringPayPalButton() {
            paypal.Buttons({
                style: {
                    layout: 'vertical', //or horizontal
                    color: 'gold',
                    shape: 'rect', //or pill
                    label: 'paypal',
                },
                
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{hiring_box.get_total_price_after_discount_and_fee}}'
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function(){
                        let url = "{% url 'transactions:paypal_payment_order' %}"
                        return fetch(url, {
                            method: 'POST',
                            headers: {
                                'content-type': 'application/json',
                                'X-CSRFToken': csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: data.orderID
                            })
                        }).then(function () {
                            swal("Perfect!", 'All looked good', "success").then((value) =>{
                                window.location.href = "{% url 'transactions:hiring_payment_success' %}"
                            });              
                            
                        })
                    })                    
                    
                },
            }).render('#paypal-button-container');
        }
        hiringPayPalButton();
    </script>
    {% comment %} {% endif %}

    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <script>
        function flutterwavePay(event) {
        event.preventDefault();

          $("#flutterwaveprojsubmit").attr("disabled", true);
          $("#convert-currency").attr("disabled", true);
            
          let data = {
            'amount': "{{hiring_box.get_total_price_after_discount_and_fee}}",
            'name': "{{request.user.get_full_name}}",
            'email': "{{request.user.email}}",
            'consumerid': "{{request.user.id}}",
      
          }
      
          fetch('{% url "transaction:flutter_payment_intent" %}', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{csrf_token}}'
            },
            credentials: 'same-origin',
            body: JSON.stringify(data)
          })
            .then(function (response) {
              return response.json()
            })
            .then(function (session) {
                window.location.href = session.redirectToCheckout
            })
            .then(function (result) {
                $("#flutterwaveprojsubmit").attr("disabled", false);
                $("#convert-currency").attr("disabled", false);
                return console.log(result)
            })
            .catch(function (error) {
              return console.log(error)
            })
        }
    </script> 

    {% comment %}  Razorpay {% endcomment %}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        //Script to add proposal quantity in session             
        $(document).on('click', '#rzp-button1', function (e) {
        e.preventDefault();
        $.ajax({
            method: 'GET',
            url: '{% url "transactions:razorpay_application_intent" %}',
            success: function (response) {
                console.log(response)
                var options = {
                    "key": "{{razorpay_public_key}}", // Enter the Key ID generated from the Dashboard
                    "amount": response.amount,//"{{hiring_box.get_total_price_after_discount_and_fee}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": response.currency,
                    "name": "{{website.site_name}}",
                    "description": "Hiring of Applicants",
                    "image": "{{website.site_Logo.url}}",
                    "order_id": response.razorpay_order_key, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (responseOne) {
                        $.ajax({
                            type: "POST",
                            url: "/transaction/razorpay_webhook/",
                            data: {
                                orderid: responseOne.razorpay_order_id,
                                paymentid: responseOne.razorpay_payment_id,
                                signature: responseOne.razorpay_signature,
                                csrfmiddlewaretoken: "{{csrf_token}}",
                                action: "razorpay-proposal",
                            },
                            success: function (responseTwo) {
                                console.log(responseTwo)
                                swal("Perfect!", 'All looked good', "success").then((value) =>{
                                    window.location.href = "{% url 'transactions:application_transaction' %}"
                                });                        
                            }
                        });
                    },

                    "prefill": {
                        "name": "{{request.user.get_full_name}}",
                        "email": "{{request.user.email}}",
                        "contact": "{{request.user.phone}}"
                    },
                    "notes": {
                        "address": "{{request.user.country}}"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();                
            },
            error: function (xhr, errmsg, err) {}
        });
        })
    </script>
        

{% endblock scripts %}

