{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}

		<!--Inner Home Banner Start-->
		<div class="wt-haslayout wt-innerbannerholder">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
						<div class="wt-innerbannercontent">
							<div class="wt-title"><h2>Hire with a difference </h2></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Inner Home End-->
		<div class="wt-dashboardbox">
			<div class="wt-proposalsr">
				<div class="container mt-5 mb-5">
					<div class="d-flex justify-content-center row">
						<div class="col-md-12">
							<div class="row p-2 bg-white border rounded">
								<div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{proposal.thumbnail.url}}"></div>
								<div class="col-md-6 mt-1">
								<h5>{{proposal.title}}</h5>
								<p class="text-justify text-truncate para mb-0" >{{proposal.preview}}<br><br></p>
								<div class="alert alert-info" role="alert">
									<span style="color: green; font-weight: bold;"><i class="fas fa-spinner fa-spin"></i> Alert: You can hire more staff from<a href="{% url 'proposals:proposal_detail' proposal.created_by.short_name proposal.slug %}"> Hiring More Staff table</a></span>
								</div>
									<div class="form-group">
										<a href="javascript:void(0);" class="btn btn-outline-primary btn-sm mt-2"> 1 of {{proposal.team.members.count}} Staff{{proposal.team.members.count|pluralize}}</a>

										<select id="select" class="form-control" style="width:auto;">
											<option selected disabled hidden> {{member_qty}} </option>
												<option value=1 selected> 1 </option>
											</select>                                                                                                                    
											<button type="button" id="add-box" value="{{proposal.id}}" class="btn btn-info btn-sm mt-2"> 1 staff chosen </button>
										</div>
									</div>
									<div class="align-items-center align-content-center col-md-3 border-left mt-1">
										<div class="d-flex flex-row align-items-center">
											<button class="btn btn-outline-primary btn-sm mt-2" type="button">Total Salary: ${{proposal.salary}}</a></button><br><br>
										</div>
										<h6 class="text-info">Service Duration: {{proposal.duration}}</h6>
										<h6 class="text-info">Service Level: {{proposal.service_level}}</h6>
										<h6 class="text-info">Revision: {{proposal.get_revision_display}}</h6>
									</div>
								</div>
							</div>
							
							<div id = 'newproposaladd-box' class="wt-updatall">
								<span>Step 1: I confirm my purchase Intent </span>
								<a href="javascript:void(0);" class="wt-btn">Amount $
									<div id="get_tottals" class="btn btn-inline-danger text-white">{{proposal.salary}}</div>
								</a>
							</div>
							<div id = 'proposaladd-nextstep' class="wt-updatall">
								<span>Step 2: Get up to 10% discount for every hire above $500 on your next step</span>
								<a href="{% url 'transactions:payment_option_selection' %}" class="wt-btn">Move to Next Page </div>
								</a>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>

<script>
	//Script to add proposal quantity in session             
	$(document).on('click', '#add-box', function (e) {
	  e.preventDefault();
	  var button = $(this).attr("value");
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#add-box').val(),
			memberqty: $('#select option:selected').text(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			console.log(json)
			document.getElementById("members-qty").innerHTML = json.member_qty
			document.getElementById("get_tottals").innerHTML = json.get_totals
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
  </script>

  <script>
	  	//Script to confirm purchase intent and add proposal quantity in box
	$(document).on('click', '#newproposaladd-box', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#add-box').val(),
			memberqty: $('#select option:selected').text(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			console.log(json)
			document.getElementById("members-qty").innerHTML = json.member_qty
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
  </script>

{% endblock content %}
