{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}


	<section class="wt-haslayout wt-dbsectionspace">
		<div class="row justify-content-md-center">				
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
				<div class="wt-dashboardbox">
					<div class="wt-dashboardboxtitle">
						<h2>Manage Applicants</h2>
					</div>
					<div class="wt-dashboardboxcontent wt-rcvproposala">
						<div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
							<div class="wt-userlistingcontent">
								<h3>{{ project.title }}</h3>
								<div class="wt-contenthead">
									<ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
										<li><span class="wt-dashboraddoller"><i class="fa fa-graduation-cap"></i>{{project.get_service_level_display}}</span></li>
										<li><span>{% if project.created_by.country.flag %}<img src="{{project.created_by.country.flag.url}}" alt="img description"> {% else %}{{project.created_by.country.country_code}} - {% endif %} {{project.created_by.country.name|truncatechars:30}}</span></li>
										<li><span class="wt-dashboraddoller">Salary: {{base_currency}} {{project.salary}}</span></li>
										<li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: {{project.get_dura_converter_display}}</span></li>															
									</ul>
								</div>
								<div class="wt-description">
									<p>{{ project.preview}} </p>
								</div>	
							<div class="wt-rightarea">
								{% if request.user == project.created_by %}
								<div class="wt-btnarea"><a href="{% url 'applications:client_application' %}" class="btn btn-danger"><i class="fa fa-arrow-up"></i> Go Back</a></div>
								{% else %}
								<div class="wt-btnarea"><a href="{% url 'applications:freelancer_application' %}" class="btn btn-danger"><i class="fa fa-arrow-up"></i> Go Back</a></div>
								{% endif %}															
									<div class="wt-hireduserstatus">
										<h4>{{ project.applications.count }}</h4><span>Applicants</span>
										<ul class="wt-hireduserimgs">
											{% for application in project.applications.all %}
											<li><figure><img src="{{application.applied_by.freelancer.profile_photo.url}}" alt="img description"></figure></li>
											{% endfor %}
										</ul>
									</div>
									<div class="wt-hireduserstatus">
										<h4>{{project.created_by.get_full_name}}</h4><span>Project Creator</span>
										<ul class="wt-hireduserimgs">
											<li><figure><img src="{{project.created_by.clients.profile_photo.url}}" alt="img description"></figure></li>
										</ul>
									</div>												
								</div>
							</div>	
						</div>
						
						<div class="wt-freelancerholder wt-rcvproposalholder">
							<div id="project" data-value = "{{project.id}}" class="wt-tabscontenttitle">
								<h2>{% if request.user.freelancer %} Your Application {% elif request.user.clients %} Received Application{{ applications|pluralize }} {% endif %}</h2>
							</div>

							<div id="approve-applicant" class="wt-managejobcontent">
								{% include "applications/partials/accept_applicant.html" %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 col-xl-3">
				<aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent">
							<figure>
								<img src="{% static 'images/thumbnail/img-17.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>150</h3>
								<span>Total Ongoing Jobs</span>
							</div>
						</div> 
					</div>
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent wt-componyfolow">
							<figure>
								<img src="{% static 'images/thumbnail/img-16.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>1406</h3>
								<span>Total Completed Jobs</span>
							</div>
						</div> 
					</div>								
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent  wt-freelancelike">
							<figure>
								<img src="{% static 'images/thumbnail/img-15.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>2075</h3>
								<span>Total Cancelled Jobs</span>
							</div>
						</div> 
					</div>								
				</aside>
				<div class="wt-companyad">
					<figure class="wt-companyadimg"><img src="{% static 'images/add-img.jpg' %}" alt="img description"></figure>
					<span>Advertisement  255px X 255px</span>
				</div>
			</div>
		</div>
	</section>
	<!--Register Form End-->						
	{% comment %} <script>
		$(document).on('click', '.accept-project-applicant', function (e) {
			e.preventDefault();

			let projectid = document.getElementById('project').getAttribute('data-value');
			let applicant = $(this).data('index');
			$.ajax({
			type: 'POST',
			url: '{% url "applications:add_application" %}',
			data: {
				projectid:projectid,
				applicationid: $(this).data('index'),
				csrfmiddlewaretoken: "{{csrf_token}}",
				action: 'accept-applicant'
			},
			success: function (json) {
				console.log(json)
				$('.application-status[data-index="' + applicant + '"]').innerHTML = json['app_status']
				document.getElementById('feedback-message').innerHTML = json['message']						
				document.getElementById('applicantApproveCount').innerHTML= json['applicant_count']							

			},
			error: function (xhr, errmsg, err) {}
			});
		})
	</script> {% endcomment %}

{% endblock %}
