{% extends "dashboard/main_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css'%}">
{% block content%}


                <div class="wt-dashboardbox">
                    <div class="wt-proposalsr">
                        <div class="container"><br><br><br>
                            <div class="wt-managejobcontent">
                                <div class="col-12">
                                    <h3>{{message}}</h3>
                                </div>
                                <div class="col-12">
                            <p>Payment completed and all good</p>
                                </div>
                            </div>
                            <div class="container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wt-proposalholder mt-6">
                <div class="row justify-content-md-center">
                    <div class="wt-sectionhead wt-textcenter">
                        <span>Copyright @ {{website.site_name}}</span>
                    </div>
                </div>
            </div> 
{% endblock %}



