{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include "account/partials/feebanner.html" %}
        
    <div class="wt-proposalholder">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wt-tabscontenttitle proposal-total-btn">
                        <h5>Bucket preview</h5>
                        <button id="grandTotal" type="button" class="proposal-btn-state">{{base_currency}}  {% if applicant_box.get_total_price_before_fee_and_discount %}{{applicant_box.get_total_price_before_fee_and_discount}}{% else %} 0 {% endif %}</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table" style="border:none;">
                        <thead class="addon-header">
                            <tr>
                                <th>#</th>
                                <th>Team lead</th>
                                <th>Jobs Applied</th>
                                <th>Bid Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                            
                        {% for applicant in applicant_box %}
						{% with application=applicant.application %}
                        <tbody data-index="{{application.id}}" class="proposal-item">
                            <tr>
                                <td>{{forloop.counter}}</td> 
                                <td><img src="{{application.team.created_by.freelancer.profile_photo.url}}" alt='product in bucket' style="width:60px; height:40px; min-width:60px;"></td>
                                <td class="text-left">{{application.project.title|truncatechars:60}}</td>
                                <td><button class="btn btn-outline-primary btn-sm mt-2" type="button" disabled> {{base_currency}} {{application.budget}}</a></button></td>
                                <td><button type="button" id="remove-box" data-index="{{application.id}}" class="badge badge-danger btn-sm mt-2 remove-box"><i class="fa fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                        {% endwith %}
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="wt-tabscontenttitle">
                <h5>Product pricing</h5>
            </div>
            <div id="payment-method" class="row">
                {% include 'applications/partials/pricing_option_with_fees.html' %}
            </div>
            {% comment %} <br>
            <br>
            <br>
            <br>
            <br> {% endcomment %}
            <div class="row justify-content-md-center">
                <div class="wt-sectionhead wt-textcenter">
                    <span>Copyright @ {{website.site.name|capfirst}}</span>
                </div>
            </div>
            <br>
            <br>
        </div> 
        </div> 
        
    </div> 
    </div>

	{% include 'client/partials/one_click_proposal_modal.html' %}

    {% endblock content %}
    {% block scripts %}
    
    <script>
        //Script to delete proposal in session
        $(document).on('click', '.remove-box', function (e) {
            e.preventDefault();
            var applicId = $(this).data('index');
            $.ajax({
            type: 'POST',
            url: '{% url "applications:remove_application" %}',
            data: {
                applicationid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                $('.proposal-item[data-index="' + applicId + '"]').remove();
                document.getElementById("totalFreelancer").innerHTML = json.freelancers;
                document.getElementById("totalDiscount").innerHTML = `Up to ${json.discount}%`;
                document.getElementById("grandTotal").innerHTML = `${json.base_currency} ${json.grandtotal}`
                document.getElementById("grandTotal2").innerHTML = `${json.base_currency} ${json.grandtotal}`
            },
            error: function (xhr, errmsg, err) {}
            });
        })
    </script>
    
    <script>
        //Script to add proposal quantity in session             
        $(document).on('click', '#convert-currency', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "general_settings:converter" %}',
            data: {
                currencyid: $('#id_currency option:selected').val(),
                targetamount: '{{hiring_box.get_total_price_after_discount_and_fee}}',
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'currency'
            },
            success: function (json) {
                document.getElementById('feedback-converter').innerHTML = json.message
            },
            error: function (xhr, errmsg, err) {}
        });
        })
    </script>
    <script>
        $(document).on('click', '#oneClickCheckout', function (e) {
          e.preventDefault();
    
          let displayMessage = document.getElementById('oneClick-message');
          let displayError = document.getElementById("oneClick-error")
          $.ajax({
            type: 'POST',
            url: '{% url "client:one_click_proposal_checkout" %}',
            data: {
                proposalId:'{{proposal.id}}',
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'oneclick-pay'
            },
            beforeSend:function(){
                $("#oneClickCheckout").attr("disabled", true);
            },
            success: function (json) {
                if(json.errors != ''){
                    displayError.innerHTML = json.errors;
                    $("#oneClickCheckout").attr("disabled", false);
                    return false
                }
                else{
                    displayMessage.innerHTML = '';
                    displayMessage.innerHTML = json.message;
                    window.location.href = "{% url 'transactions:proposal_transaction' %}"
                    $("#oneClickCheckout").attr("disabled", false);
                }
            },
            error: function (xhr, errmsg, err) {
                $("#oneClickCheckout").attr("disabled", false);
            }
          });
        })
      </script>

{% endblock scripts %}

