aioredis==1.3.1
amqp==5.0.6
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
billiard==3.6.4.0
celery==5.1.2
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==2.0.7
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.8
cssselect2==0.4.1
daphne==3.0.2
Django==3.2.8
django-appconf==1.0.5
django-celery-beat==2.2.1
django-celery-results==2.2.0
django-ckeditor==6.1.0
django-countries==7.2.1
django-embed-video==1.4.0
django-formtools==2.3
django-htmx==1.6.0
django-image-cropping==1.6.1
django-js-asset==1.2.2
django-otp==1.1.1
django-phonenumber-field==5.2.0
django-timezone-field==4.2.1
django-two-factor-auth==1.13.2
django-widget-tweaks==1.4.12
easy-thumbnails==2.8
greenlet==1.1.2
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
kombu==5.1.0
lxml==4.6.4
msgpack==1.0.2
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
phonenumbers==8.12.35
Pillow==8.4.0
prompt-toolkit==3.0.21
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==21.0.0
python-crontab==2.6.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
qrcode==6.1
redis==3.5.3
reportlab==3.6.2
requests==2.26.0
service-identity==21.1.0
six==1.16.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
stripe==2.64.0
stripe3==0.0.0
svglib==1.1.0
tinycss2==1.1.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
zope.interface==5.4.0
