
{% load static %}

<html>
	{% include "main/main_header.html" %}

<body>
	{% include 'main/main_navbar.html' %}

        <!-- Alert message Start -->
            {% if messages %}
            {% for message in messages %}        
            <div class="row justify-content-md-center">        
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="wt-jobalerts">
                            <div class="alert alert-{{message.tags}} alert-dismissible fade show">
                                <span> {{ message }} </span>
                                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
            {% endif %}      

	{% comment %} {% include 'main/main_sidebar.html' %} {% endcomment %}

        
    {% block content %}

    {% endblock content %}

    {% comment %} {% include 'main/main_footer.html' %} {% endcomment %}
    
    {% include 'main/main_scripts.html' %}

</body>

</html>
