{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}


			<!--Main Start-->
            
            <!--Inner Home Banner Start-->
            <div class="wt-haslayout wt-innerbannerholder">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                            <div class="wt-innerbannercontent">
                                <div class="wt-title"><h2>Create Contract</h2></div>
                                <ol class="wt-breadcrumb">
                                    <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                                    <li class="wt-active">Add Offer Contract</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Inner Home End-->
            <main id="wt-main" class="wt-main wt-haslayout">

			<div class="wt-haslayout wt-main-section">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxtitle">
                                <h2>Create an Offer Contract</h2>
                            </div>
                            <div class="wt-dashboardboxcontent">                                                               
                            <div class="alert alert-info justify-content-md-center" role="alert">
                                <span style="color: blue; font-weight: bold;"> After creating contract, you can chat the team on contract detail page.</span>
                            </div> 
                            <form method='POST' action=''>{% csrf_token %}
                                {% if intcontractform.errors %}
                                    <p>{{ intcontractform.non_field_errors }}</p>
                                    {% for field in intcontractform %}
                                    {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.label}}:  {{ field.errors|striptags }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                <div class="wt-jobdescription wt-tabsinfo">
                                    <div class="wt-tabscontenttitle">
                                        <h2>Contract Details</h2>
                                        </div>
                                        <div class="form-row">
                                        
                                            <div class="form-group col-md-6">
                                                <span><i class="fa fa-group"> Freelancer Name: {{freelancer.user.get_full_name}}</i></span><br><br>
                                                <span><i class="fa fa-group"> Team Name: {{team.title}}</i></span><br><br>
                                                <span><i class="far fa-calendar"> Team has: {{team.members.count}} Member{{team.members.count|pluralize}}</i></span><br><br>
                                            </div>
                                              
                                        </div>  	 	
                                    <div class="wt-jobdetails wt-tabsinfo">
                                        <div class="wt-tabscontenttitle">
                                            <h2>Background</h2>
                                        </div>      
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{intcontractform.proposal.label}}
                                                {{intcontractform.proposal}}
                                            </div>                                          
                                            <div class="form-group col-md-12">
                                                {{intcontractform.contract_duration.label}}
                                                {{intcontractform.contract_duration}}
                                            </div>
                                        </div> 
                                    </div>  
                                    <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Product and Services</h2>
										</div>                                          
                                        <div class="form-row" id="line_one">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_one.label}}
                                                {{ intcontractform.line_one}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_one_quantity.label}}
                                                {{ intcontractform.line_one_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_one_unit_price.label}}
                                                {{ intcontractform.line_one_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_one_total_price.label }}
                                                {{ intcontractform.line_one_total_price }}
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_two">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_two.label}}
                                                {{ intcontractform.line_two}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_two_quantity.label}}
                                                {{ intcontractform.line_two_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_two_unit_price.label}}
                                                {{ intcontractform.line_two_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_two_total_price.label }}
                                                {{ intcontractform.line_two_total_price }}
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_three">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_three.label}}
                                                {{ intcontractform.line_three}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_three_quantity.label}}
                                                {{ intcontractform.line_three_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_three_unit_price.label}}
                                                {{ intcontractform.line_three_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_three_total_price.label }}
                                                {{ intcontractform.line_three_total_price }}
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_four">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_four.label}}
                                                {{ intcontractform.line_four}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_four_quantity.label}}
                                                {{ intcontractform.line_four_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_four_unit_price.label}}
                                                {{ intcontractform.line_four_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_four_total_price.label }}
                                                {{ intcontractform.line_four_total_price }}
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_five">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_five.label}}
                                                {{ intcontractform.line_five}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_five_quantity.label}}
                                                {{ intcontractform.line_five_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_five_unit_price.label}}
                                                {{ intcontractform.line_five_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_five_total_price.label }}
                                                {{ intcontractform.line_five_total_price }}
                                            </div>
                                        </div>                                        
                                            <button type="button" id="proposal-extras" class="btn btn-success"> +/- Show Service </button>                               
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ intcontractform.grand_total.label }}
                                                {{ intcontractform.grand_total }}
                                            </div>
                                        </div>      
                                        <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Description</h2>
										</div>     
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ intcontractform.notes.label }}
                                                {{ intcontractform.notes }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    </div>
                                        </div>
                                            <div class="wt-updatall">
                                                <i class="ti-announcement"></i>
                                                <span>Create with “Create Contract" button.</span>
                                                <button type="submit" class="wt-btn"> Create Contract </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </form>
						</div>
					</div>
				</div>
			</div>					
		</main>

{% endblock %}


                     