{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}


			<!--Main Start-->
            
            <!--Inner Home Banner Start-->
            <div class="wt-haslayout wt-innerbannerholder">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                            <div class="wt-innerbannercontent">
                                {% if monthly_contracts_limiter %} 
                                <div class="wt-title"><h2>Create Contract</h2></div>
                                <ol class="wt-breadcrumb">
                                    <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                                    <li class="wt-active">Add Offer Contract</li>
                                </ol>
                                {% else %}
                                <div class="wt-title"><h2>Missed the train</h2></div>
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Inner Home End-->
            <main  class="wt-main wt-haslayout">

			<div class="wt-haslayout wt-main-section">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxtitle">
                                <h2>{% if monthly_contracts_limiter %} Create an Offer Contract {% endif %}</h2>
                            </div>
                            {% if monthly_contracts_limiter %}                                                                
                            <div class="wt-dashboardboxcontent">  
                            <div class="alert alert-info justify-content-md-center" role="alert">
                                <span style="color: blue; font-weight: bold;"> After creating contract, you can chat the team on contract detail page.</span>
                            </div> 
                            <form method='POST' action=''>{% csrf_token %}
                                {% if intcontractform.errors %}
                                <div class="alert alert-danger text-center" role="alert">
                                    Ooop! form error occured. Please check below and correct
                                </div>
                                {% endif %} 
                                
                                <div class="wt-jobdescription wt-tabsinfo">
                                    <div class="wt-tabscontenttitle">
                                        <h2>Contract Details</h2>
                                        </div>
                                        <div class="form-row">
                                        
                                            <div class="form-group col-md-6">
                                                <span><i class="fa fa-group"> Freelancer Name: {{freelancer.user.get_full_name}}</i></span><br><br>
                                                <span><i class="fa fa-group"> Team Name: {{team.title}}</i></span><br><br>
                                                <span><i class="far fa-calendar"> Team has: {{team.members.count}} Member{{team.members.count|pluralize}}</i></span><br><br>
                                            </div>
                                              
                                        </div>  	 	
                                    <div class="wt-jobdetails wt-tabsinfo">
                                        <div class="wt-tabscontenttitle">
                                            <h2>Background</h2>
                                        </div>      
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{intintcontractform.proposal.label}}
                                                {{intcontractform.proposal}}
                                                <span style="color:red;" role="alert">{{ intcontractform.proposal.errors}}</span>
                                            </div>                                          
                                            <div class="form-group col-md-12">
                                                {{intcontractform.contract_duration.label}}
                                                {{intcontractform.contract_duration}}
                                                <span style="color:red;" role="alert">{{ intcontractform.contract_duration.errors}}</span>
                                            </div>
                                        </div> 
                                    </div>  
                                    <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Product and Services</h2>
										</div>                                          
                                        <div class="form-row" id="line_one">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_one.label}}
                                                {{ intcontractform.line_one}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_one.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_one_quantity.label}}
                                                {{ intcontractform.line_one_quantity}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_one_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_one_unit_price.label}}
                                                {{ intcontractform.line_one_unit_price}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_one_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_one_total_price.label }}
                                                {{ intcontractform.line_one_total_price }}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_one_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_two">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_two.label}}
                                                {{ intcontractform.line_two}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_two.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_two_quantity.label}}
                                                {{ intcontractform.line_two_quantity}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_two_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_two_unit_price.label}}
                                                {{ intcontractform.line_two_unit_price}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_two_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_two_total_price.label }}
                                                {{ intcontractform.line_two_total_price }}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_two_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_three">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_three.label}}
                                                {{ intcontractform.line_three}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_three.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_three_quantity.label}}
                                                {{ intcontractform.line_three_quantity}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_three_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_three_unit_price.label}}
                                                {{ intcontractform.line_three_unit_price}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_three_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_three_total_price.label }}
                                                {{ intcontractform.line_three_total_price }}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_three_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_four">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_four.label}}
                                                {{ intcontractform.line_four}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_four.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_four_quantity.label}}
                                                {{ intcontractform.line_four_quantity}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_four_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_four_unit_price.label}}
                                                {{ intcontractform.line_four_unit_price}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_four_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_four_total_price.label }}
                                                {{ intcontractform.line_four_total_price }}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_four_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_five">
                                            <div class="form-group col-md-6">
                                                {{ intcontractform.line_five.label}}
                                                {{ intcontractform.line_five}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_five.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_five_quantity.label}}
                                                {{ intcontractform.line_five_quantity}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_five_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_five_unit_price.label}}
                                                {{ intcontractform.line_five_unit_price}}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_five_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ intcontractform.line_five_total_price.label }}
                                                {{ intcontractform.line_five_total_price }}
                                                <span style="color:red;" role="alert">{{ intcontractform.line_five_total_price.errors}}</span>
                                            </div>
                                        </div>                                        
                                            <button type="button" id="proposal-extras" class="btn btn-success"> add/hide More Service </button>                               
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ intcontractform.grand_total.label }}
                                                {{ intcontractform.grand_total }}
                                                <span style="color:red;" role="alert">{{ intcontractform.grand_total.errors}}</span>
                                            </div>
                                        </div>      
                                        <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Description(Optional)</h2>
										</div>     
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ intcontractform.notes.label }}
                                                {{ intcontractform.notes }}
                                                <span style="color:red;" role="alert">{{ intcontractform.notes.errors}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    </div>
                                        </div>
                                            <div class="wt-updatall">
                                                <i class="ti-announcement"></i>
                                                <span>Create with “Create Contract" button.</span>
                                                <button type="submit" class="wt-btn"> Create Contract </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </form>
                            {% else %}
                            <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"> Error Occured!</i> 
                                    {% if request.user.freelancer %}
                                    <div class="wt-updatall">
                                        <span>Sorry! we could not fetch the information.</span>
                                        <a href="{% url 'marketing:support' %}"> Check resources</a>
                                    </div>
                                    {% elif request.user.clients %}
                                    <div class="wt-updatall">
                                        <span>Sorry! we could not fetch the information.</span>
                                        <a class="wt-btn" href="{% url 'freelancer:freelancer_listing' %}"> Check other freelancers</a>
                                    </div>
                                    {% endif %}
                                </span>
                            </div>	
                            {% endif %}
						</div>
					</div>
				</div>
			</div>					
		</main>

{% endblock %}


                     