{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}


			<!--Main Start-->
		<main id="wt-main" class="wt-main wt-haslayout">
               
            <!--Inner Home Banner Start-->
            <div class="wt-haslayout wt-innerbannerholder">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                            <div class="wt-innerbannercontent">
                            <div class="wt-title"><h2>Contract</h2></div>
                                <ol class="wt-breadcrumb">
                                    <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                                    <li class="wt-active">Add Offer Contract</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Inner Home End-->

			<div class="wt-haslayout wt-main-section">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxtitle">
                                <h2>Create a Contract</h2>
                            </div>
                            <div class="wt-dashboardboxcontent">
                            {% if existing_user < 1 %}                                                                
                            {% if existing_contract < 1 %}                                                                
                            <form method='POST' action=''>{% csrf_token %}
                                {% if contractform.errors %}
                                <div class="alert alert-danger text-center" role="alert">
                                    Ooop! form error occured. Please check below and correct
                                </div>
                                {% endif %}  
                                <div class="wt-jobdescription wt-tabsinfo">
                                    <div class="wt-tabscontenttitle">
                                        <h2>Client Details</h2>
                                    </div>	
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <span><i class="fa fa-user" style="color:green;"> Client Name:</i> {{client.name}}</span><br><br>
                                            <span><i class="fa fa-envelope" style="color:green;"> Client Email:</i> {{client.email}}</span><br><br>
                                            <span><i class="far fa-money-bill-alt" style="color:green;"> Currency:</i> {{base_currency}}</span><br><br>
                                        </div>
                                    </div>
                                    <div class="wt-jobdetails wt-tabsinfo">
                                        <div class="wt-tabscontenttitle">
                                            <h2>Contract Term</h2>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{contractform.contract_duration.label}}
                                                {{contractform.contract_duration}}
                                                <span style="color:red;" role="alert">{{ contractform.contract_duration.errors}}</span>
                                            </div>
                                        </div>  
                                    </div>  
                                    <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Product and Services</h2>
										</div>                                          
                                        <div class="form-row" id="line_one">
                                            <div class="form-group col-md-6">
                                                {{ contractform.line_one.label}}
                                                {{ contractform.line_one}}
                                                <span style="color:green;" role="alert">{{ contractform.line_one.help_text}}</span>
                                                
                                                <span style="color:red;" role="alert">{{ contractform.line_one.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_one_quantity.label}}
                                                {{ contractform.line_one_quantity}}
                                                <span style="color:red;" role="alert">{{ contractform.line_one_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_one_unit_price.label}}
                                                {{ contractform.line_one_unit_price}}
                                                <span style="color:red;" role="alert">{{ contractform.line_one_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_one_total_price.label }}
                                                {{ contractform.line_one_total_price }}
                                                <span style="color:red;" role="alert">{{ contractform.line_one_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_two">
                                            <div class="form-group col-md-6">
                                                {{ contractform.line_two.label}}
                                                {{ contractform.line_two}}
                                                <span style="color:red;" role="alert">{{ contractform.line_two.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_two_quantity.label}}
                                                {{ contractform.line_two_quantity}}
                                                <span style="color:red;" role="alert">{{ contractform.line_two_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_two_unit_price.label}}
                                                {{ contractform.line_two_unit_price}}
                                                <span style="color:red;" role="alert">{{ contractform.line_two_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_two_total_price.label }}
                                                {{ contractform.line_two_total_price }}
                                                <span style="color:red;" role="alert">{{ contractform.line_two_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_three">
                                            <div class="form-group col-md-6">
                                                {{ contractform.line_three.label}}
                                                {{ contractform.line_three}}
                                                <span style="color:red;" role="alert">{{ contractform.line_three.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_three_quantity.label}}
                                                {{ contractform.line_three_quantity}}
                                                <span style="color:red;" role="alert">{{ contractform.line_three_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_three_unit_price.label}}
                                                {{ contractform.line_three_unit_price}}
                                                <span style="color:red;" role="alert">{{ contractform.line_three_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_three_total_price.label }}
                                                {{ contractform.line_three_total_price }}
                                                <span style="color:red;" role="alert">{{ contractform.line_three_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_four">
                                            <div class="form-group col-md-6">
                                                {{ contractform.line_four.label}}
                                                {{ contractform.line_four}}
                                                <span style="color:red;" role="alert">{{ contractform.line_four.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_four_quantity.label}}
                                                {{ contractform.line_four_quantity}}
                                                <span style="color:red;" role="alert">{{ contractform.line_four_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_four_unit_price.label}}
                                                {{ contractform.line_four_unit_price}}
                                                <span style="color:red;" role="alert">{{ contractform.line_four_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_four_total_price.label }}
                                                {{ contractform.line_four_total_price }}
                                                <span style="color:red;" role="alert">{{ contractform.line_four_total_price.errors}}</span>
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_five">
                                            <div class="form-group col-md-6">
                                                {{ contractform.line_five.label}}
                                                {{ contractform.line_five}}
                                                <span style="color:red;" role="alert">{{ contractform.line_five.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_five_quantity.label}}
                                                {{ contractform.line_five_quantity}}
                                                <span style="color:red;" role="alert">{{ contractform.line_five_quantity.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_five_unit_price.label}}
                                                {{ contractform.line_five_unit_price}}
                                                <span style="color:red;" role="alert">{{ contractform.line_five_unit_price.errors}}</span>
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ contractform.line_five_total_price.label }}
                                                {{ contractform.line_five_total_price }}
                                                <span style="color:red;" role="alert">{{ contractform.line_five_total_price.errors}}</span>
                                            </div>
                                        </div>                                        
                                            <button type="button" id="proposal-extras" class="btn btn-success"> add/hide More Service </button>                               
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ contractform.grand_total.label }}
                                                {{ contractform.grand_total }}
                                                <span style="color:red;" role="alert">{{ contractform.grand_total.errors}}</span>
                                            </div>
                                        </div>      
                                        <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Description(Optional)</h2>
										</div>     
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ contractform.notes.label }}
                                                {{ contractform.notes }}
                                                <span style="color:red;" role="alert">{{ contractform.notes.errors}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    </div>
                                        </div>
                                            <div class="wt-updatall">
                                                <i class="ti-announcement"></i>
                                                <span>Create with “Create Contract button.</span>
                                                <button type="submit" class="wt-btn"> Create Contract </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </form>
                            {% else %}
                            <div class="wt-updatall">
                                <span>The client is either an existing member or has already been offered external contract. Let him/her offer from your profile</span>
                                <span>
                                    Copy and Share:<em style="color:green;">{{profile_path}}</em>
                                <span>
                            </div>
                            {% endif %}
                            {% endif %}
						</div>
					</div>
				</div>
			</div>
			</main>

{% endblock %}
