{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

	<!--Register Form Start-->
	<section class="wt-haslayout wt-dbsectionspace">
		<div class="row justify-content-md-center">				
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
				<div class="wt-dashboardbox">
					<div class="wt-dashboardboxtitle">
						<h2>Manage Payment List</h2>
					</div>
					<div class="wt-dashboardboxcontent wt-jobdetailsholder">
						<div class="wt-freelancerholder">
							<div class="wt-tabscontenttitle">
								<h2>Redeem Contract</h2>
							</div>
							<div class="wt-managejobcontent">
                            
                            <div class="container mt-5 mb-5">
                                <div class="d-flex justify-content-center row">
                                    <div class="col-md-12">
                                        <div class="row p-2 bg-white border rounded">
                                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{contract.created_by.freelancer.profile_photo.url}}"></div>
                                            <div class="col-md-6 mt-1">
                                            <h5>{{contract.line_one}}</h5>
                                            <p class="text-justify para mb-0" >Extras: {% if contract.line_two %} {{contract.line_two}}, {% endif %} {% if contract.line_three %} {{contract.line_three}},{% endif %} {% if contract.line_four %} {{contract.line_four}}, {% endif %} {% if contract.line_five %}{{contract.line_five}}{% endif %}...<br><br></p>
                                                </div>
                                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                                    <div class="d-flex flex-row align-items-center">
														<button class="btn btn-outline-success btn-sm mt-2" type="button">Total Salary: ${{contract.grand_total}}</a></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<h3>Payment Options</h3>
							<div class="wt-managejobcontent">
								{% for payment in payments %}
								<div class="wt-userlistinghold wt-featured wt-proposalitem">
									<figure class="wt-userlistingimg">
									{% if contract.created_by.freelancer.profile_photo %}
										{{payment.gateway_logo_tag}}
									{% endif %}
									</figure>

									<div class="wt-proposaldetails">
										<div class="wt-contenthead">
											<div class="wt-title">
												<a href="{{application.applied_by.freelancer.profile_get_absolute_url}}"></a>
											</div>
										</div>
									</div>
									<div class="wt-rightarea">
										<div class="wt-hireduserstatus">
											<h6>{{payment.name}} Checkout</h6>
										</div>										
										<div class="wt-hireduserstatus">
											<button class="btn btn-outline-success btn-sm mt-2" id="total-salary" type="button">Total Salary: ${{contract.grand_total}}</a></button>
										</div>										
										<div class="wt-hireduserstatus">
											<a href="" class="btn btn-success">Pay Now </a>
										</div>

									</div>
								</div>
								{% endfor %}
							</div>							
                        </div>
                    </div>						
				</div>					
			</div>

			
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
				<aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent">
							<figure>
								<img src="{% static 'images/thumbnail/img-17.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>150</h3>
								<span>Total Ongoing Jobs</span>
							</div>
						</div> 
					</div>
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent wt-componyfolow">
							<figure>
								<img src="{% static 'images/thumbnail/img-16.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>1406</h3>
								<span>Total Completed Jobs</span>
							</div>
						</div> 
					</div>								
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent  wt-freelancelike">
							<figure>
								<img src="{% static 'images/thumbnail/img-15.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>2075</h3>
								<span>Total Cancelled Jobs</span>
							</div>
						</div> 
					</div>								
				</aside>
				<div class="wt-companyad">
					<figure class="wt-companyadimg"><img src="{% static 'images/add-img.jpg' %}" alt="img description"></figure>
					<span>Advertisement  255px X 255px</span>
				</div>
			</div>
		</div>
	</section>
	<!--Register Form End-->

</section>
  

{% endblock content %}