{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

<main id="wt-main" class="wt-main wt-haslayout">
    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>Deposit Hub</h2></div>
                    <ol class="wt-breadcrumb">
                        <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                        <li class="wt-active">Deposit </li>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wt-proposalholder">
        <div class="row justify-content-md-center">
            <div class="wt-hireduserstatus">
                <h4>Step 1 of 2: Deposit Type </h4>
            </div>											
        </div>
    </div>
    {% if client %}
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row justify-content-md-center">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Fee</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody data-index="{{gateway.id}}">
                                    {% for gateway in gateways %}
                                    <tr>
                                        <tr> 
                                        {% if gateway.name == 'PayPal' and depo_switch.paypal == True %}
                                        <td>{{gateway.name }}</td>
                                        <td> ${{gateway.processing_fee}}</td>
                                        <td><input type="radio" name="depositGateway" id="{{gateway.id}}" value="{{gateway.id}}"></input></td>
                                        {% endif %}
                                        
                                        {% if gateway.name == 'Stripe' and depo_switch.stripe == True %}
                                        <td>{{gateway.name }}</td>
                                        <td> ${{gateway.processing_fee}}</td>
                                        <td><input type="radio" name="depositGateway" id="{{gateway.id}}" value="{{gateway.id}}"></input></td>
                                        {% endif %}
                                        
                                        {% if gateway.name == 'Razorpay' and depo_switch.razorpay == True %}
                                        <td>{{gateway.name }}</td>
                                        <td> ${{gateway.processing_fee}}</td>
                                        <td><input type="radio" name="depositGateway" id="{{gateway.id}}" value="{{gateway.id}}"></input></td>
                                        {% endif %}
                                        
                                        {% if gateway.name == 'Flutterwave' and depo_switch.flutterwave == True %}
                                        <td>{{gateway.name }}</td>
                                        <td> ${{gateway.processing_fee}}</td>
                                        <td><input type="radio" name="depositGateway" id="{{gateway.id}}" value="{{gateway.id}}"></input></td>
                                        {% endif %}
                                    </tr>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if depo_switch.paypal == False and depo_switch.stripe == False and depo_switch.razorpay == False and depo_switch.flutterwave == False %}
                            <hr>    
                            <div class="text-center text-primary">This feature is under maintenance. Please check back later</div>
                            {% endif %}
                        </div>
                    </div>								
                </section>
                {% if depo_switch.paypal == True or depo_switch.stripe == True or depo_switch.razorpay == True or depo_switch.flutterwave == True %}
                    <div class="wt-updatall">
                        <span>Step 1 of 2 completed</span>
                        <a href="{% url "client:final_deposit" %}" class="wt-btn">Next Step</a>
                    </div>
                {% endif %}
            
            <section class="wt-haslayout wt-dbsectionspace">
                <div class="row justify-content-md-center">				
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxcontent wt-rcvproposala">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                                    <h3>Deposit History</h3>
                                    <div class="wt-freelancerholder wt-rcvproposalholder">												
                                        <div class="wt-tabscontenttitle">
                                            <div class="alert alert-warning" role="alert">
                                                <span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> 
                                                    Info: Only successful debit will impact a credit to your account. 
                                                </span>
                                            </div>
                                        </div>									 
                                            <div class="table-responsive">
                                                <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Reference</th>
                                                        <th>Date</th>
                                                        <th>Type</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for deposit in deposits %}
                                                    <tr>
                                                        <td>{{forloop.counter}} </td>
                                                        <td>{{deposit.reference}}</td>
                                                        <td>{{deposit.created_at}}</td>
                                                        <td>{{deposit.gateway}}</td>
                                                        <td>{{deposit.amount}}</td>
                                                        <td>{{deposit.get_status_display}}</td>
                                                    </tr> 
                                                {% endfor %}					
                                                    </tbody>
                                                </table>
                                                {% if not deposits %}
                                                <p><strong>You have no deposit at the moment but you can change that</strong></p>
                                                {% endif %}											
                                            </div> 
                                        </div>
                                    </div>								
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endif %}

            <div class="wt-proposalholder">
                <div class="row justify-content-md-center">
                    <div class="wt-sectionhead wt-textcenter">
                        <span>Copyright @ {{website.site_name}}</span>
                    </div>
                </div>
            </div>
        </main>

    {% endblock content %}
    {% block scripts %}
    
    <script>
        $('input[type=radio][name=depositGateway]').on('change', function(e) {
            e.preventDefault();
            $.ajax({
            type: "POST",
            url: '{% url "client:deposit_fee_session" %}',
            data: {
                depogateway: $(this).val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "deposit-gateway",
            },
            success: function (json) {
                console.log(json)
            },
            error: function (xhr, errmsg, err) {},
            });
            
        });
        </script>

    {% endblock scripts %}