{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

<main id="wt-main" class="wt-main wt-haslayout">
    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>Deposit Now</h2></div>
                    <ol class="wt-breadcrumb">
                        <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                        <li class="wt-active">Salaries </li>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if client %}
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row justify-content-md-center">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent">
                        <section id="tabs" class="project-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-info text-center" role="alert">
                                            <span style="color: green; font-weight: bold;"><i class="fa fa-dollar-sign"></i><i class="fa fa-dollar-sign"></i><i class="fa fa-dollar-sign"></i> 
                                                Account Balance: {{base_currency}}&nbsp;{{request.user.clientfunduser.available_balance}}
                                            </span>
                                        </div>
                                        <nav>
                                            <div class="nav nav-pills nav-justified">
                                                <a class="nav-item nav-link text-white btn btn-info mt-2" href="{% url "client:deposit_fee_structure" %}"><i class="fa fa-arrow-left"> &nbsp; &nbsp; Previous Step</i></a>
                                                <a class="nav-item nav-link text-white btn btn-warning mt-2"><i class="fa fa-arrow-down">&nbsp; &nbsp; Time to Deposit</i></a>
                                            </div>
                                        </nav>
                                        
                                        {% if selected_gateway.name == "PayPal" %}
                                        <br>
                                            <div id="paypal-error-message" class="a" role="alert">.</div>
                                            <div id="paypal-success-message" class="a" role="alert">.</div>
                                            
                                            <div class="row">
                                                <h3> Deposit Method - {{selected_gateway}} </h3>
                                                
                                                <div class="form-group">
                                                    <label for="paypaldepositAmount" class="form-label">Deposit Amount </label>
                                                    <input name="paypaldepositAmount" type="number" value="" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="depositAmount">
                                                </div>
                                                <div class="form-group">
                                                    <label for="depositdepositNarration" class="form-label">Narration <span class="text-muted"></span></label>
                                                    <input name="depositdepositNarration" type="text" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="depositNarration" value="">
                                                </div> 
                                                <div id = 'paypal-deposit-confirm' class="wt-updatall">
                                                    <span>Step 1: I confirm that I, <em>"{{request.user.get_full_name}}"</em> am making this transaction </span>
                                                    <a href="javascript:void(0);" class="wt-btn">
                                                        <div id="deposit-confirmation" class="btn btn-inline-danger text-white">I Confirm</div>
                                                    </a>
                                                </div> 
                                                {% comment %} <div id="paypal-button-container"></div> {% endcomment %}
                                                <div id = 'paypal-deposit-nextstep' class="wt-updatall">
                                                    <span>Step 2: I understand that after successful deposit, its Irreversible</span>
                                                    <button onclick="depositPayPalButton(event)" class="wt-btn"> Yes, Make Deposit </button>
                                                </div>	
                                                
                                                <ul class="wt-projectliststyle">
                                                    <div class="wt-title">
                                                        <h5><span style="color: red; font-weight: bold;"> Our Deposit Policy </span><br></h5>
                                                    </div>	
                                                    <li><span><i class="fa fa-check"></i>#1: Deposit amount must range between <em> {{base_currency}}{{min_deposit}} - {{base_currency}}{{max_deposit}} </em></span></li>
                                                    <li><span><i class="fa fa-check"></i>#2: While making deposit, we expect your total balance less than or equal to {{base_currency}}{{max_depositor_balance}}</span></li>
                                                    <li><span><i class="fa fa-check"></i>#3: Your deposit can be used for <em style='color:green'>One-Click-Checkout</em></span></li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if selected_gateway.name == "Flutterwave" %}  
                                        <br> 
                                            <div id="flutterwave-error-message" class="a" role="alert">.</div>
                                            <div id="flutterwave-success-message" class="a" role="alert">.</div>
                                            
                                            <div class="row">
                                                <h3> Deposit Method - {{selected_gateway}} </h3>
                                                    
                                                <div class="form-group">
                                                    <label for="depositAmount" class="form-label">Deposit Amount </label>
                                                    <input name="depositAmount" type="number" value="" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="depositAmount">
                                                </div>
                                                <div class="form-group">
                                                    <label for="depositNarration" class="form-label">Narration <span class="text-muted"></span></label>
                                                    <input name="depositNarration" type="text" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="depositNarration" value="">
                                                </div>
                                                <div id = 'flutterwave-deposit-confirm' class="wt-updatall">
                                                    <span>Step 1: I confirm that I, <em>"{{request.user.get_full_name}}"</em> am making this transaction </span>
                                                    <a href="javascript:void(0);" class="wt-btn">
                                                        <div id="flutterwave-deposit-confirmation" class="btn btn-inline-danger text-white">I Confirm</div>
                                                    </a>
                                                </div>
                                                <div id = 'flutterwave-deposit-nextstep' class="wt-updatall">
                                                    <span>Step 2: I understand that after successful deposit, its Irreversible</span>
                                                    <button id='flutterwave-deposit-button' type="submit" class="wt-btn"> Yes, Make Deposit </button>
                                                </div>											
                                                <ul class="wt-projectliststyle">
                                                    <div class="wt-title">
                                                        <h5><span style="color: red; font-weight: bold;"> Our Deposit Policy </span><br></h5>
                                                    </div>	
                                                    <li><span><i class="fa fa-check"></i>#1: Deposit amount must range between <em> {{base_currency}}{{min_deposit}} - {{base_currency}}{{max_deposit}} </em></span></li>
                                                    <li><span><i class="fa fa-check"></i>#2: While making deposit, we expect your total balance less than or equal to {{base_currency}}{{max_depositor_balance}}</span></li>
                                                    <li><span><i class="fa fa-check"></i>#3: Your deposit can be used for <em style='color:green'>One-Click-Checkout</em></span></li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% if selected_gateway.name == "Stripe" %}
                                        <br>  
                                            <div id="stripe-error-message" class="text-center" role="alert">.</div>
                                            <div id="stripe-success-message" class="a" role="alert">.</div>
                                            
                                            <div class="row">
                                                
                                                <h3> Deposit Method - {{selected_gateway}} </h3>
                                                
                                                <div class="form-group">
                                                    <label for="stripeAmount" class="form-label">Deposit Amount </label>
                                                    <input name="stripeAmount" type="number" value="" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="stripeDepoAmount">
                                                </div>
                                                <div class="form-group">
                                                    <label for="stripeNarration" class="form-label">Narration <span class="text-muted"></span></label>
                                                    <input name="stripeNarration" type="text" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="stripeDepoNarration" value="">
                                                </div>
                                                
                                                <button type="button" class="btn btn-danger"><a href="javascript:void(0);" class="text-white" data-toggle="modal" data-target="#makeDepositNow">Make deposit</a></button>
                                                                                                        
                                            </div>
                                        {% endif %} 
                                        {% if selected_gateway.name == "Razorpay" %} 
                                        <br> 
                                            <div id="razorpay-error-message" class="a" role="alert">.</div>
                                            <div id="razorpay-success-message" class="a" role="alert">.</div>
                                            
                                            <div class="row">
                                                <h3> Deposit Method - {{selected_gateway}} </h3>
                                                <div class="form-group">
                                                    <label for="razordepositAmount" class="form-label">Deposit Amount </label>
                                                    <input name="razordepositAmount" type="number" value="" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="razordepositAmount">
                                                </div>
                                                <div class="form-group">
                                                    <label for="razordepositNarration" class="form-label">Narration <span class="text-muted"></span></label>
                                                    <input name="razordepositNarration" type="text" class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="razordepositNarration" value="">
                                                </div>
                                                <div id = 'razorpay-deposit-confirm' class="wt-updatall">
                                                    <span>Step 1: I confirm that I, <em>"{{request.user.get_full_name}}"</em> am making this transaction </span>
                                                    <a href="javascript:void(0);" class="wt-btn">
                                                        <div id="razorpay-deposit-confirmation" class="btn btn-inline-danger text-white">I Confirm</div>
                                                    </a>
                                                </div>
                                                <div id = 'razorpay-deposit-nextstep' class="wt-updatall">
                                                    <span>Step 2: I understand that after successful deposit, its Irreversible</span>
                                                    <button id='razorpay-deposit-button' type="button" class="wt-btn"> Yes, Make Deposit </button>
                                                </div>											
                                                <ul class="wt-projectliststyle">
                                                    <div class="wt-title">
                                                        <h5><span style="color: red; font-weight: bold;"> Our Deposit Policy </span><br></h5>
                                                    </div>	
                                                    <li><span><i class="fa fa-check"></i>#1: Deposit amount must range between <em> {{base_currency}}{{min_deposit}} - {{base_currency}}{{max_deposit}} </em></span></li>
                                                    <li><span><i class="fa fa-check"></i>#2: While making deposit, we expect your total balance less than or equal to {{base_currency}}{{max_depositor_balance}}</span></li>
                                                    <li><span><i class="fa fa-check"></i>#3: Your deposit can be used for <em style='color:green'>One-Click-Checkout</em></span></li>
                                                </ul>
                                            </div> 
                                        {% endif %} 
                                        </div>                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>								
            </section>
            {% endif %}
            <div class="wt-proposalholder">
                <div class="row justify-content-md-center">
                    <div class="wt-sectionhead wt-textcenter">
                        <span>Copyright @ {{website.site_name}}</span>
                    </div>
                </div>
            </div>
        </main>
	<!-- Add team Popup Start-->
	
    <!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="makeDepositNow">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="modal-body">
                    <ul class="wt-projectliststyle">
                        <div class="wt-title">
                            <h5><span style="color: red; font-weight: bold;"> Making Deposit </span><br></h5>
                        </div>	
                        <li><span><i class="fa fa-check"></i>#1: Deposit amount must range between <em> {{base_currency}}{{min_deposit}} - {{base_currency}}{{max_deposit}} </em></span></li>
                        <li><span><i class="fa fa-check"></i>#2: While making deposit, we expect your total balance less than or equal to {{base_currency}}{{max_depositor_balance}}</span></li>
                        <li><span><i class="fa fa-check"></i>#3: After Successful deposit, we will credit value to yuour account</span></li>
                    </ul>
                    <button onclick="stripeDepoPay(event)" class="btn btn-danger">Yes Proceed</button>
                    <a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close" data-dismiss="modal" aria-label="Close"></i></a>
				</div>
			</div>
		</div>
	</div>
	

    {% endblock content %}

    {% block scripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if selected_gateway.name == "PayPal" %}
    <script>
        //PAYPAL DEPOSIT BUTTON CONFIRMATION  
        $(document).ready(function(){

            $('#paypal-deposit-nextstep').hide()
            $('#paypal-deposit-confirm').click(function(){
                $('#paypal-deposit-nextstep').slideToggle(200)       
            });
            $('#paypal-deposit-nextstep').click(function(){
                $('#paypal-deposit-nextstep').hide()       
            });            
        });
    </script>        
    <script 
        src="https://www.paypal.com/sdk/js?client-id={{paypal_public_key}}&currency={{base_currency_code}}"data-sdk-integration-source="button-factory">
    </script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getCookie('csrftoken');

        function depositPayPalButton(event) {
            e.preventDefault();
            
            let paypalAmount = $('[name="paypaldepositAmount"]').val();
            let paypalNarration = $('[name="depositdepositNarration"]').val();
    
            let displayError = document.getElementById('paypal-error-message')
            let displaySuccess = document.getElementById('paypal-success-message')            

            if (paypalAmount == '' || paypalNarration == '') {
                displayError.textContent = 'Ooops! All fields are required';
                $('#paypal-error-message').addClass('alert alert-danger');
                
                return false;
            }
            else {
                displayError.textContent = '';
                $('#stripe-error-message').removeClass('alert alert-danger');
    
                let data = {
                    'paypalAmount': paypalAmount,
                    'paypalNarration': paypalNarration,
                }
                
                paypal.Buttons({
                    style: {
                        layout: 'vertical', //or horizontal
                        color: 'gold',
                        shape: 'pill', //or rect
                        label: 'paypal',
                    },

                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: paypalAmount
                                }
                            }]
                        });
                    },
                    onApprove: function (data) {
                        let url = "" //{% url 'transactions:paypal_payment_order' %}
                        return fetch(url, {
                            method: 'POST',
                            headers: {
                                'content-type': 'application/json',
                                'X-CSRFToken': csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: data.orderID,
                                paypalAmount: paypalAmount,
                                paypalNarration: paypalNarration,
                            })
                        }).then(function () {
                            swal("Perfect!", 'All looked good', "success").then((value) =>{
                                window.location.href = "{% url 'transactions:hiring_payment_success' %}"
                            });              
                            
                        })
                    },
                }).render('#paypal-button-container');
            }
        }
        depositPayPalButton();
    </script>
    {% endif %} 
    
    {% if selected_gateway.name == "Stripe" %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        function stripeDepoPay(event) {
        event.preventDefault();

        let stripeAmount = $('[name="stripeAmount"]').val();
        let stripeNarration = $('[name="stripeNarration"]').val();

        let displayError = document.getElementById('stripe-error-message')
        let displaySuccess = document.getElementById('stripe-success-message')

        if (stripeAmount == '' || stripeNarration == '') {
            displayError.textContent = 'Ooops! All fields are required';
            $('#stripe-error-message').addClass('alert alert-danger');

            return false;
        }
        else {
            displayError.textContent = '';
            $('#stripe-error-message').removeClass('alert alert-danger');

            let data = {
                'stripeAmount': stripeAmount,
                'stripeNarration': stripeNarration,
            }

            let stripe = Stripe('{{stripe_public_key}}');

            fetch("{% url 'client:stripe_deposit' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{csrf_token}}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            
              .then(function (response) {
                return response.json()
              })
              .then(function (session) {
                return stripe.redirectToCheckout({sessionId:session.session.id})
              })
              .then(function (result) {
                return console.log(result.error.message)
              })
              .catch(function (error) {
                return console.log(error)
              })
          }
        }
    </script>
    {% endif %} 
    {% if selected_gateway.name == "Flutterwave" %}
    <script>
        //FLUTTERWAVE DEPOSIT BUTTON CONFIRMATION  
        $(document).ready(function(){

            $('#flutterwave-deposit-nextstep').hide()
            $('#flutterwave-deposit-confirm').click(function(){
                $('#flutterwave-deposit-nextstep').slideToggle(200)       
            });
            $('#flutterwave-deposit-nextstep').click(function(){
                $('#flutterwave-deposit-nextstep').hide()       
            });            
        });
    </script>    
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <script src="{% static 'js/deposits/flutterwave-checkout.js' %}"></script>  
    {% endif %} 

    {% if selected_gateway.name == "Razorpay" %}
    <script>
        //RAZORPAY DEPOSIT BUTTON CONFIRMATION  
        $(document).ready(function(){

            $('#razorpay-deposit-nextstep').hide()
            $('#razorpay-deposit-confirm').click(function(){
                $('#razorpay-deposit-nextstep').slideToggle(200)       
            });
            $('#razorpay-deposit-nextstep').click(function(){
                $('#razorpay-deposit-nextstep').hide()       
            });            
        });
    </script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>    

    <script>
        //Script to add proposal quantity in session             
        $(document).on('click', '#razorpay-deposit-button', function (e) {
        e.preventDefault();
            console.log('clicked')
            let razordepositAmount = $('[name="razordepositAmount"]').val();
            let razordepositNarration = $('[name="razordepositNarration"]').val();

            let displayError = document.getElementById('razorpay-error-message')
            let displaySuccess = document.getElementById('razorpay-success-message')

            if (razordepositAmount == '' || razordepositNarration == '') {
                swal("Ooops!", 'All fields are required', "error")
                return false;
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "{% url 'client:deposit_checker' %}",
                    data: {
                        'razordepositAmount': razordepositAmount,
                        'razordepositNarration': razordepositNarration,
                        csrfmiddlewaretoken: "{{csrf_token}}",
                        action: "razorpay-deposit",
                    },
                    success: function (response) {
                        if (response.message != ''){
                            displayError.textContent = response.message;
                            $('#razorpay-error-message').addClass('alert alert-danger');
                            return false
                        }
                        else{
                            displayError.textContent = '';
                            $('#stripe-error-message').removeClass('alert alert-danger');

                            var options = {
                                "key": "{{razorpay_public_key}}", // Enter the Key ID generated from the Dashboard
                                "amount": response.total_amount,//"{{hiring_box.get_total_price_after_discount_and_fee}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                "currency": response.currency,
                                "name": "{{website.site_name}}",
                                "description": "Client Pre-payment",
                                "image": "{{website.site_Logo.url}}",
                                "order_id": response.razorpay_order_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                "handler": function (responseOne) {

                                    $.ajax({
                                        type: "POST",
                                        url: "/client/razorpay_callback/",
                                        data: {
                                            razorpay_payment_id: responseOne.razorpay_payment_id,
                                            razorpay_order_id: responseOne.razorpay_order_id,
                                            razorpay_signature: responseOne.razorpay_signature,
                                            total_amount: response.total_amount,
                                            razordepositNarration: razordepositNarration,
                                            csrfmiddlewaretoken: "{{csrf_token}}",
                                            action: "razorpay-deposit-confirm",
                                        },
                                        success: function (responseTwo) {
                                            console.log(responseTwo)
                                            swal("Perfect!", 'All looked good', "success").then((value) =>{
                                                window.location.href = ''
                                            });                        
                                        }
                                    });
                                },
            
                                "prefill": {
                                    "name": "{{request.user.get_full_name}}",
                                    "email": "{{request.user.email}}",
                                    "contact": "{{request.user.phone}}"
                                },
                                "notes": {
                                    "address": "{{request.user.country}}"
                                },
                                "theme": {
                                    "color": "#3399cc"
                                }
                            };
                            var rzp1 = new Razorpay(options);
                            rzp1.open();  
                        }
                                      
                    },
                    error: function (error) {
                        document.getElementById('razorpay-error-message').innerHTML = error.message
                    }
                });
            }
        })
    </script>
    {% endif %}

    {% endblock scripts %}