
<tr>
    <tr>
        <td class="text-left">
            {% if product.product_type == False %} 
            00000000-0000-0000-0000-000000000000 
            {% else %}
            {{product.license}} 
            {% endif %}
        </td>
        <td class="text-left">{{product.get_product_type_display}}</td>
        <td class="text-center">{{product.price}}</td>
        <td class="text-center">{{product.created_at}}</td>
        <td>
            <a href="{% url 'proposals:product_download' product.proposal.slug product.pk %}" 
                class="btn btn-outline-info btn-sm"> 
                Download
            </a>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-sm text-center"
                hx-get="{% url 'proposals:product_update' product.proposal.slug product.pk %}" 
                hx-target="#products-list"
                hx-swap="beforeend"
                hx-on="htmx:afterRequest: this.closest('tr').remove()">
                {{product.get_status_display}}
            </button>
        </td>
    </tr>
</tr>