<form method="post">
    {% csrf_token %}
        
    <div class="text-center">
        <button type="button" class="btn btn-success btn-sm"
            hx-get="{% url 'proposals:pricing_type' %}"
            hx-target="#pricingPlanBtn"
            {% if pricing_type_data %}
            style="width:20%; background-color:green; font-weight: bold; border-radius:10%;"
            {% else %}
            style="width:20%; background-color:blue; font-weight: bold; border-radius:10%;"
            {% endif %}
            >
            {% if pricing_type_data %}
            Switch Single Pricing
            {% else %}
            Switch Tier Pricing
            {% endif %}
        </button>
    </div>

        <div class="wt-jobdetails wt-tabsinfo text-left">
            <div class="wt-tabscontenttitle">
                <h2>Package Preview </h2>
            </div>
            
            <div class="form-row">
                {% if pricing_type_data %}
                <div class="form-group col-md-4">
                    {{proposalformtwo.tier1_preview.label}}
                    {{proposalformtwo.tier1_preview}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.tier1_preview.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.tier2_preview.label}}
                    {{proposalformtwo.tier2_preview}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.tier2_preview.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.tier3_preview.label}}
                    {{proposalformtwo.tier3_preview}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.tier3_preview.errors}}</span>
                </div>
                {% else %}
                <div class="form-group col-md-12">
                    {{proposalformtwo.service_level.label}}
                    {{proposalformtwo.service_level}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.service_level.errors}}</span>
                </div>
                {% endif %}

            </div>
        <div class="wt-jobdetails wt-tabsinfo text-left">
            <div class="wt-tabscontenttitle">
                <h2>Package Pricing</h2>
            </div>      
            <div class="form-row">
               
                {% if pricing_type_data %}
                <div class="form-group col-md-4">
                    {{proposalformtwo.salary_tier1.label}}
                    {{proposalformtwo.salary_tier1}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.salary_tier1.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.salary_tier2.label}}
                    {{proposalformtwo.salary_tier2}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.salary_tier2.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.salary_tier3.label}}
                    {{proposalformtwo.salary_tier3}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.salary_tier3.errors}}</span>
                </div>
                {% else %}
                <div class="form-group col-md-12">
                    {{proposalformtwo.salary.label}}
                    {{proposalformtwo.salary}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.salary.errors}}</span>
                </div>
                {% endif %}
            </div>
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>Revision</h2>
            </div>
            <div class="form-row">

                {% if pricing_type_data %}
                <div class="form-group col-md-4">
                    {{proposalformtwo.revision_tier1.label}}
                    {{proposalformtwo.revision_tier1}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.revision_tier1.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.revision_tier2.label}}
                    {{proposalformtwo.revision_tier2}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.revision_tier2.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.revision_tier3.label}}
                    {{proposalformtwo.revision_tier3}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.revision_tier3.errors}}</span>
                </div>
                {% else %}
                <div class="form-group col-md-12">
                    {{proposalformtwo.revision.label}}
                    {{proposalformtwo.revision}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.revision.errors}}</span>
                </div>
                {% endif %}
            </div>
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>Duration</h2>
            </div> 
            <div class="form-row">
                
                {% if pricing_type_data %}                 
                <div class="form-group col-md-4">
                    {{proposalformtwo.pricing1_duration.label}}
                    {{proposalformtwo.pricing1_duration}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.pricing1_duration.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.pricing2_duration.label}}
                    {{proposalformtwo.pricing2_duration}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.pricing2_duration.errors}}</span>
                </div>
                <div class="form-group col-md-4">
                    {{proposalformtwo.pricing3_duration.label}}
                    {{proposalformtwo.pricing3_duration}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.pricing3_duration.errors}}</span>
                </div>
                {% else %}
                <div class="form-group col-md-12">
                    {{proposalformtwo.duration.label}}
                    {{proposalformtwo.duration}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.duration.errors}}</span>
                </div>
                {% endif %}
            </div>
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>Description</h2>
            </div>
            <div class="form-row">                    
                <div class="form-group">
                    {{proposalformtwo.description.label}}
                    {{proposalformtwo.description}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.description.errors}}</span>
                </div>
                <div class="form-group">
                    {{proposalformtwo.sample_link.label}}
                    {{proposalformtwo.sample_link}}
                    <span style="color:red;" role="alert">{{ proposalformtwo.sample_link.errors}}</span>
                </div>
            </div> 
        </div>  
        {% if messages %}
            <div class="row justify-content-md-center" hx-get="{% url 'account:remove_message' %}" hx-trigger="load delay:3s">        
                {% for message in messages %}        
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <span class="wt-jobalerts">
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
                            <span> {{ message}} </span>
                        </div>
                    </span>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="text-center">
            <button type="submit" class="wt-btn"
                hx-get="{% url 'proposals:proposal_step_one' %}"
                hx-target="#step-1-form"
                style="background-color:rgb(29, 118, 90); font-weight: bold;">
                Prev Step
            </button>
            <button id="describeBtn" type="submit" class="wt-btn"
                hx-post="{% url 'proposals:proposal_step_two' %}"
                hx-target="#step-1-form"
                htmx:serialize='all'
                style="background-color:rgb(29, 118, 90); font-weight: bold;">
                Next Step
            </button>
        </div>
    </form>