{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}

	<!--Register Form Start-->
	<section class="wt-haslayout wt-dbsectionspace">
		<div class="row justify-content-md-center">				
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
				<div class="wt-dashboardbox">
					<div class="wt-dashboardboxtitle">
						<h2>Manage My Proposals</h2>
					</div>
					<div class="wt-dashboardboxcontent wt-jobdetailsholder">
						<div class="wt-freelancerholder">
							<a href="{% url 'proposals:proposal_step_one' %}"><button type="button" class="btn btn-outline-danger float-right"><i class="fa fa-folder-open" aria-hidden="true"></i> Create Proposal</button></a>
							<div class="wt-tabscontenttitle">
								<h2>Proposals Archived</h2>
							</div>
							<div class="wt-managejobcontent">
								{% for proposals in proposal %}
								<div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
									<div class="wt-userlistingcontent">
												<h3>{{ proposals.title }}</h3>
										<div class="wt-contenthead">
											<ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
												<li><span class="wt-dashboraddoller"><i class="fa fa-graduation-cap"></i>Type: {{proposals.get_service_level_display}}</span></li>
												<li><li><span> {% if proposals.created_by.country.flag %}<img src="{{proposals.created_by.country.flag.url}}" alt="img description"> {% else %}{{proposals.created_by.country.country_code}} - {% endif %} {{proposals.created_by.country.name}}</span></li></li>
												<li><span class="wt-clicksavefolder"><i class="fa fa-industry"></i>Amount: ${{proposals.salary}}</span></li>
												<li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Duration: {{proposals.get_dura_converter_display}}</span></li>															
											</ul>
										</div>
										<div class="wt-description">
											<p>{{ proposals.preview}} </p>
										</div>	
										<div class="wt-tag wt-widgettag">
											{% for skill in proposals.project_skill.all %}
												<a href="javascript:void(0);">{{skill}}</a>
											{% endfor %}	
										</div> 
										<div class="wt-rightarea">
											{% if team and proposals.status == 'archived' %}
											<div class="wt-btnarea">
												<a href="{% url 'proposals:proposal_preview' proposals.created_by.short_name proposals.slug %}" class="btn btn-success"><i class="fa fa-info"></i> Details</a>
												<a href="{% url 'proposals:reactivate_archive_proposal' proposals.created_by.short_name proposals.slug %}" class="btn btn-danger"><i class="fa fa-window-restore"></i> Restore</a>
											</div>
											{% endif %}
											<div class="wt-hireduserstatus">
												<h4>{{proposals.team.members.count}}</h4><span>Team Members</span>
												<ul class="wt-hireduserimgs">
													<li><figure><img src="{{proposals.created_by.freelancer.profile_photo.url}}" alt="img description"></figure></li>
												</ul>									
											</div>
											<div class="wt-hireduserstatus">
												<h4>{{proposals.created_by.get_full_name}}</h4><span>Proposal Creator</span>
												<ul class="wt-hireduserimgs">
													<li><figure><img src="{{proposals.created_by.freelancer.profile_photo.url}}" alt="img description"></figure></li>
												</ul>									
											</div>											
										</div>
									</div>	
								</div>
								{% endfor %}
							{% if not proposal %}
							<div class="wt-description">
								<span><i class="wt-btn float-center"></i>Hello Howdy! You don't have any project yet...</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-upside-down" viewBox="0 0 16 16">
										<path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0z"/>
										<path d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5z"/>
									</svg> 
							</div>												
							{% endif %}	
						</div>												
					</div>
				</div>
					<nav class="wt-pagination wt-savepagination">
						<ul>
							<li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
							<li><a href="javascrip:void(0);">1</a></li>
							<li><a href="javascrip:void(0);">2</a></li>
							<li><a href="javascrip:void(0);">3</a></li>
							<li><a href="javascrip:void(0);">4</a></li>
							<li><a href="javascrip:void(0);">...</a></li>
							<li><a href="javascrip:void(0);">50</a></li>
							<li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
						</ul>
					</nav>								
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
				<aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent">
							<figure>
								<img src="{% static 'images/thumbnail/img-17.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>150</h3>
								<span>Total Ongoing Jobs</span>
							</div>
						</div> 
					</div>
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent wt-componyfolow">
							<figure>
								<img src="{% static 'images/thumbnail/img-16.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>1406</h3>
								<span>Total Completed Jobs</span>
							</div>
						</div> 
					</div>								
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent  wt-freelancelike">
							<figure>
								<img src="{% static 'images/thumbnail/img-15.png' %}" alt="image">
							</figure>
							<div class="wt-title">
								<h3>2075</h3>
								<span>Total Cancelled Jobs</span>
							</div>
						</div> 
					</div>								
				</aside>
				<div class="wt-companyad">
					<figure class="wt-companyadimg"><img src="{% static 'images/add-img.jpg' %}" alt="img description"></figure>
					<span>Advertisement  255px X 255px</span>
				</div>
			</div>
		</div>
	</section>
	<!--Register Form End-->


{% endblock %}

