{% extends "dashboard/main_base.html" %}

{% load static %}

{% block content %}
            <!--Inner Home Banner Start-->
            <div class="wt-haslayout wt-innerbannerholder">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                            <div class="wt-innerbannercontent">
                            <div class="wt-title"><h2>Author Support</h2></div>
								<ol class="wt-breadcrumb">
									<li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
									<li class="wt-active">Author Support</li>
								</ol>
							</div>					
                        </div>
                    </div>
                </div>
            </div>

            <!--Categories Start-->
            <div class="wt-haslayout wt-main-section">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                            <div class="wt-articlesingle-holder wt-bgwhite">
                                <div class="wt-articlesingle-content">
                                <!--form Start-->
                                    <div class="wt-author">
                                        <div class="wt-authordetails">
                                            <figure>
                                                <a href="javascript:void(0);"><img src="{% static 'images/messages/img-12.jpg' %}" alt="image description"></a>
                                            </figure>
                                            <div class="wt-authorcontent">
                                                <div class="wt-authorhead">
                                                    <div class="wt-boxleft">
                                                        <h3><a href="javascript:void(0);">{% if admin.short_name %}{{admin.short_name}} {% else %} Admin Team {% endif %} (Moderator)</a></h3>
                                                        <span><i class="lnr lnr-clock"></i> Admin Last Active: {{date_and_time}}</span>
                                                    </div>
                                                    <div class="wt-boxright">
                                                        <ul class="wt-socialiconssimple">
                                                            <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                                                            <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                                            <li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                                                            <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="wt-description">
                                                    <div class="alert alert-info" role="alert">
                                                        <span style="color: blue; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> This is the Information desk for the Team where members can pass information to the team<a href="javascript:void(0);"> Read the guide</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <p style="color:green" id="proposal-count"> 
                                        {{chat_count}} Message{{chat_count|pluralize}} Available
                                    </p>
                                    <hr>
                                    <br>
                                    <div id="proposal-messages" 
                                        hx-get="{% url 'proposals:fetch_messages' proposal.id %}" 
                                        hx-trigger="every 1s" 
                                        hx-swap="innerhtml"> 
                                        {% include 'proposals/components/partial_proposal.html' %}
                                    </div>
                                    <form>
                                    <div>
                                        <div class="wt-replaybox">
                                            <div class="form-group">
                                                <textarea id="id_content" type="text" name="content" class="form-control" placeholder="start typing..."></textarea>
                                            </div>
                                            <div class="wt-iconbox">
                                                {% comment %} <i class="ti-announcement"></i> {% endcomment %}
                                                <span class="float-left text-center" style="color:green;">Ask questions about this proposal or help others</span>
                                                <button id="newMessage" hx-post="{% url 'proposals:create_message' proposal.id %}" hx-target="#proposal-messages" type="submit" class="wt-btnsendmsg">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.body.addEventListener('htmx:configRequest', (event) =>{
                    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
                });

            </script>
            <script>
                $(document).on("click", "#newMessage", function(){
                    $("#id_content").val('')
                })
            </script>
            {% comment %} <script>
                document.body.addEventListener('click', '#newMessage', (event) =>{
                    document.getElementById("id_content").value = '';
                });
            </script>  {% endcomment %}

{% endblock content %}

