{% extends "dashboard/main_base.html" %}

{% load static %}

{% block content %}

	<!--Inner Home Banner Start-->
	<div class="wt-haslayout wt-innerbannerholder">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
					<div class="wt-innerbannercontent">
					<div class="wt-title"><h2>Digital Products</h2></div>
						{% if request.user.is_authenticated %}
						<ol class="wt-breadcrumb">
							<li><a href="{% url 'account:dashboard' %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i> Dashboard</a></li>
							{% if active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'active' %}
							<li><a href="{% url 'proposals:modify_proposals' proposal.id proposal.slug %}" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i> Modify</a></li>
							<li><a href="{% url 'proposals:archive_proposal' proposal.created_by.short_name proposal.slug %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Archive</a></li>
							{% elif active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'review' %}
							<li><a href="javascript:void(0);" class="btn btn-success btn-sm"><i class="fas fa-spinner fa-spin"></i> Reviewing</a></li>
							{% elif active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'archived' %}
							<li><a href="{% url 'proposals:reactivate_archive_proposal' proposal.created_by.short_name proposal.slug %}" class="btn btn-info btn-sm"><i class="fa fa-window-restore"></i> Restore</a></li>
							{% elif active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'modify' %}
							<li><a href="{% url 'proposals:modify_proposals' proposal.id proposal.slug %}" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i> Modify</a></li>
							{% endif %}
						</ol>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!--Inner Home End-->
<!--Main Start-->
{% comment %} <main class="wt-haslayout wt-innerbgcolor"> {% endcomment %}
	<div class="wt-haslayout wt-main-section" style='background:white;'>
		<!-- User Listing Start-->
		<div class="container">
			<div class="row">
				<div class="col-md-8">			
					<div class="wt-tabscontenttitle">
						<h3>{{proposal.title}}</h3>
					</div>
					<div>
						{{proposal.description|linebreaksbr| truncatechars:1000}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="bg-light rounded">
						<div class="p-3 pt-0">
							<div class="d-flex justify-content-between mb-3" style="font-weight:bold; font-size:18px; width:100%; color:green;">
								<span>Paid Download </span><span class="text-primary pt-1"> @ {{website.merchant.country.currency}}{{proposal.salary}}</span>
							</div>
							
							<div class="d-flex justify-content-between mb-3">
								<span>This price represents each of the paid downlaod you may specify. If you attach multiple paid products, each will be downloaded @ {{website.merchant.country.currency}} {{proposal.salary}}</span>
							</div>
							<div class="d-flex justify-content-between mb-3">
								<img src="{% firstof proposal.thumbnail.url proposal.created_by.freelancer.banner_photo.url %}" style="width:1920px; max-height:560px;" alt="img description">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="container">
			<div class="wt-tabscontenttitle">
				<h3>Sell themes, templates and more</h3>
				<span style='color:blue;'> You can only create one of each product type</span>
			</div>
			<div id="digital-product">
				{% include 'proposals/partials/create_product.html'%}
			</div>
			<div class="my-4">
				<button class="btn btn-success"
					hx-get="{% url 'proposals:add_product_attachment' proposal.id %}"
					hx-target="#digital-product"
					hx-swap="beforeend">
					+ Add Attachment
				</button>
				<button type="button" class="btn btn-primary" id="submit-all"> Submit All </button>
			</div>
		
		<br>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead style="background-color:rgb(29, 118, 90); color:white; font-weight: bold;">
					<tr>
						<th>Product License</th>
						<th>Product Type</th>
						<th>Price ({{website.merchant.country.currency}})</th>
						<th>Date</th>
						<th>Pull</th>
						<th>Status</th>
					</tr>
				</thead>
				
				<tbody id="products-list">
					{% for product in products %}
						{% include 'proposals/partials/list_product.html' %}
					{% endfor %}
				</tbody>
			</table>
			
		</div>
	</div>

<br>
<br>
	</div>


{% endblock content %}




