{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}



			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout">
               
            <!--Inner Home Banner Start-->
            <div class="wt-haslayout wt-innerbannerholder">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                            <div class="wt-innerbannercontent">
                            <div class="wt-title"><h2>Create Invoice</h2></div>
                            <ol class="wt-breadcrumb">
                                <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                                <li class="wt-active">Add Invoice</li>
                            </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Inner Home End-->

			<div class="wt-haslayout wt-main-section">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxtitle">
                                <h2>Create an Invoice</h2>
                            </div>
                            <div class="wt-dashboardboxcontent">
                                                                                            
                            <form method='POST' action=''>{% csrf_token %}
                                {% if invoiceform.errors %}
                                    <p>{{ invoiceform.non_field_errors }}</p>
                                    {% for field in invoiceform %}
                                    {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.label}}:  {{ field.errors|striptags }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                {% endif %}
                                    <div class="wt-jobdescription wt-tabsinfo">
                                        <div class="wt-tabscontenttitle">
                                            <h2>Client and Terms</h2>
                                        </div>	
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#invoiceclientmodal">Add New Client</a>								
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{invoiceform.client.label}}
                                                {{invoiceform.client}}
                                                
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{invoiceform.payment_duration.label}}
                                                {{invoiceform.payment_duration}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                {{invoiceform.status.label}}
                                                {{invoiceform.status}}
                                            </div>                            
                                        </div>  
                                    <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Product and Services</h2>
										</div>                                          
                                        <div class="form-row" id="line_one">
                                            <div class="form-group col-md-6">
                                                {{ invoiceform.line_one.label}}
                                                {{ invoiceform.line_one}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_one_quantity.label}}
                                                {{ invoiceform.line_one_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_one_unit_price.label}}
                                                {{ invoiceform.line_one_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_one_total_price.label }}
                                                {{ invoiceform.line_one_total_price }}
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_two">
                                            <div class="form-group col-md-6">
                                                {{ invoiceform.line_two.label}}
                                                {{ invoiceform.line_two}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_two_quantity.label}}
                                                {{ invoiceform.line_two_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_two_unit_price.label}}
                                                {{ invoiceform.line_two_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_two_total_price.label }}
                                                {{ invoiceform.line_two_total_price }}
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_three">
                                            <div class="form-group col-md-6">
                                                {{ invoiceform.line_three.label}}
                                                {{ invoiceform.line_three}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_three_quantity.label}}
                                                {{ invoiceform.line_three_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_three_unit_price.label}}
                                                {{ invoiceform.line_three_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_three_total_price.label }}
                                                {{ invoiceform.line_three_total_price }}
                                            </div>
                                        </div>

                                        <div class="form-row" id="line_four">
                                            <div class="form-group col-md-6">
                                                {{ invoiceform.line_four.label}}
                                                {{ invoiceform.line_four}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_four_quantity.label}}
                                                {{ invoiceform.line_four_quantity}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_four_unit_price.label}}
                                                {{ invoiceform.line_four_unit_price}}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ invoiceform.line_four_total_price.label }}
                                                {{ invoiceform.line_four_total_price }}
                                            </div>
                                        </div>
                                            <button type="button" id="proposal-extras" class="btn btn-success"> add/hide extras </button>                               
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ invoiceform.grand_total.label }}
                                                {{ invoiceform.grand_total }}
                                            </div>
                                        </div>      
                                        <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Description(Optional)</h2>
										</div>     
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                {{ invoiceform.notes.label }}
                                                {{ invoiceform.notes }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                    </div>
                                        </div>
                                            <div class="wt-updatall">
                                                <i class="ti-announcement"></i>
                                                <span>Post Invoice with “Create Invoice” button.</span>
                                                <button type="submit" class="wt-btn"> Create Invoice </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </form>
						</div>
					</div>
				</div>
			</div>
					

			</main>

			<!-- Add Invoice Client Popup Start-->
			<!-- Popup Start-->
			<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="invoiceclientmodal">
				<div class="modal-dialog" role="document">
					<div class="wt-modalcontent modal-content">
						<div class="wt-popuptitle">
							<h2>Add A Client</h2>
							<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close" data-dismiss="modal" aria-label="Close"></i></a>
						</div>
						<div class="modal-body">
							<div class="wt-projectdropdown-hold">
								<div class="wt-projectdropdown-option">
									<div class="wt-projectselect">
										<figure><img src="{% static 'images/thumbnail/img-07.jpg' %}" alt="img description"></figure>
										<div class="wt-projectselect-content">
											<h3>Project Title Here</h3>
											<span><i class="lnr lnr-calendar-full"></i> Project Deadline: May 27, 2019</span>
										</div>
									</div>
								</div>
							</div>
							<form method="POST", action='.', class="wt-formtheme wt-formpopup"> {% csrf_token %}                             
                            {% if invoiceclientform.errors %}
                            <p>Please correct the following errors:</p>
                            <p>{{ invoiceclientform.non_field_errors }}</p>
                            {% for field in invoiceclientform %}
                            {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
								<div class="form-group">
									{{invoiceclientform.name.label}}
									{{invoiceclientform.name}}
								</div>
								<div class="form-group">
									{{invoiceclientform.email.label}}
									{{invoiceclientform.email}}
								</div>
								<div class="form-group">
									{{invoiceclientform.address.label}}
									{{invoiceclientform.address}}
								</div>
								<div class="form-group">
									{{invoiceclientform.postal_code.label}}
									{{invoiceclientform.postal_code}}
								</div>  
								<div class="form-group">
									{{invoiceclientform.phone_Number.label}}
									{{invoiceclientform.phone_Number}}
								</div>
								<div class="form-group">
									{{invoiceclientform.tax_Number.label}}
									{{invoiceclientform.tax_Number}}
								</div>                                                                
								<div class="form-group wt-btnarea">
									<button type="submit" class="wt-btn"> Add Client </button>
								</div>											
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Popup End-->


{% endblock %}

<!-- This will auto-calculate price and quantity using Query-->
