{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

    <!--Inner Home Banner Start-->
    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-innerbannercontent">
                        <div class="wt-title"><h2>Modify Proposal</h2></div>
                        <ol class="wt-breadcrumb">
                            <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                            <li class="wt-active">Introduction</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Inner Home End-->
    <main id="wt-main" class="wt-main wt-haslayout">

        <div class="wt-haslayout wt-main-section">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxtitle">
                                <div class="container">
                                    <div class="col-sm-12">
                                        <nav>
                                            <div class="nav nav-pills nav-justified">
                                                <a class="nav-item nav-link text-white btn btn-info mt-2" href="{% url 'proposals:modify_proposal_step_one' proposal.id proposal.slug %}"><i class="fa fa-arrow-down"> &nbsp; &nbsp; Introduction</i></a>
                                                <a class="nav-item nav-link text-white btn btn-success mt-2" href="{% url 'proposals:modify_proposal_step_two' proposal.id proposal.slug %}"><i class="fa fa-arrow-right"> &nbsp; &nbsp; Background</i></a>
                                                <a class="nav-item nav-link text-white btn btn-primary mt-2" href="{% url 'proposals:modify_proposal_step_three' proposal.id proposal.slug %}"><i class="fa fa-arrow-right"> &nbsp; &nbsp; Faqs</i></a>
                                                <a class="nav-item nav-link text-white btn btn-success mt-2" href="{% url 'proposals:modify_proposal_step_four' proposal.id proposal.slug %}"><i class="fa fa-arrow-right"> &nbsp; &nbsp; Attributes</i></a>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="wt-dashboardboxcontent">                                                               

                            <form method='POST' action=''>{% csrf_token %}
                                {% if proposalformone.errors %}
								
                                <div class="alert alert-danger text-center" role="alert">
                                    Ooop! form error occured. Please check below and correct
                                </div>
                                
                                {% endif %}      
                                <div class="wt-jobdescription wt-tabsinfo">
                                    <div class="wt-jobdetails wt-tabsinfo">
                                        <div class="wt-tabscontenttitle">
                                            <h2>Introduction</h2>
                                        </div>      
                                        <div class="form-row">
                                            
                                            <div class="form-group">
                                                {{proposalformone.title.label}}
                                                {{proposalformone.title}}
                                                <span style="color:red;" role="alert">{{ proposalformone.title.errors}}</span>
                                            </div> 
                                            <div class="form-group">
                                                {{proposalformone.preview.label}}
                                                {{proposalformone.preview}}
                                                <span style="color:red;" role="alert">{{ proposalformone.preview.errors}}</span>
                                            </div>
                                        </div> 
                                    </div>  
                                    <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Category</h2>
										</div>                                          
                                        <div class="form-row">
                                            <div class="form-group">
                                                {{proposalformone.category.label}}
                                                {{proposalformone.category}}
                                                <span style="color:red;" role="alert">{{ proposalformone.category.errors}}</span>
                                            </div>
                                            <div class="form-group">
                                                {{ proposalformone.skill.label}}
                                                <select class="chosen-select Skills"{{ proposalformone.skill}}></select>
                                                <span style="color:red;" role="alert">{{ proposalformone.skill.errors}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                        </div>
                                            </div>
                                                <div class="wt-updatall">
                                                    <i class="ti-announcement"></i>
                                                    <span>Step 1: Complete form and click on "Next Page" button</span>
                                                    <button type="submit" class="wt-btn"> Save and Continue</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>					
            </main>
        {% endblock content %}




















































































