{% extends "dashboard/main_base.html" %}

{% load static %}

{% block content %}

			<!--Inner Home Banner Start-->
			<div class="wt-haslayout wt-innerbannerholder">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
							<div class="wt-innerbannercontent">
							<div class="wt-title"><h2>Proposal Detail</h2></div>
								{% if request.user.is_authenticated %}
								<ol class="wt-breadcrumb">
									<li><a href="{% url 'account:dashboard' %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i> Dashboard</a></li>
									{% if active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'active' %}
									<li><a href="{% url 'proposals:modify_proposals' proposal.id proposal.slug %}" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i> Modify</a></li>
									<li><a href="{% url 'proposals:archive_proposal' proposal.created_by.short_name proposal.slug %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Archive</a></li>
									{% elif active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'review' %}
									<li><a href="javascript:void(0);" class="btn btn-success btn-sm"><i class="fas fa-spinner fa-spin"></i> Reviewing</a></li>
									{% elif active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'archived' %}
									<li><a href="{% url 'proposals:reactivate_archive_proposal' proposal.created_by.short_name proposal.slug %}" class="btn btn-info btn-sm"><i class="fa fa-window-restore"></i> Restore</a></li>
									{% elif active_team.pk == request.user.freelancer.active_team_id and proposal.status == 'modify' %}
									<li><a href="{% url 'proposals:modify_proposals' proposal.id proposal.slug %}" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i> Modify</a></li>
									{% endif %}
								</ol>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Inner Home End-->
			<!--Main Start-->
			<main class="wt-haslayout wt-innerbgcolor">
				<div class="wt-haslayout wt-main-section">
					<!-- User Listing Start-->
					<div class="container">
						<div class="row">
							<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
								<div class="wt-proposalholder">
									<div class="wt-proposalhead">
										<h2>{{proposal.title}}</h2>
										<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
											<li><span><i class="far fa-money-bill-alt" style="color:green;"></i> {{website.merchant.country.currency}} {{proposal.salary}}</span></li>
											<li><span><i class="fa fa-arrow-up" style="color:red;"></i> Sales: {{overal_proposal_sales_count}}</span></li>
											<li><span>{% if proposal.created_by.country.flag %}<img src="{{proposal.created_by.country.flag.url}}" alt="img description"> {% else %}{{proposal.created_by.country.country_code}} - {% endif %} {{proposal.created_by.country.name}}</span></li>
											<li><span><i class="far fa-clock" style="color:blue;"></i> Duration: {{proposal.get_duration_display }}</span></li>
										</ul>
									</div>
										<div class="wt-btnarea">
										{% if request.user.is_authenticated %}
											<button class="wt-btn" data-toggle="modal" data-target="#oneClickProposalCheckout" 
											style='background-color:black; color:white;'>
											Digital Product
											</button>
										{% else %}
											<a href="{% url 'account:login' %}" class="wt-btn">Hire Expert</a>
										{% endif %}
										</div>
									</div>
								</div>
								
								<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
									<div class="wt-projectdetail-holder">
										<div class="wt-projectdetail">
											
												{% include 'proposals/partials/proposal_tier_fetcher.html' %}
											</div>
											<div class="wt-title">
												<h4>Proposal Detail</h4>
											</div>
											
											<div class="wt-description">
												{{proposal.description|linebreaksbr}}
											</div>
									</div>
									
									{% include 'proposals/components/proposal_summary.html' %}
									
								</div>
								
							</div>
							
							<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
								{% include 'proposals/components/proposal_side.html' %}
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!--Content Wrapper End-->
	</div>
	{% include 'proposals/partials/instant_product_modal.html' %}
{% endblock content %}


{% block scripts %}
{% if proposal.pricing == False %}
<script>
	$(document).on('click', '#packageSingle', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal').val(),
			salary: $('#salary').val(),
			package: $('#package').val(),
			memberqty: $('#select option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			document.getElementById("members-qty").innerHTML = json.member_qty
			document.getElementById("salaryT0").innerHTML = json.salary
			count = $('#select option:selected').text()
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
	$(document).on('click', '#packageSingleNext', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal').val(),
			salary: $('#salary').val(),
			package: $('#package').val(),
			memberqty: $('#select option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			window.location.href = '{% url "transactions:pricing_option_with_fees" %}'
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
</script>

{% else %}
<script>
	$(document).on('click', '#packageOne', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal').val(),
			salary: $('#salary').val(),
			package: $('#package').val(),
			memberqty: $('#select1 option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			document.getElementById("members-qty").innerHTML = json.member_qty
			document.getElementById("salaryT1").innerHTML = json.salary
			count = $('#select option:selected').text()
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
	$(document).on('click', '#packageBasic', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal').val(),
			salary: $('#salary').val(),
			package: $('#package').val(),
			memberqty: $('#select1 option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			window.location.href = '{% url "transactions:pricing_option_with_fees" %}'
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
  </script>
  <script>
	$(document).on('click', '#packageTwo', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal2').val(),
			salary: $('#salary2').val(),
			package: $('#package2').val(),
			memberqty: $('#select2 option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			document.getElementById("members-qty").innerHTML = json.member_qty
			document.getElementById("salaryT2").innerHTML = json.salary
			count = $('#select option:selected').text()
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
	$(document).on('click', '#packageStandard', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal2').val(),
			salary: $('#salary2').val(),
			package: $('#package2').val(),
			memberqty: $('#select2 option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			window.location.href = '{% url "transactions:pricing_option_with_fees" %}'
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
  </script>
  <script>
	$(document).on('click', '#packageThree', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal3').val(),
			salary: $('#salary3').val(),
			package: $('#package3').val(),
			memberqty: $('#select3 option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			document.getElementById("members-qty").innerHTML = json.member_qty
			document.getElementById("salaryT3").innerHTML = json.salary
			count = $('#select option:selected').text()
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
	$(document).on('click', '#packagePremium', function (e) {
	  e.preventDefault();
	  $.ajax({
		type: 'POST',
		url: '{% url "transactions:add_to_hiring_box" %}',
		data: {
			proposalid: $('#proposal3').val(),
			salary: $('#salary3').val(),
			package: $('#package3').val(),
			memberqty: $('#select3 option:selected').val(),
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'post'
		},
		success: function (json) {
			window.location.href = '{% url "transactions:pricing_option_with_fees" %}'
		},
		error: function (xhr, errmsg, err) {}
	  });
	})
  </script>
{% endif %}
  <script>
	$(document).on('click', '#oneClickCheckout', function (e) {
	  e.preventDefault();

	  let displayMessage = document.getElementById('oneClick-message');
	  let displayError = document.getElementById("oneClick-error")
	  $.ajax({
		type: 'POST',
		url: '{% url "client:one_click_proposal_checkout" %}',
		data: {
			proposalId:'{{proposal.id}}',
			csrfmiddlewaretoken: "{{csrf_token}}",
			action: 'oneclick-pay'
		},
		beforeSend:function(){
			$("#oneClickCheckout").attr("disabled", true);
		},
		success: function (json) {
			if(json.errors != ''){
				displayError.innerHTML = json.errors;
				$("#oneClickCheckout").attr("disabled", false);
				return false
			}
			else{
				displayMessage.innerHTML = '';
				displayMessage.innerHTML = json.message;
				window.location.href = "{% url 'transactions:proposal_transaction' %}"
				$("#oneClickCheckout").attr("disabled", false);
			}
		},
		error: function (xhr, errmsg, err) {
			$("#oneClickCheckout").attr("disabled", false);
		}
	  });
	})
  </script>
	<!-- sharethis script begins-->	
	<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=61172317d98f630012c48739&product=inline-share-buttons" async="async"></script>	
	<!-- sharethis script ends-->
{% endblock scripts %}





