{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}


<div class="wt-haslayout wt-innerbannerholder">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                <div class="wt-innerbannercontent">
                    <div class="wt-title">
                        <h2>New Proposal</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wt-proposalholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 push-lg-2 float-center">
                    <div class="wt-dashboardbox">
                     
                    <div class="wt-dashboardboxcontent">                                                               

                        {% include 'proposals/partials/create_steps.html' %}
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="wt-textcenter">
                    <span>Copyright @ {{request.site.name|capfirst}}</span>
                </div>
            </div>
        </div>


        
    {% endblock content %}
    {% block scripts %}
    
  
    {% endblock scripts %}



















































































