{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

    <!--Inner Home Banner Start-->
    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-innerbannercontent">
                        <div class="wt-title"><h2>Modify Proposal</h2></div>
                        <ol class="wt-breadcrumb">
                            <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                            <li class="wt-active">Background</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Inner Home End-->
    <main id="wt-main" class="wt-main wt-haslayout">

        <div class="wt-haslayout wt-main-section">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                        <div class="wt-dashboardbox">
                            <div class="wt-dashboardboxtitle">
                                <div class="container">
                                    <div class="col-sm-12">
                                        <nav>
                                            <div class="nav nav-pills nav-justified">
                                                <a class="nav-item nav-link text-white btn btn-info mt-2" href="{% url 'proposals:modify_proposal_step_one' proposal.id proposal.slug %}"><i class="fa fa-arrow-down"> &nbsp; &nbsp; Introduction</i></a>
                                                <a class="nav-item nav-link text-white btn btn-success mt-2" href="{% url 'proposals:modify_proposal_step_two' proposal.id proposal.slug %}"><i class="fa fa-arrow-right"> &nbsp; &nbsp; Background</i></a>
                                                <a class="nav-item nav-link text-white btn btn-primary mt-2" href="{% url 'proposals:modify_proposal_step_three' proposal.id proposal.slug %}"><i class="fa fa-arrow-right"> &nbsp; &nbsp; Faqs</i></a>
                                                <a class="nav-item nav-link text-white btn btn-success mt-2" href="{% url 'proposals:modify_proposal_step_four' proposal.id proposal.slug %}"><i class="fa fa-arrow-right"> &nbsp; &nbsp; Attributes</i></a>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="wt-dashboardboxcontent">                                                               
                                {% if proposal.salary == '' %} 
                                {% comment %} or proposal.faq_one_description == '' or proposal.faq_two == '' or proposal.faq_two_description == '' or proposal.faq_three == '' or proposal.faq_three_description == '' %} {% endcomment %}
                                <div class="alert alert-danger text-center" role="alert">
                                    <span style="color:red;" role="alert">All Fields are required</span>
                                </div>
                                {% endif %} 
                                <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                                           
                                <div class="wt-jobdescription wt-tabsinfo">
                                    <div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Attributes</h2>
										</div>                                          
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Features</th>
                                                    <th>Value</th>
                                                </tr>
                                                </thead>
                                                <body>
                                                <tr>
                                                    <th>Salary</th>
                                                    <th>{{proposalformfour.salary}}</th>
                                                </tr>
                                                </body>												
                                                <body>
                                                <tr>
                                                    <th>Level</th>
                                                    <th>{{proposalformfour.service_level}}</th>
                                                </tr>
                                                </body>													
                                                <body>													
                                                <tr>
                                                    <th>Duration</th>
                                                    <th>{{proposalformfour.dura_converter}}</th>
                                                </tr>
                                                </body>
                                                <body>
                                                <tr>
                                                    <th>Revision</th>
                                                    <th>{{proposalformfour.revision}}</th>
                                                </tr>
                                                </body>
                                            </table> 
                                    </div>
                                </div>
                                    </div>
                                        </div>
                                            </div>
                                                <div class="wt-updatall">
                                                    <i class="ti-announcement"></i>
                                                    <span>Step 4: Update form and click on "Save and Continue" button</span>
                                                    <button type="submit" class="wt-btn"> Save and Continue</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>					
            </main>
        {% endblock content %}

































