{% extends "dashboard/main_base.html" %}

{% load static %}

{% block content %}

	<!--Inner Home Banner Start-->
	<div class="wt-haslayout wt-innerbannerholder">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
					<div class="wt-innerbannercontent">
					<div class="wt-title"><h2>Proposal Search</h2></div>
					<ol class="wt-breadcrumb">
						<li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
						<li class="wt-active">Hire proposal</li>
					</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Inner Home End-->

	<div class="wt-categoriesslider-holder wt-haslayout">
		<div class="wt-title">
			<h2>All Categories:</h2>
		</div>
		<div id="wt-categoriesslider" class="wt-categoriesslider owl-carousel">
			{% for category in categories %}
			<div class="wt-categoryslidercontent item">
				<figure><img src="{{category.icon.url}}" alt="image description"></figure>
				<div class="wt-cattitle">
					<h3><a href="{{category.category_absolute_url}}">{{category.name}}</a></h3>
					<span>Items: {{category.proposal.count}}</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

		<div class="wt-haslayout wt-main-section">
			<!-- User Listing Start-->
			<div class="wt-haslayout">
				<div class="container">
					<div class="row">
						<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
							<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
								<div class="wt-usersidebaricon">
									<span class="fa fa-cog wt-usersidebardown"></span>
								</div>
								<aside id="wt-sidebar" class="wt-sidebar wt-usersidebar">
									
									<div class="wt-widget wt-effectiveholder">
										<div class="wt-widgettitle">
											<h2>Categories</h2>
										</div>
										<div class="wt-widgetcontent">
											<form class="wt-formtheme wt-formsearch">
												<fieldset>
													<div class="wt-checkboxholder wt-verticalscrollbar">
														{% for category in categorie%}
														<span class="wt-checkbox">
															<input id="{{category.name}}" class="proposal-checked" type="checkbox" data-filter="category" name="{{category.name}}" value="{{category.id}}">
															<label for="{{category.name}}"> {{category.name}}</label>
														</span>
														{% endfor %}
													</div>
												</fieldset>
											</form>
										</div>
									</div>
									<div class="wt-widget wt-effectiveholder">
										<div class="wt-widgettitle">
											<h2>Skills Required</h2>
										</div>
										<div class="wt-widgetcontent">
											<form class="wt-formtheme wt-formsearch">
												<fieldset>
													<div class="wt-checkboxholder wt-verticalscrollbar">
														{% for skill in skills %}
														<span class="wt-checkbox">
															<input id="{{skill.name}}" class="proposal-checked" type="checkbox" data-filter="skill" name="{{skill.name}}" value="{{skill.id}}">
															<label for="{{skill.name}}">{{skill.name}}</label>
														</span>
														{% endfor %}
													</div>
												</fieldset>
											</form>
										</div>
									</div>
									
									<div class="wt-widget wt-effectiveholder">
										<div class="wt-widgettitle">
											<h2>Agencies</h2>
										</div>
										<div class="wt-widgetcontent">
											<form class="wt-formtheme wt-formsearch">
												<fieldset>
													<div class="wt-checkboxholder">
														<span class="wt-checkbox">
															<input id="upgradedTeams" class="proposal-checked" type="checkbox" data-filter="upgradedTeams" name="upgradedTeams" value="upgradedTeams">
															<label for="upgradedTeams"> Upgraded Teams</label>
														</span>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
									
									<div class="wt-widget wt-effectiveholder">
										<div class="wt-widgettitle">
											<h2> Duration </h2>
										</div>
										<div class="wt-widgetcontent">
											<form class="wt-formtheme wt-formsearch">
												<fieldset>
													<div class="wt-checkboxholder  wt-verticalscrollbar">
														<span class="wt-checkbox">
															<input id="one_day" class="proposal-checked" type="checkbox" data-filter="one_day" name="one_day" value="one_day">
															<label for="one_day">01 Day</label>
														</span>
														<span class="wt-checkbox">
															<input id="two_days" class="proposal-checked" type="checkbox" data-filter="two_days" name="two_days" value="two_days">
															<label for="two_days">02 Days</label>
														</span>
														<span class="wt-checkbox">
															<input id="three_days" class="proposal-checked" type="checkbox" data-filter="three_days" name="three_days" value="three_days">
															<label for="three_days">03 Day</label>
														</span>
														<span class="wt-checkbox">
															<input id="four_days" class="proposal-checked" type="checkbox" data-filter="four_days" name="four_days" value="four_days">
															<label for="four_days">04 Day</label>
														</span>
														<span class="wt-checkbox">
															<input id="five_days" class="proposal-checked" type="checkbox" data-filter="five_days" name="five_days" value="five_days">
															<label for="five_days">05 Day</label>
														</span>
														<span class="wt-checkbox">
															<input id="six_days" class="proposal-checked" type="checkbox" data-filter="six_days" name="six_days" value="six_days">
															<label for="six_days">06 Day</label>
														</span>
														<span class="wt-checkbox">
															<input id="one_week" class="proposal-checked" type="checkbox" data-filter="one_week" name="one_week" value="one_week">
															<label for="one_week">01 Week</label>
														</span>
														<span class="wt-checkbox">
															<input id="two_weeks" class="proposal-checked" type="checkbox" data-filter="two_weeks" name="two_weeks" value="two_weeks">
															<label for="two_weeks">02 Week</label>
														</span>
														<span class="wt-checkbox">
															<input id="three_weeks" class="proposal-checked" type="checkbox" data-filter="three_weeks" name="three_weeks" value="three_weeks">
															<label for="three_weeks">03 Week</label>
														</span>
														<span class="wt-checkbox">
															<input id="one_month" class="proposal-checked" type="checkbox" data-filter="one_month" name="one_month" value="one_month">
															<label for="one_month">01 Month</label>
														</span>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
									<div class="wt-widget wt-effectiveholder">
										<div class="wt-widgettitle">
											<h2> Price Range </h2>
										</div>
										<div class="wt-widgetcontent">
											<form class="wt-formtheme wt-formsearch">
												<fieldset>
													<div class="wt-checkboxholder">
														<span class="wt-checkbox">
															<input id="less_than_50_dollar" class="proposal-checked" type="checkbox" data-filter="less_than_50_dollar" name="less_than_50_dollar" value="less_than_50_dollar">
															<label for="less_than_50_dollar">{{base_currency}} 50 and Below</label>
														</span>
														<span class="wt-checkbox">
															<input id="fify_dollar_to_100_dollar" class="proposal-checked" type="checkbox" data-filter="fify_dollar_to_100_dollar" name="fify_dollar_to_100_dollar" value="fify_dollar_to_100_dollar">
															<label for="fify_dollar_to_100_dollar">{{base_currency}} 50 - {{base_currency}} 100 </label>
														</span>
														<span class="wt-checkbox">
															<input id="hundred_dollar_to_350_dollar" class="proposal-checked" type="checkbox" data-filter="hundred_dollar_to_350_dollar" name="hundred_dollar_to_350_dollar" value="hundred_dollar_to_350_dollar">
															<label for="hundred_dollar_to_350_dollar">{{base_currency}} 100 - {{base_currency}} 350</label>
														</span>
														<span class="wt-checkbox">
															<input id="three_fifty_dollar_to_500_dollar" class="proposal-checked" type="checkbox" data-filter="three_fifty_dollar_to_500_dollar" name="three_fifty_dollar_to_500_dollar" value="three_fifty_dollar_to_500_dollar">
															<label for="three_fifty_dollar_to_500_dollar">{{base_currency}} 350 - {{base_currency}} 500</label>
														</span>
														<span class="wt-checkbox">
															<input id="above_500_dollar" class="proposal-checked" type="checkbox" data-filter="above_500_dollar" name="above_500_dollar" value="above_500_dollar">
															<label for="above_500_dollar">{{base_currency}} 500 and Above</label>
														</span>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
									<div class="wt-widget wt-effectiveholder">
										<div class="wt-widgettitle">
											<h2>Countries</h2>
										</div>
										<div class="wt-widgetcontent">
											<form class="wt-formtheme wt-formsearch">
												<fieldset>
													<div class="wt-checkboxholder wt-verticalscrollbar">
														{% for country in countries %}
														<span class="wt-checkbox">
															<input id="{{country.name}}" class="proposal-checked" type="checkbox" data-filter="country" name="{{country.name}}" value="{{country.id}}">
															<label for="{{country.name}}">{{country.name}}</label>
														</span>
														{% endfor %}
													</div>
												</fieldset>
											</form>
										</div>
									</div>
									<div class="wt-widget wt-effectiveholder">
										<div class="wt-widgettitle">
											<h2>Revision</h2>
										</div>
										<div class="wt-widgetcontent">
											<form class="wt-formtheme wt-formsearch">
												<fieldset>
													<div class="wt-checkboxholder">
														<span class="wt-checkbox">
															<input id="true" class="proposal-checked" type="checkbox" data-filter="true" name="true" value="true">
															<label for="true"> Has Revision</label>
														</span>
														<span class="wt-checkbox">
															<input id="false" class="proposal-checked" type="checkbox" data-filter="false" name="false" value="false">
															<label for="false"> No Revision</label>
														</span>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
								</aside>
							</div>
							<div class="ajaxLoader">Loading...</div>
							<div id="proposalTotal" class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left text-center"><em style="color:green;">{{totalcount}}</em></div>
							<div id="proposalSuccessFilter" class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
								<div class="wt-userlistingholder wt-haslayout">
									{% for proposal in proposals %}
									<div class="wt-userlistinghold wt-featured wt-userlistingholdvtwo">
										<div class="wt-userlistingcontent">
											<div class="wt-contenthead">
												<div class="wt-title">
													<a href="{% url 'freelancer:freelancer_profile' proposal.created_by.short_name %}"><i class="fa fa-user">&nbsp;&nbsp;Author: </i> {% firstof  proposal.created_by.get_full_name|capfirst proposal.team.created_by.get_full_name|capfirst %}</a>
													   <a href="usersingle.html"><i class="fa fa-group">&nbsp;&nbsp;Team: </i> {% firstof proposal.team.title|capfirst proposal.team.created_by.get_full_name|capfirst %}</a>
													<h2>{{proposal.title}}</h2>
												</div>
												<div class="wt-description">
													<p>{{proposal.preview}}</p>
												</div>
												<div class="wt-tag wt-widgettag">
													{% for skill in proposal.skill.all %}
													<a href="javascript:void(0);">{{skill}}</a>
													{% endfor %}
												</div>
											</div>
											<div class="wt-viewjobholder">
												<ul>
													<li><span><i class="fa fa-dollar-sign wt-viewjobdollar"></i> {{base_currency}} {{proposal.salary}}</span></li>
													<li><span><i class="far fa-folder"></i>{{proposal.get_service_level_display}}</span></li>
													<li><span>{% if proposal.created_by.country.flag %}<img src="{{proposal.created_by.country.flag.url}}" alt="img description"> {% else %} {{proposal.created_by.country.country_code}} - {% endif %} &nbsp;&nbsp; {{proposal.created_by.country.name}}</span></li>
													<li><span><i class="far fa-folder wt-viewjobfolder"></i>Revision: {{proposal.get_revision_display}}</span></li>
													<li><span><i class="far fa-clock wt-viewjobclock"></i>Duration: {{proposal.get_dura_converter_display }}</span></li>
													<li><span><i class="fa fa-tag wt-viewjobtag"></i>Ref: {{proposal.reference}}</span></li>
													<li><span><i class="fa fa-group" style='color:blue'></i>Member{{proposal.team.members.count|pluralize}}: {{proposal.team.members.count}}</span></li>
													<li class="wt-btnarea"><a href="{% url 'proposals:proposal_detail' proposal.created_by.short_name proposal.slug %}" class="wt-btn">View Detail</a></li>
												</ul>
											</div>
										</div>
									</div>
									{% endfor %}

									<nav class="wt-pagination">
										<ul>
											<li class="wt-prevpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-left"></i></a></li>
											<li><a href="javascrip:void(0);">1</a></li>
											<li><a href="javascrip:void(0);">2</a></li>
											<li><a href="javascrip:void(0);">3</a></li>
											<li><a href="javascrip:void(0);">4</a></li>
											<li><a href="javascrip:void(0);">...</a></li>
											<li><a href="javascrip:void(0);">50</a></li>
											<li class="wt-nextpage"><a href="javascrip:void(0);"><i class="lnr lnr-chevron-right"></i></a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- User Listing End-->
		</div>


	{% endblock %}

	{% block scripts %}
	<script type="text/javascript" src="{% static 'js/proposal-filters.js' %}"></script>
	{% endblock scripts %}
