{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}


		<!--Inner Home Banner Start-->
		<div class="wt-haslayout wt-innerbannerholder">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
						<div class="wt-innerbannercontent">
						<div class="wt-title"><h2>Create Proposal</h2></div>
						<ol class="wt-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="wt-active">Modify Proposal</li>
						</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Inner Home End-->

	<!--Main Start-->
	<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
		<div class="wt-haslayout wt-main-section">
			<!-- User Listing Start-->
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
							<div class="wt-dashboardbox">
								<div class="wt-dashboardboxtitle">
								<div class="wt-dashboardboxtitle">
									<h2>Post a Proposal</h2>
								</div>
								<div class="wt-dashboardboxcontent">
									{% if proposalform.errors %}
									<p>Please correct the following errors:</p>
									<p>{{ proposalform.non_field_errors }}</p>
									{% for field in proposalform %}
									{% if field.errors %}
									<div class="alert alert-danger" role="alert">
										{{ field.errors|striptags }}
									</div>
									{% endif %}
									{% endfor %}
									{% endif %}
																								
									<div class="wt-jobdescription wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Proposal Overview</h2>
										</div>									
										<form method="POST" enctype="multipart/form-data">
											{% csrf_token %}										
											<div class="form-group">
												{{proposalform.title.label}}
												{{proposalform.title}}
											</div>

											<div class="form-group">
												{{proposalform.preview.label}}
												{{proposalform.preview}}
											</div>	
																							
											<div class="form-group">
												{{proposalform.category.label}}
												{{proposalform.category}}
											</div>																			

											<div class="form-group">
												{{ proposalform.skill.label}}
												<select class="chosen-select Skills"{{ proposalform.skill}}></select>
											</div>

									<div class="wt-jobdetails wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Proposal Details</h2>
											</div>
												{{proposalform.media|safe}}
												{{proposalform.description}}											
											</div>

											<div class="form-group">
												{{proposalform.sample_link.label}}
												{{proposalform.sample_link}}													
											</div>

									<div class="wt-jobdescription wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Proposal FAQs</h2>
										</div>
											<div class="form-group">
												{{proposalform.faq_one.label}}
												{{proposalform.faq_one}}	
											</div>

											<div class="form-group">
												{{proposalform.faq_one_description.label}}
												{{proposalform.faq_one_description}}	
											</div>

											<div class="form-group">
												{{proposalform.faq_two.label}}
												{{proposalform.faq_two}}	
											</div>

											<div class="form-group">
												{{proposalform.faq_two_description.label}}
												{{proposalform.faq_two_description}}	
											</div>

											<div class="form-group">
												{{proposalform.faq_three.label}}
												{{proposalform.faq_three}}	
											</div>

											<div class="form-group">
												{{proposalform.faq_three_description.label}}
												{{proposalform.faq_three_description}}	
											</div>

										</div>
									<div class="wt-jobskills wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Proposal Specifications</h2>
										</div>
										<div class="table-responsive">
											<table class="table">
												<thead>
												<tr>
													<th>Features</th>
													<th>Value</th>
												</tr>
												</thead>
												<body>
												<tr>
													<th>Salary</th>
													<th>{{proposalform.salary}}</th>
												</tr>
												</body>	
												<body>
												<tr>
													<th>Level</th>
													<th>{{proposalform.service_level}}</th>
												</tr>
												</body>													
												<body>													
												<tr>
													<th>Duration</th>
													<th>{{proposalform.dura_converter}}</th>
												</tr>
												</body>
												<body>
												<tr>
													<th>Revision</th>
													<th>{{proposalform.revision}}</th>
												</tr>
												</body>
											</table> 												
										</div>	
									</div>																			
										<div class="wt-attachmentsholder">
											<div class="wt-tabscontenttitle">
												<h2>Media Files</h2>
											</div>
											<div class="form-group form-group-label">
													<span><h2>{{proposalform.thumbnail.label}}</h2></span>
													<span>{{proposalform.thumbnail}}</span>
											</div>
											<div class="form-group">												
													<span><h2>{{proposalform.video.label}}</h2></span>
													<span>{{proposalform.video}}</span>											
											</div>
											<div class="form-group">												
													<span><h2>{{proposalform.file_type.label}}</h2></span>
													<span>{{proposalform.file_type}}</span>											
											</div>
										</div>					
									</div>
								</div>
								</div>
									</div>
											<div class="wt-updatall">
												<i class="ti-announcement"></i>
												<span>Commit changes by just clicking on “Modify Proposal” button.</span>
												<button type="submit" class="wt-btn"><i class="fa fa-pencil-square-o"></i> Modify Proposal </button>
											</div>
									</div>
									</form>
								</div>
							</div>
							<!-- User Listing End-->
						</div>
					</main>

    <script>
        htmx.on('#form', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>


{% endblock %}
