{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}

			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout">

            {% if request.user.clients %}
            <section class="wt-haslayout wt-dbsectionspace">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="alert alert-danger" role="alert">
                                <span style="color: red; font-weight: bold;">!Alert: Only quizes with "Public" status shall be Published</span>
                            </div>
                        </div>

                        <div class="card-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="card-title">
                                <div class="wt-btnarea">
                                    <a href="{% url 'quiz:create_quiz' %}" class="wt-btn">Add New Quiz</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>										
            </section>
            {% comment %} {% endif %} {% endcomment %}
                        
            <section class="wt-haslayout wt-dbsectionspace">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="wt-insightsitem wt-dashboardbox">
                    <div class="card">
                        <div class="card-header">
                            List of Quizzes
                        </div>

                            {% if quizz|length > 0 %}
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>

                                        <th>Number</th>
                                        <th>Quiz Name</th>
                                        <th>Quiz Status</th>
                                        <th>Skills Required</th>
                                        <th>Participants</th>
                                        <th>Duration(Min)</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for quiz in quizz %}
                                    <tr>
                                    <td>{{forloop.counter}} </td>
                                    <td>{% if quiz.title %} {{quiz.title}} {% else %} - {% endif %}</td>
                                    <td><a href="{{quiz.get_modify_quiz_absolute_url}}" class="text-primary"><i class="fa fa-pencil-square-o"> {{quiz.get_is_published_display}}</i></a></td>
                                    <td>{% if quiz.skills %}<div class="row justify-content-md-center wt-widgettag">{% for quizz in quiz.skills.all %}<a href="javascript:void(0);">{{quizz}}</a>{% endfor %} {% else %} - {% endif %}</td>
                                    <td><a href="{{quiz.get_quiz_participants_absolute_url}}" class="text-primary"><i class="fa fa-window-restore"> {{quiz.participants.count}} Attempted</i></a></td>
                                    <td>{% if quiz.duration %} {{quiz.duration }} {% else %} - {%endif%}</td>
                                    <td>
										<a href="{{quiz.get_quiz_detail_absolute_url}}" class="btn btn-info"><i class="fa fa-window-restore"> View Detail</i></a>
									</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
							{% if not quizz %}
							<p> Ooops! quiz created Yet<p>
							{% endif %}
				        </div>				
                    </div>
                </div>										
            </section>
            {% endif %}

            {% if request.user.freelancer %}
            <section class="wt-haslayout wt-dbsectionspace">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="alert alert-info" role="alert">
                                <span style="color: green; font-weight: bold;">!Alert: Usually Employers trust their long term projects with those who participate in their quizes</span>
                            </div>
                        </div>
                    </div>
                </div>										
            </section>
          
            <section class="wt-haslayout wt-dbsectionspace">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="wt-insightsitem wt-dashboardbox">
                    <div class="card">
                        <div class="card-header">
                            List of Quizzes
                        </div>

                        <div class="card-body">

                            <div class="row">
                            <div class="col-lg-12">

                            {% if quizz|length > 0 %}
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>

                                        <th>Number</th>
                                        <th>Quiz Name</th>
                                        <th>Skills Required</th>
                                        <th>Duration(Min)</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for quiz in quizz %}
                                    <tr>
                                    <td>{{forloop.counter}} </td>
                                    <td>{% if quiz.title %} {{quiz.title}} {% else %} - {% endif %}</td>
                                    <td>{% if quiz.skills %}<div class="row justify-content-md-center wt-widgettag">{% for quizz in quiz.skills.all %}<a href="javascript:void(0);">{{quizz}}</a>{% endfor %} {% else %} - {% endif %}</td>
                                    <td>{% if quiz.duration %} {{quiz.duration }} {% else %} - {%endif%}</td>
                                    <td>
										<a href="{{quiz.get_quiz_detail_absolute_url}}" class="btn btn-info"><i class="fa fa-window-restore"> View Detail</i></a>
									</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
							{% if not quizz %}
							<p> Ooops! quiz created Yet<p>
							{% endif %}
				        </div>				
                    </div>
                </div>										
            </section>
            {% endif %}
			<div class="wt-proposalholder">
				<div class="row justify-content-md-center">
					<div class="wt-sectionhead wt-textcenter">
						<span>I am ...........</span>
					</div>
				</div>
			</div>
			</main>

{% endblock %}

