{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

        <!--Inner Home Banner Start-->
        <div class="wt-haslayout wt-innerbannerholder">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-xs-12 col-sm-12 col-md-12 push-md-2 col-lg-12 push-lg-3">
                <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>Preview Questions</h2></div>
                </div>					
              </div>
            </div>
          </div>
        </div>
        <!--Inner Home End-->
        <section class="wt-haslayout">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="wt-greeting-holder">
                  <div class="row">
                    <div class="col-12">
                      <div class="wt-greetingcontent">
                        <div class="wt-sectionhead">
                          <div class="row justify-content-md-center">
                            <h3>{{quiz.title}}</h3>
                          </div>
                        </div>
                        <div class="wt-description"><br><br>
                            <h4>Quiz Instruction</h4>
                            <div class="wt-sectiontitle">
                                <p>{{quiz.instruction|linebreaksbr}}.</p>
                                <h4><p>Total Qestions: {{questions.count}}</p></h4>
                            </div>											
                          </div> 
                        </div>
                        <a href="{% url 'quiz:list_quiz' %}" class="text-red" >Take me Back</a> 
                        
                        <div class="col s12">
                            {% for question in questions %}
                              <div class="col s12">
                                <br>
                                <p>{{forloop.counter}}. {{ question.question }}?</p>
                                <input type="hidden" name="question" value="{{ question.id }}" disabled=True/>
                              </div>
                              {% for answer in question.answers.all %}
                                <div class="input col s12">
                                  <label>
                                    <input name="answer" type="checkbox" value="{{ answer.id }}" disabled=True/>
                                    <span>{{ answer.answer }}</span>
                                  </label>          
                                </div>
                              {% endfor %}
                              {% endfor %}
                            <div class="row justify-content-md-center">
                              <a href="{% url 'quiz:list_quiz' %}" class="text-danger" ><button class="btn btn-info">Take me to Quiz Page</button></a> 
                          </div>  
                      </div>                    
                  </div>
                </div>
              </div>						
            </div>
          </section>

        	<div class="wt-proposalholder mt-6">
            <div class="row justify-content-md-center">
              <div class="wt-sectionhead wt-textcenter">
                <span>Copyright @ {{website.site_name}}</span>
              </div>
            </div>
          </div>
	
{% endblock %}

