{% extends "dashboard/main_base.html" %}

{% load static %}

{% block content %}

					
	<!--Inner Home Banner Start-->
	<div class="wt-haslayout wt-innerbannerholder">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
					<div class="wt-innerbannercontent">
					<div class="wt-title"><h2>Missed your Way?</h2></div>
					</div>					
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-md-center">				
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
			<div class="wt-dashboardbox">
				<div class="wt-dashboardboxcontent wt-rcvproposala">
					<div class="wt-freelancerholder wt-rcvproposalholder">												
						<div class="wt-tabscontenttitle">
							<div class="alert alert-warning" role="alert">
								<span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> 
									Info: {{teams}}.<a href="{% url 'pages:how_it_works' %}">check our useful resources</a> 
								</span>
							</div>
						</div>									 
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}