{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

	<!--Inner Home Banner Start-->
	<div class="wt-haslayout wt-innerbannerholder">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xs-12 col-sm-12 col-md-12 push-md-2 col-lg-12 push-lg-3">
					<div class="wt-innerbannercontent">
					    <div class="wt-title"><h2>Assign Member</h2></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Inner Home End-->
	<section class="wt-haslayout">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div class="wt-greeting-holder">
						<div class="row">
							<div class="col-12">
								<div class="wt-greetingcontent">
									<div class="wt-sectionhead">
										<div class="wt-sectiontitle">
											<h4>Project Name: {{proposal.title}}</h4>
										</div>
										<form method="POST", action='.', class="wt-formtheme wt-formpopup"> {% csrf_token %}
                                            <div class="form-group">
                                                <h5><label>Application:</label></h5>
                                            <h6>{{proposal.title}}</h6>
                                            </div>
											<div class="form-group">
                                                {{assignform.status.label}}
                                                {{assignform.status}}
                                            <div class="form-group">
                                                {{assignform.assignee.label}}
                                                {{assignform.assignee}}
                                            </div>
											<div class="form-group">
                                                {{assignform.duty.label}}
                                                {{assignform.duty}}
                                            </div>								
                                            <div class="form-group wt-btnarea mt-5">
                                                <button type="submit" class="btn btn-success"> Asign Member </button>
                                                <a class="btn btn-danger" href="{% url 'teams:team_single' team.id %}"> Cancel </a>
                                            </div>											
                                        </form>
									</div>
								</div>
							</div>
                        </div>									
					</div>
				</div>
			</div>						
		</div>
    </section>

        {% include 'dashboard/main_footer.html' %}
	
{% endblock %}

