{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

<main class="wt-main wt-haslayout">
    <div class="wt-haslayout wt-innerbannerholder">
        {% include "account/partials/proposal.html" %}
    </div>

    {% if request.user.freelancer %}
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row justify-content-md-center">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent wt-rcvproposala">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                            <h3>Assigned Tasks</h3>
                            <div class="wt-freelancerholder wt-rcvproposalholder">												
                                <div class="wt-tabscontenttitle">
                                    <div class="alert alert-warning" role="alert">
                                        <span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> 
                                            Info: You will be managing proposals assigned to you. It is a good practice to track your working hours. 
                                        </span>
                                    </div>
                                </div>
                                {% if assigned|length > 0 %}									 
                                <div class="table-responsive">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Assigned By</th>
                                            <th>Assigned To</th>
                                            <th>Proposal</th>
                                            <th>Assigned On</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for assign in assigned %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{assign.assignor.get_full_name}}</td>
                                        <td>{{assign.assignee.get_full_name}}</td>
                                        <td class="text-left">{% if assign.proposal %} {{assign.proposal.title|truncatechars:100}} {% else %} - {% endif %}</td>
                                        <td>{{assign.modified }}</td> 
                                        <td>
                                            {% if request.user != assign.assignee %}
                                            <a href="{% url 'teams:reassign_proposals_to_myself' assign.id %}" class="btn btn-outline-success btn-sm mt-2"><i class="fas fa-spinner fa-spin"></i> Assign Me</a>
                                            {% else %}
                                            <a href="{% url 'teams:re_assign_proposal_to_any_member' assign.id assign.proposal.slug %}" class="btn btn-outline-danger btn-sm mt-2"><i class="fas fa-spinner fa-spin"></i> Re-Assign</a>
                                            {% endif %} 
                                        </td>
                                    </tr>
                                    {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                <hr>
                                <p class='text-center'><strong>No task to show at the moment</strong></p>
                                {% endif %}											
                                </div> 
                            </div>
                        
                            {% if assigned.has_other_pages %}
                            <nav class="wt-pagination">
                                <ul>
                                    {% if assigned.has_previous %}
                                        <li class="wt-prevpage"><a href="?page={{ assigned.previous_page_number }}"><i class="lnr lnr-chevron-left"></i></a></li>
                                    {% else %}
                                        <li class="wt-prevpage"><i class="lnr lnr-chevron-left"></i></li>
                                    {% endif %}

                                    {% if assigned.number|add:'-1' > 1 %}
                                        <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
                                    {% endif %}

                                    {% for pg in assigned.paginator.page_range %}
                                        {% if assigned.number == pg %}
                                        <li><a style="color: red;" href="#">{{ pg }}</a></li>
                                        {% elif pg > assigned.number|add:'-2' and pg < assigned.number|add:'2' %}
                                        <li><a href="?page={{pg}}">{{ pg }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                        
                                    {% if assigned.paginator.num_pages > assigned.number|add:'1' %}
                                        <li><a href="#">&hellip;</a></li>
                                    {% endif %}

                                    {% if assigned.has_next %}
                                    <li class="wt-nextpage"><a href="?page={{ assigned.next_page_number }}"><i class="lnr lnr-chevron-right"></i></a></li>
                                    {% else %}
                                    <li class="wt-nextpage"><i class="lnr lnr-chevron-right"></i></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}	
                        </div>								
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}    
 
{% endblock %}

