{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}

			<!--Main Start-->
			<main class="wt-main wt-haslayout">
				<div class="wt-haslayout wt-innerbannerholder">
					<div class="container">
						<div class="row justify-content-md-center">
							<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
								<div class="wt-innerbannercontent">
								<div class="wt-title"><h2>Shareholders</h2></div>
								<ol class="wt-breadcrumb">
									<li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
									<li class="wt-active">Earning and Membership </li>
								</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wt-proposalholder">
					<div class="row justify-content-md-center">
						<div class="wt-hireduserstatus">
							<h4>Membership of "{{ team.title }}"</h4>
							<em>Split Profit, or invite in multiple ways: (1) Internal Freelancers & (2) External Users</em>
						</div>											
					</div>
				</div>
				<section class="wt-haslayout wt-dbsectionspace">
					<div class="row justify-content-md-center">				
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
						<div class="wt-dashboardbox">
							<div class="wt-dashboardboxcontent wt-rcvproposala">
							<div class="wt-sectiontitle">
								<span>Team Members</span>
							</div>
										
							<div class="wt-freelancerholder wt-rcvproposalholder">
								<div class="wt-tabscontenttitle" style="display: flex; justify-content:space-between;">
									<h2>Member Shareholding</h2>
									<button class="btn btn-danger btn-sm"
										id="shareholding"
										type="button"
										hx-get= "{% url 'teams:change_shareholding' %}"
										hx-target="#earning-ratio">
										<i class="fa fa-edit"> Change Ratio</i>
									</button>
								</div>
																		
								<div id="earning-ratio" class="table-responsive">
									{% include 'teams/components/team_earning.html'%}			
								</div> 

							</div>								
						</div>
					</div>
				</section>
				<section class="wt-haslayout wt-dbsectionspace">
					<div class="row justify-content-md-center">				
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
							<div class="wt-dashboardbox">
								<div class="wt-dashboardboxcontent wt-rcvproposala">
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">

									<div class="wt-freelancerholder wt-rcvproposalholder">
										<div class="wt-sectiontitle">
											<span>Option #1: Internal Invitation(via Profile)</span>
										</div>
										<ul class="wt-projectliststyle">
											<div class="wt-title">
												<h5>Instructions</h5>
											</div>	
											<li><span><i class="fa fa-check"></i>#1: Click on <em>'Invite Freelancer'</em> button below</span></li>
											<li><span><i class="fa fa-check"></i>#2: You will be taken to the list of freelancers page</span></li>
											<li><span><i class="fa fa-check"></i>#3: Click on <em>'user Avatar', or 'User fullname' or tagline</em> to open details</span></li>
											<li><span><i class="fa fa-check"></i>#4: locate the button 'invite Freelancer' and Click to invite</span></li>
										</ul>
										{% if active_team.max_member_per_team %}											
											<div class="form-group wt-btnarea">
												<a href="{% url 'freelancer:freelancer_listing' %}"><button type="button" class="btn btn-danger"><i class="fa fa-handshake-o" aria-hidden="true"></i> Invite Freelancer</button></a>
											</div>
										{% else %}
										<div class="wt-btnarea alert alert-warning col-xs-12 col-sm-12 col-md-12 col-lg-6">
											<span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> 
												{{active_team.show_max_member_message}} 
											</span>
										</div>	
										{% endif %}											
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>	
				<section class="wt-haslayout wt-dbsectionspace">
					<div class="row justify-content-md-center">				
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
						<div class="wt-dashboardbox">
							<div class="wt-dashboardboxcontent wt-rcvproposala">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
									<div class="wt-freelancerholder wt-rcvproposalholder">												
										<div class="wt-sectiontitle">
											<span>Option #2: External Invitation</span>
										</div>
										<ul class="wt-projectliststyle">
											<li><span><i class="fa fa-check"></i>#1: Provide a valid email that invitee can monitor</span></li>
											<li><span><i class="fa fa-check"></i>#2: The provided email owner shouldn't be one of your existing team member</span></li>
										</ul>
										<form autocomplete='off'> {% csrf_token %}
											{% if active_team.max_member_per_team %}
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 float-center" id="invitation-message"></div>
											<div class="form-group ">
												<input id="id_emailer" class="form-control col-md-6" type="email" name="emailer" placeholder="enter user email" required>
											</div> 
											<div class="form-group wt-btnarea">
												<button id="emailInvitation" 
													type="submit" 
													class="btn btn-danger"
													hx-post= "{% url 'teams:external_invitation' %}"
													hx-target="#invited-user">
													<i class="fa fa-handshake-o" aria-hidden="true"></i>
													 Invite member 
												</button>
											</div>											
											{% else %}
											<div class="wt-btnarea alert alert-warning col-xs-12 col-sm-12 col-md-12 col-lg-6">
												<span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> 
                                                   {{active_team.show_max_member_message}}
                                                </span>
											</div>	
											{% endif %}
										</form> 
										
										<div class="wt-tabscontenttitle">
											<h2>Invited Members</h2>
										</div>									 
										<div id="invited-user" class="table-responsive">
											{% include 'teams/components/team_invitees.html'%}			
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		
		<div class="wt-proposalholder">
			<div class="row justify-content-md-center">
				<div class="wt-sectionhead wt-textcenter">
					<span>Copyright @ {{website.site_name}}</span>
				</div>
			</div>
		</div>

		</main>
	

				
{% endblock %}

{% block scripts %}

<script>
	$(document).on("click", "#emailInvitation", function(){
		$("#id_emailer").val('')
	})
</script>

{% endblock scripts %}
