{% extends "dashboard/main_base.html" %}
{% load static %}
{% comment %} {% load trackertag %} {% endcomment %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}


<main id="wt-main" class="wt-main wt-haslayout">
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-left">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxtitle">
                        <h2>Packages ({{active_team.package.get_type_display}})

                            {% if active_team.active_plan %}
                            <span class="wt-boxleft float-right"><i class="lnr lnr-clock" ></i> Next Payment On: <b>{{active_team.package_expiry|date:'M-d-Y'}}</b></span>
                            {% endif %}
                        </h2>
                    </div>
                   
                    <div id="packaging" class="wt-dashboardboxcontent wt-packages">
                        <div class="row g-0">
                            {% for package in packages %}
                            {% if package.type == 'basic' %}
                            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                                <div class="bg-light rounded">
                                    <div class="border-bottom py-4 px-5 mb-0">
                                        <h4 class="text-primary mb-1">{% firstof package.verbose_type package.get_type_display %}</h4>
                                    </div>
                                    
                                    <div class="p-5 pt-0">
                                        <h1 class="display-5 mb-3"> 
                                            <small class="align-top" style="font-size: 22px; line-height: 45px;">{{base_currency}}</small>{{package.price}}<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                                        </h1>
                                        
                                        <div class="d-flex justify-content-between mb-3">
                                            <span style="font-weight:bold;">Offering:</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Multiple Teams</span><i class="fa fa-close text-danger pt-1"></i>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Group Chats</span><i class="fa fa-close text-danger pt-1"></i>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Maximum Membership</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_member_per_team}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Maximum Proposals</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_proposals_allowable_per_team}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Monthly Jobs Applications</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.monthly_projects_applicable_per_team}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Monthly Contract Offer</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.monthly_offer_contracts_per_team}}</span>
                                        </div>
                                        <button class="btn btn-primary py-2 px-4 mt-4" disabled>
                                            <span>
                                                {% if active_team.package_status == 'active' %}
                                                Active
                                                {% else %}
                                                Inactive
                                                {% endif %}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if package.type == 'team' %}
                            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                                <div class="bg-white rounded shadow position-relative" style="z-index: 1;">
                                    <div class="border-bottom py-4 px-5 mb-0">
                                        <h4 class="text-primary mb-1">{% firstof package.verbose_type package.get_type_display %}</h4>
                                    </div>
                                    <div class="p-5 pt-0">
                                        <h1 class="display-5 mb-3">
                                            <small class="align-top" style="font-size: 22px; line-height: 45px;">{{base_currency}}</small>{{package.price}}<small
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                                        </h1>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span style="font-weight:bold;">Offering:</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Multiple Teams</span><i class="fa fa-check text-primary pt-1"></i>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Group Chats</span><i class="fa fa-check text-primary pt-1"></i>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Maximum Membership</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_member_per_team}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Maximum Proposals</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_proposals_allowable_per_team}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Monthly Applications</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.monthly_projects_applicable_per_team}}</span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Monthly Contract Offer</span><span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.monthly_offer_contracts_per_team}}</span>
                                        </div>
                                        
                                        {% if active_team.active_plan %}
                                        <button hx-get="{% url 'payments:subscribe_with_balance' %}" 
                                            class="btn btn-danger py-2 px-4 mt-4"
                                            hx-target = "#wt-main"
                                            hx-trigger='click'>
                                            Cancel
                                        </button>
                                        {% comment %} <a class="btn btn-danger py-2 px-4 mt-4" href="subscribe_with_balance"><span>Cancel</span></a> {% endcomment %}
                                        {% else %}
                                        <a class="btn btn-primary py-2 px-4 mt-4" href="#paytime">Subscribe</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
     
    </section>
    
    <div class="wt-proposalholder">
        
        <div class="container">
            {% if active_team.default_plan %}
            <div id="payment-method" class="row">
                {% include 'teams/components/package.html' %}
            </div>
            {% endif %}
            <div class="row justify-content-md-center">
                <div class="wt-sectionhead wt-textcenter">
                    <span>Copyright @ {{website}}</span>
                </div>
            </div>
            <br>
            <br>
        </div> 
        </div> 
        
    </div> 
    </div>    
</main>

{% endblock %}




































