{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include "account/partials/feebanner.html" %}
        
    <div class="wt-proposalholder">
        
        <div class="container">
            <div id="payment-method" class="row">
                {% include 'teams/components/purchase_package.html' %}
            </div>
            {% comment %} <br>
            <br>
            <br>
            <br>
            <br> {% endcomment %}
            <div class="row justify-content-md-center">
                <div class="wt-sectionhead wt-textcenter">
                    <span>Copyright @ {{website.site.name|capfirst}}</span>
                </div>
            </div>
            <br>
            <br>
        </div> 
        </div> 
        
    </div> 
    </div>

    {% endblock content %}
