{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}

			<!--Main Start-->
			<div class="wt-haslayout wt-innerbannerholder">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                            <div class="wt-innerbannercontent">
                                <div class="wt-title"><h2>{{active_team.title|capfirst}}</h2></div>
                                    <ol class="wt-breadcrumb">
                                        <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                                        <li class="wt-active">Manager</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

				<section class="container">
					<div class="row justify-content-md-center">				
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
							<div class="wt-dashboardbox">
								<div class="wt-dashboardboxcontent">
									<div class="wt-rcvproposalholder">
										<div class="text-center">
											{% if active_team.package.type == 'Team' %}
											<a href="{% url 'teams:teamchatroom' %}" class="btn btn-danger">Group Chat</a>
											{% endif %}
											<a href="/" class="btn btn-success">Go Back</a>
										</div>
										<div class="wt-sectiontitle">
											<span>About {{ team.title }}</span>
										</div>
										<div class="wt-description">
											<p>{{team.notice|linebreaksbr}} ...</p>
											<div class="row justify-content-between wt-textcenter text-white">
												<div class="col-md-3" style="color:rgb(66, 143, 191); border-radius:5px;">
													<br>
													<h4>Team Status</h4>
													<span>{{team.get_status_display}}</span>
												</div>
												<div class="col-md-3" style="color:rgb(111, 146, 133); border-radius:5px;">
													<br>
													<h4>Team Roles</h4>
													<span>{% if team.created_by == request.user %}Owner{% else %}Member{% endif %}</span>
												</div>
												<div class="col-md-3" style="color:rgb(121, 21, 119); border-radius:5px;">
													<br>
													<h4>Existence</h4>
													<span>{{team.created_at|timesince}} ago</span>
												</div>
												<div class="col-md-3" style="color:rgb(97, 46, 19); border-radius:5px;">
													<br>
													<h4>Total Members</h4>
													<span>{{team.members.count}}</span>
												</div>
												
											</div><br><br>
										</div>
										{% if team.created_by == request.user %}
                                        
										<div class="wt-sectiontitle">
											<span>Manage Team</span>
										</div>
										<div id="modify-team">
											{% include 'teams/components/manage_team.html' %}
										</div><br>
										{% endif %}
										<div class="wt-sectiontitle">
											<span>Latest Applications (<a style="text-decoration:none; color:blue" href="{% url 'applications:freelancer_application'%}">view-all</a>)</span>
										</div>
										{% if applications|length > 0 %}
										<div class="table-responsive">
											<table class="table">
											<thead>
											<tr>
												<th>#</th>
												<th>Applicant</th>
												<th>Jobs</th>
												<th>Date</th>
												<th>Status</th>
												<th>Detail</th>
		
											</tr>
											</thead>
											<tbody>
		
												{% for application in applications %}
												<tr>
													<td>{{forloop.counter}}</td> 
													<td>{{application.applied_by.short_name|capfirst}}</td>
													<td class="text-left">{{application.project.title|slice:60}}</td>
													<td>{{application.created_at|date:"d-m-Y"}}</td>
													<td>{{application.get_status_display}}</td>
													<td><a href="{% url 'applications:application_detail' application.project.slug %}" class="btn btn-success btn-sm">View Message</a></td>
												</tr>
												{% endfor %}
		
											</tbody>
										</table>
										{% else %}
										<p class='text-center text-green'> No job application from this Team</p>
										{% endif %}
										</div>	<br>

										<div class="wt-sectiontitle">
											<span>Members Profile</span>
										</div>
										<div class="table-responsive">
											<table class="table">
											<thead>
												<tr>
													<th>#</th>
													<th>Image</th>
													<th>Country</th>
													<th>Username</th>
													<th>Position</th>
													{% if active_team.created_by == request.user %}
													<th>Email</th>
													{% endif %}
													<th>Profile</th>
			
												</tr>
												</thead>
												<tbody>
			
													{% for member in team.members.all %}
													<tr>
													<td>{{forloop.counter}}</td> 
													<td>
														<div class="text-center">
															<img src="{% if member.freelancer.profile_photo %}{{member.freelancer.profile_photo.url}} {% else %} No Image {% endif %}" alt="image description" width="40px">
														</div>														
													</td>
													<td>{{member.country.name}}</td> 
													<td>{{member.short_name}}</td>
													<td>{% if active_team.created_by.short_name == member.short_name %}Founder{% else %}Member{% endif %}</td>
													{% if active_team.created_by == request.user %}
													<td>{{member.email}}</td>
													{% endif %}
													<td>
														<a href="{{member.freelancer.freelancer_profile_absolute_url}}" class="btn btn-info btn-sm">Preview</a>
													</td>
													</tr>
													{% endfor %}
			
												</tbody>
											</table>
										</div>
                                        <div>
									</div>
								</div>
							</div>
						</div>
				</section>	
				
			<div class="wt-proposalholder">
				<div class="row justify-content-md-center">
					<div class="wt-sectionhead wt-textcenter">
						<span>Copyright @ {{website.site.name}}</span>
					</div>
				</div>
			</div>

{% endblock content %}
				

