{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}

			<!--Main Start-->
		<main class="wt-main wt-haslayout">
			<div class="wt-haslayout wt-innerbannerholder">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
							<div class="wt-innerbannercontent">
							<div class="wt-title"><h2>Payment Modes</h2></div>
								<ol class="wt-breadcrumb">
									<li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
									<li class="wt-active">Modes </li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="wt-proposalholder">
				<div class="row justify-content-md-center">
					<div class="wt-hireduserstatus">
						<em>Any account filled will must be selected during withdrawal request else we will not process your payment</em>
					</div>											
				</div>
			</div>

			<section class="wt-haslayout wt-dbsectionspace">
				<div class="row justify-content-md-center">				
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
						<div class="wt-dashboardbox">
							<div class="wt-dashboardboxcontent wt-rcvproposala">
								<div class="row">
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
										<div class="wt-insightsitem wt-dashboardbox wt-box-shadow">
											<button type="button" class="btn btn-secondary btn-sm" disabled style="background-color:grey;">{{base_currency}}&nbsp;{{request.user.fundtransferuser.pending_balance}}</button>
											<div class="wt-insightdetails">
												<div class="wt-title">
													<span><strong>Book Balance</strong></span>
												</div>													
											</div>	
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
										<div class="wt-insightsitem wt-dashboardbox wt-box-shadow">
											{% if active_team.created_by == request.user %}
											<button type="button" class="btn btn-primary btn-sm" disabled style="background-color:indigo;">{{base_currency}}&nbsp;{{active_team.team_balance}}</button>
											{% else %}
											<span style="color:red;"><i class="ti-na">&nbsp;Restricted</i></span>
											{% endif %}
											<div class="wt-insightdetails">
												<div class="wt-title">
													<span><strong>Team Balance</strong></span>
												</div>													
											</div>	
										</div>
									</div>												
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
										<div class="wt-insightsitem wt-dashboardbox wt-box-shadow">
											<button type="button" class="btn btn-success btn-sm" disabled style="background-color:green;">{{base_currency}}&nbsp;{{request.user.fundtransferuser.available_balance}}</button>
											<div class="wt-insightdetails">
												<div class="wt-title">
													<span><strong>Avail Balance</strong></span>
												</div>													
											</div>	
										</div>
									</div>	
								</div>
								{% if active_team.created_by == request.user %}
								<div class="wt-freelancerholder wt-rcvproposalholder">
																						
									<span id="paymentAccount-message" style="color:green; text-align:right;">.</span>

									<form method="POST", autocomplete='off'> {% csrf_token %}
									
									{% if gateways|length > 0 %}				   
									<div class="wt-jobdescription wt-tabsinfo">
										<div class="wt-jobdetails wt-tabsinfo">
											<div class="wt-tabscontenttitle">
												<h2>Primary Account</h2>
											</div>
										{{paymentForm.primary_account_type}}
										<span style="color:red;" role="alert">{{ paymentForm.primary_account_type.errors}}</span>
									</div> 
									</div> 
									
									{% for gateway in gateways %}

									{% if gateway.name == "Flutterwave" %} 
									<div class="wt-jobdescription wt-tabsinfo">
										<div class="wt-jobdetails wt-tabsinfo">
											<div class="wt-tabscontenttitle">
												<h2>Flutterwave Account</h2>
											</div>                                          
											<div class="table-responsive">
												<table class="table">
													<thead>
													<tr>
														<th>Account</th>
														<th>Inputs</th>
													</tr>
													</thead>
													<body>
													<tr>
														<td>Payment Mode</td>
														<td>
															{{paymentForm.flutterwave_type}}
															<span style="color:red;" role="alert">{{ paymentForm.flutterwave_type.errors}}</span>
														</td>
													</tr>
													</body>												
													<body>
													<tr>
														<td>Country</td>
														<td>
															{{paymentForm.flutterwave_country}}
															<span style="color:red;" role="alert">{{ paymentForm.flutterwave_country.errors}}</span>
														</td>
													</tr>
													</body>													
													<body>
													<tr>
														<td>Bearer Name</td>
														<td>
															{{paymentForm.flutterwave_bearer}}
															<span style="color:red;" role="alert">{{ paymentForm.flutterwave_bearer.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
														<tr>
															<td>Account Number</td>
															<td>
																{{paymentForm.flutterwave_account}}
																<span style="color:red;" role="alert">{{ paymentForm.flutterwave_account.errors}}</span>
															</td>
														</tr>
														</body>														
													<body>
													<tr>
														<th>If Bank Selected</th>
														<th>Extra Bank Info</th>
													</tr>
													</body>													
													<body>													
													<tr>
														<td>Bank Name</td>
														<td>
															{{paymentForm.flutterwave_bank}}
															<span style="color:red;" role="alert">{{ paymentForm.flutterwave_bank.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Swift/Iban Code</td>
														<td>
															{{paymentForm.flutterwave_swift_iban}}
															<span style="color:red;" role="alert">{{ paymentForm.flutterwave_swift_iban.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Extra Info</td>
														<td>
															{{paymentForm.flutterwave_extra_info}}
															<span style="color:red;" role="alert">{{ paymentForm.flutterwave_extra_info.errors}}</span>
														</td>
													</tr>
													</body>
												</table> 
											</div>
										</div>
										{% endif %}
										{% if gateway.name == "PayPal" %}
										<div class="wt-jobdetails wt-tabsinfo">
											<div class="wt-tabscontenttitle">
												<h2>Paypal Account</h2>
											</div>                                          
											<div class="table-responsive">
												<table class="table">
													<thead>
													<tr>
														<th>Account</th>
														<th>Form</th>
													</tr>
													</thead>
													<body>
													<tr>
														<td>Account/Email</td>
														<td>
															{{paymentForm.paypal_account}}
															<span style="color:red;" role="alert">{{ paymentForm.paypal_account.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Bearer Name</td>
														<td>
															{{paymentForm.paypal_bearer}}
															<span style="color:red;" role="alert">{{ paymentForm.paypal_bearer.errors}}</span>
														</td>
													</tr>
													</body>													
													<body>
													<tr>
														<td>Country</td>
														<td>
															{{paymentForm.paypal_country}}
															<span style="color:red;" role="alert">{{ paymentForm.paypal_country.errors}}</span>
														</td>
													</tr>
													</body>													
													
												</table> 
											</div>
										</div>
										{% endif %}
										{% if gateway.name == "Stripe" %}
										<div class="wt-jobdetails wt-tabsinfo">
											<div class="wt-tabscontenttitle">
												<h2>Stripe Account</h2>
											</div>                                          
											<div class="table-responsive">
												<table class="table">
													<thead>
													<tr>
														<th>Account</th>
														<th>Form</th>
													</tr>
													</thead>
													<body>
													<body>
													<tr>
														<td>Country</td>
														<td>
															{{paymentForm.stripe_country}}
															<span style="color:red;" role="alert">{{ paymentForm.stripe_country.errors}}</span>
														</td>
													</tr>
													</body>	
																								
													<body>
													<tr>
														<td>Bank Name</td>
														<td>
															{{paymentForm.stripe_bank}}
															<span style="color:red;" role="alert">{{ paymentForm.stripe_bank.errors}}</span>
														</td>
													</tr>
													</body>													
													
													<body>
													<tr>
														<td>Account Number</td>
														<td>
															{{paymentForm.stripe_account}}
															<span style="color:red;" role="alert">{{ paymentForm.stripe_account.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Routing Number</td>
														<td>
															{{paymentForm.stripe_routing}}
															<span style="color:red;" role="alert">{{ paymentForm.stripe_routing.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Swift/Iban Code</td>
														<td>
															{{paymentForm.stripe_swift_iban}}
															<span style="color:red;" role="alert">{{ paymentForm.stripe_swift_iban.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Account Bearer</td>
														<td>
															{{paymentForm.stripe_bearer}}
															<span style="color:red;" role="alert">{{ paymentForm.stripe_bearer.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Extra Info</td>
														<td>
															{{paymentForm.stripe_extra_info}}
															<span style="color:red;" role="alert">{{ paymentForm.stripe_extra_info.errors}}</span>
														</td>
													</tr>
													</body>
												</table> 
											</div>
										</div>
										{% endif %}
										{% if gateway.name == "Razorpay" %}
										<div class="wt-jobdetails wt-tabsinfo">
											<div class="wt-tabscontenttitle">
												<h2>Razorpay Account</h2>
											</div>                                          
											<div class="table-responsive">
												<table class="table">
													<thead>
													<tr>
														<th>Account</th>
														<th>Form</th>
													</tr>
													</thead>
													<body>
													<tr>
														<td>Bearer Name</td>
														<td>
															{{paymentForm.razorpay_bearer}}
															<span style="color:red;" role="alert">{{ paymentForm.razorpay_bearer.errors}}</span>
														</td>
													</tr>
													</body>
													<body>
													<tr>
														<td>Account UPI ID</td>
														<td>
															{{paymentForm.razorpay_upi}}
															<span style="color:red;" role="alert">{{ paymentForm.razorpay_upi.errors}}</span>
														</td>
													</tr>
													</body>													
													<body>
													<tr>
														<td>Country</td>
														<td>
															{{paymentForm.razorpay_country}}
															<span style="color:red;" role="alert">{{ paymentForm.razorpay_country.errors}}</span>
														</td>
													</tr>
													</body>													
												</table> 
											</div>
										</div>
										{% endif %}
										{% endfor %}
										<div>
											<div>
												<div>
													<div class="wt-updatall">
														<i class="far fa-money-bill-alt"></i>
														<span> click on "Save Changes" button</span>
														<button type="submit" class="wt-btn"> Save Changes</button>
													</div>
												</div>
											</div>
										
										<ul class="wt-projectliststyle">
											<div class="wt-title">
												<h5>Information!</h5>
											</div>	
											<li><span><i class="fa fa-check"></i>#1: Bearer and account must come from countries supported by respective partners</span></li>
											<li><span><i class="fa fa-check"></i>#2: When making a withdrawal request, you will have to select primary account</span></li>
											<li><span><i class="fa fa-check"></i>#3: If your primary account was declined by our payment partners (e.g Stripe), we will connsider any other account you have provided </span></li>
											<li><span><i class="fa fa-check"></i>#4: If your account details are declined, we shall halt the payment process and send you an email using your account mail</span></li>
											<li><span><i class="fa fa-check"></i>#5: Your request will categorized as "Pending". After you rectify, we will proceed to pay.</span></li>
											<li><span><i class="fa fa-check"></i>#6: In the case of (#4), all other request in queue may be processed before returning. To avoid delays, you need to prompt our support.</span></li>
										</ul>  
									</form>
								</div>
								{% else %}
								<span style="color:blue;"> The withdrawal options will be activated soon. Please check back </span>
								{% endif %}												                  														
								{% else %}
								<div class="text-center"><br><br>
									<span style="color:red;"> You must be in your founded team to make changes </span>
								</div>
								{% endif %}												                  														
							</div>
						</div>
					</div>
				</div>
					
				</section>

				<div class="wt-proposalholder">
					<div class="row justify-content-md-center">
						<div class="wt-sectionhead wt-textcenter">
							<span>Copyright @ {{website.site_name}}</span>
						</div>
					</div>
				</div>

			</main>
		<!--Main End-->	
				
{% endblock %}
