{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

<main class="wt-main wt-haslayout">
    <div class="wt-haslayout wt-innerbannerholder">
        {% include "account/partials/transfer.html" %}
    </div>

    {% if active_team.created_by == request.user %}
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row justify-content-md-center">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent wt-rcvproposala">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                            <h3>Transfer History</h3>
                            <div class="wt-freelancerholder wt-rcvproposalholder">												
                                <div class="wt-tabscontenttitle">
                                    <div class="alert alert-warning" role="alert">
                                        <span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> 
                                            Info: Any credit transfer or withdrawal will impact a debited to your account. 
                                        </span>
                                    </div>
                                </div>									 
                                <div class="table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Receiver</th>
                                        <th>Action Type</th>
                                        <th>Position</th>
                                        <th>Transfered On</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for manager_transfer in manager_transfers %}
                                    <tr>
                                        <td>{{forloop.counter}} </td>
                                        <td>{{manager_transfer.team_staff.get_full_name}}</td>
                                        <td>{{manager_transfer.get_action_choice_display}}</td>
                                        <td>{{manager_transfer.get_position_display}}</td>
                                        <td>{{manager_transfer.created_at}}</td>
                                        <td>{{manager_transfer.debit_amount}}</td>
                                        <td>{{manager_transfer.get_transfer_status_display}}</td>
                                    </tr> 
                                {% endfor %}					
                                    </tbody>
                                </table>
                                {% if not manager_transfers %}
                                <hr>
                                <p class='text-center'><strong>{% if request.user == active_team.created_by %} You have not transfered money yet, but you can change that {% else %}You have not received transfer yet.{% endif %}</strong></p>
                                {% endif %}											
                                </div> 
                            </div>
                        
                            {% if manager_transfers.has_other_pages %}
                            <nav class="wt-pagination">
                                <ul>
                                    {% if manager_transfers.has_previous %}
                                        <li class="wt-prevpage"><a href="?page={{ manager_transfers.previous_page_number }}"><i class="lnr lnr-chevron-left"></i></a></li>
                                    {% else %}
                                        <li class="wt-prevpage"><i class="lnr lnr-chevron-left"></i></li>
                                    {% endif %}

                                    {% if manager_transfers.number|add:'-1' > 1 %}
                                        <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
                                    {% endif %}

                                    {% for pg in manager_transfers.paginator.page_range %}
                                        {% if manager_transfers.number == pg %}
                                        <li><a style="color: red;" href="#">{{ pg }}</a></li>
                                        {% elif pg > manager_transfers.number|add:'-2' and pg < manager_transfers.number|add:'2' %}
                                        <li><a href="?page={{pg}}">{{ pg }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                        
                                    {% if manager_transfers.paginator.num_pages > manager_transfers.number|add:'1' %}
                                        <li><a href="#">&hellip;</a></li>
                                    {% endif %}

                                    {% if manager_transfers.has_next %}
                                    <li class="wt-nextpage"><a href="?page={{ manager_transfers.next_page_number }}"><i class="lnr lnr-chevron-right"></i></a></li>
                                    {% else %}
                                    <li class="wt-nextpage"><i class="lnr lnr-chevron-right"></i></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}	
                        </div>								
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}    
        
    {% if active_team.created_by != request.user %}
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row justify-content-md-center">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent wt-rcvproposala">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                            <h3>Transfer History</h3>
                            <div class="wt-freelancerholder wt-rcvproposalholder">												
                                <div class="wt-tabscontenttitle">
                                    <div class="alert alert-warning" role="alert">
                                        <span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> 
                                            Info: We shall make payment to your selected account within the timeframe
                                        </span>
                                    </div>
                                </div>									 
                                    <div class="table-responsive">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Sender</th>
                                            <th>Type</th>                                                
                                            <th>Worked As</th>
                                            <th>Received on </th>
                                            <th>Transfer($)</th>
                                            <th>Transfer Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for staff_transfer in staff_transfers %}
                                        <tr>
                                            <td>{{forloop.counter}} </td>
                                            <td>{{staff_transfer.manager.get_full_name}}</td>
                                            <td>{{staff_transfer.get_action_choice_display}}</td>
                                            <td>{{staff_transfer.get_position_display}}</td>
                                            <td>{{staff_transfer.created_at}}</td>
                                            <td>{{staff_transfer.debit_amount}}</td>
                                            <td>{{staff_transfer.get_transfer_status_display}}</td>
                                        </tr> 
                                    {% endfor %}					
                                        </tbody>
                                    </table>
                                    {% if not staff_transfers %}
                                    <hr>
                                    <p class='text-center'><strong>You have not received transfer from your team founder</strong></p>
                                    {% endif %}											
                                </div> 
                            </div>
                            {% if staff_transfers.has_other_pages %}
                            <nav class="wt-pagination">
                                <ul>
                                    {% if staff_transfers.has_previous %}
                                        <li class="wt-prevpage"><a href="?page={{ staff_transfers.previous_page_number }}"><i class="lnr lnr-chevron-left"></i></a></li>
                                    {% else %}
                                        <li class="wt-prevpage"><i class="lnr lnr-chevron-left"></i></li>
                                    {% endif %}

                                    {% if staff_transfers.number|add:'-1' > 1 %}
                                        <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
                                    {% endif %}

                                    {% for pg in staff_transfers.paginator.page_range %}
                                        {% if staff_transfers.number == pg %}
                                        <li><a style="color: red;" href="#">{{ pg }}</a></li>
                                        {% elif pg > staff_transfers.number|add:'-2' and pg < staff_transfers.number|add:'2' %}
                                        <li><a href="?page={{pg}}">{{ pg }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                        
                                    {% if staff_transfers.paginator.num_pages > staff_transfers.number|add:'1' %}
                                        <li><a href="#">&hellip;</a></li>
                                    {% endif %}

                                    {% if staff_transfers.has_next %}
                                    <li class="wt-nextpage"><a href="?page={{ staff_transfers.next_page_number }}"><i class="lnr lnr-chevron-right"></i></a></li>
                                    {% else %}
                                    <li class="wt-nextpage"><i class="lnr lnr-chevron-right"></i></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}	
                        </div>								
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}


    {% endblock content %}
    {% block scripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script>
        //TRANSFER OF FUND BUTTON CONFIRMATION  
        $(document).ready(function(){

            $('#transfer-nextstep').hide()
            $('#transfer-confirm').click(function(){
                $('#transfer-nextstep').slideToggle(200)       
            });
            $('#transfer-nextstep').click(function(){
                $('#transfer-nextstep').hide()       
            });            
        });
    </script>

    <script>
        //TRANSFER OF FUND             
        $(document).on('click', '#transfer-button', function (e) {
        e.preventDefault();

        let staff = $('[name="team_staff"]').val();
        let position = $('[name="position"]').val();
        let amount = $('[name="debit_amount"]').val();
        let displayMessage = document.getElementById('transfer-message');
        let displayError = document.getElementById('transfer-error');

        if(staff =='' || position == ''|| amount ==''){
            swal("Alert!", "All fields are required", "error");
            return false;
        }
        else{
            $.ajax({
                type: 'POST',
                url: '{% url "freelancer:transfer_debit" %}',
                data: {
                    teamstafftype: $('#id_team_staff option:selected').val(),
                    position: $('#id_position option:selected').val(),
                    tamount: $('#id_debit_amount').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'make-transfer'
                },
                success: function (json) {
                    $('#id_team_staff').val('');
                    $('#id_position').val('');
                    $('#id_debit_amount').val('');                   
                    document.getElementById('transfer-message').innerHTML = json.message            
                },
                error: function (error) {
                    document.getElementById('transfer-message').innerHTML = error.message
                }
            });
        }
    })
    </script>

    <script>
        //WITHDRAWAL OF FUND             
        $(document).on('click', '#withdrawal-button', function (e) {
        e.preventDefault();

        let amount = $('[name="withdraw_amount"]').val();
        let narration = $('[name="narration"]').val();
        let gateway = $('[name="gateway"]').val();

        if(amount =='' || narration == ''||gateway=='')
        {
            swal("Alert!", "All fields are required", "error");
            return false;
        }
        else{
            $.ajax({
                type: 'POST',
                url: '{% url "freelancer:withdrawal_debit" %}',
                data: {
                    wamount: $('#id_withdraw_amount').val(),
                    narration: $('#id_narration').val(),
                    gateway: $('#id_gateway').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'make-withdrawal'
                },
                success: function (json) {
                    document.getElementById('withdrawal-message').innerHTML = json.message
                    $('#id_withdraw_amount').val('');
                    $('#id_narration').val('');
                },
                error: function (error) {
                    document.getElementById('withdrawal-message').innerHTML = error.message
                }            
            });
        }
    })
    </script>

    {% endblock scripts %}