<div class="col-md-8">
    <div class="table-responsive">
        <table class="table" style="border:none;">
            <thead class="addon-header">
                <tr>
                <th>Action</th>
                    <th>Gateway</th>
                    
                </tr>
            </thead>
            
            <tbody>
                {% for gateway in payment_gateways %}
                <tr>
                    <td {% if gateway_type.pk == gateway.pk %}
                    style="background-color:rgb(231, 236, 231);"
                    {% endif %}>
                        <form>
                        <input type="radio" name="gatewayid" id="{{gateway.id}}" value="{{gateway.id}}"
                            hx-post="{% url 'teams:packages'%}"
                            hx-target="#payment-method"
                            {% if gateway_type.pk == gateway.pk %}checked{% endif %}>
                        </form>
                    </td>
                    <td class="text-center"
                    {% if gateway_type.pk == gateway.pk %}
                    style="background-color:rgb(231, 236, 231);"
                    {% endif %}>{{gateway.get_name_display}}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4" id="paytime">
    <div class="table-responsive">
        <table class="table" style="border:none;">
            <thead class="addon-header">
                <tr>
                    <th>Action Summary</th>
                </tr>
            </thead>
        </table>
    </div>
  
    {% if gateway_type %}
        {% if gateway_type.name == 'balance' %}
        <div class="d-flex justify-content-center">
            <button hx-get="{% url 'payments:subscribe_with_balance' %}" 
                class="btn btn-primary circular-button"
                hx-target = "#payment-method"
                hx-trigger='click'
                >
                {{base_currency}} {{request.user.fundtransferuser.available_balance}} <br> Pay with {{gateway_type.name}}
            </button>
        </div>
        {% else %}
        <div class="d-flex justify-content-center">
            <a href="{% url 'teams:purchase_package' %}" class="btn btn-primary circular-button">
                Pay with {{gateway_type.name}}
            </a>
        </div>
        {% endif %}
    {% else %}
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary circular-button" disabled>
            Select gateway
        </button>
    </div>
    {% endif %}

</div>
