{% if chats %}
{% for chat in chats %}

{% if chat.sender == request.user %}
<div class="wt-offerermessage">
    <figure><img src="{% if chat.sender.freelancer.profile_photo %}{{ chat.sender.freelancer.profile_photo.url }}{% endif %}" alt="image description"></figure>
    <div class="wt-description">
        <div class="clearfix"></div>
        <p>{{chat.content}} </p>
        <div class="clearfix"></div>
        <p>{{chat.sender.short_name}}</p>
        <time datetime="2017-08-08">{{chat.sent_on}}</time>
    </div>
</div>

{% elif chat.sender != request.user %}
<div class="wt-memessage wt-readmessage">
    <figure><img src="{% if chat.sender.freelancer.profile_photo %}{{ chat.sender.freelancer.profile_photo.url }}{% endif %}" alt="image description"></figure>
    <div class="wt-description">
        <div class="clearfix"></div>
        <p>{{chat.content}}</p>
        <div class="clearfix"></div>
        <p>{{chat.sender.short_name}}</p>
        <time datetime="2017-08-08">{{chat.sent_on}}</time>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<span style="color: green; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> No messages at the moment</span>
{% endif %}
