<div class="col-md-8">
    <div class="table-responsive">
        <table class="table" style="border:none;">
            <thead class="addon-header">
                <tr>
                <th>Action</th>
                    <th>Gateway</th>
                    
                </tr>
            </thead>
            
            <tbody>
                {% for gateway in payment_gateways %}
                <tr>
                    <td {% if gateway_type.pk == gateway.pk %}
                    style="background-color:rgb(231, 236, 231);"
                    {% endif %}>
                        <form>
                        <input type="radio" name="gatewayid" id="{{gateway.id}}" value="{{gateway.id}}"
                            hx-post="{% url 'teams:purchase_package' package.type %}"
                            hx-target="#payment-method"
                            {% if gateway_type.pk == gateway.pk %}checked{% endif %}>
                        </form>
                    </td>
                    <td class="text-center"
                    {% if gateway_type.pk == gateway.pk %}
                    style="background-color:rgb(231, 236, 231);"
                    {% endif %}>{{gateway.get_name_display}}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    <div class="table-responsive">
        <table class="table" style="border:none;">
            <thead class="addon-header">
                <tr>
                    <th>Action Summary</th>
                </tr>
            </thead>
        </table>
    </div>
    
    <div class="d-flex justify-content-between mb-3">
        <span>Price</span><span id="grandTotal2" class="text-primary pt-1">{{base_currency}} {{package.price}}</span>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <span>Plan Type </span><span class="text-primary pt-1"> {{package.get_type_display}}</span>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <span>Team </span><span class="text-primary pt-1">{{active_team.title|truncatechars:35}}</span>
    </div>
    
    <div class="proposal-action">
        <a href="" 
            class="btn btn-primary btn-block product-btn-state"
            style="border-radius:20px;">
            <i class="fa fa-lock" aria-hidden="true"></i>
            {% if gateway_type.name %}Pay with {{gateway_type.name}} {% else %}Select Gateway{% endif %}
        </a>
    </div>
</div>
