{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}
	<!--Register Form Start--> 
	<section class="wt-haslayout wt-dbsectionspace">
		<div class="row justify-content-md-center">				
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
				<div class="wt-haslayout wt-dbsectionspace">
					<div class="wt-dashboardbox wt-dashboardtabsholder">
						<div class="wt-dashboardboxtitle">
							<h2>My Profile</h2>
						</div>
						<div class="wt-dashboardtabs">
							<ul class="wt-tabstitle nav navbar-nav">
								<li class="nav-item">
									<a class="active" data-toggle="tab" href="#wt-skills">Resume and Specialty</a>
								</li>
								<li class="nav-item"><a data-toggle="tab" href="#wt-education">Experience &amp; Education</a></li>
								<li class="nav-item"><a data-toggle="tab" href="#wt-awards">Projects &amp; Awards</a></li>
							</ul>
						</div>
						<div class="wt-tabscontent tab-content">
							<div class="wt-personalskillshold tab-pane active fade show" id="wt-skills">
								<div class="wt-yourdetails wt-tabsinfo">
									{% if profileform %}
									<p>Please correct the following errors:</p>
									{% for field in profileform %}
										{% if field.errors %}
										<div class="alert alert-danger" role="alert">
											{{ field.label_tag }}:{{ field.errors|striptags }}
											 {% comment %} #{{ field.label_tag }}   {% endcomment %}
										</div>
										{% endif %}
									{% endfor %}
									{% endif %}											
									<div class="wt-tabscontenttitle">
										<h2>Your Details</h2>
									</div>
										<div>
											Full Name: {{request.user.get_full_name}}
										</div>	
										<div>
											Email: {{request.user.email}}
										</div>
									<hr>	
									<form method="POST" enctype="multipart/form-data" class="wt-formtheme wt-userform">{% csrf_token %}	
									<div class="form-group">
										{{profileform.gender.label}}
										{{profileform.gender}}
									</div>
									<div class="form-group">
										{{profileform.address.label}}
										{{profileform.address}}
									</div>
								
									<div class="form-group">
										{{profileform.tagline.label}}
										{{profileform.tagline}}
									</div>
									<div class="form-group">
										{{profileform.description.label}}
										{{profileform.description}}
									</div>
									</div> 
									<div class="wt-profilephoto wt-tabsinfo">
									<div class="wt-tabscontenttitle">
										<h2>Profile Photo</h2>
									</div>
									<div class="wt-profilephotocontent">
										<div class="wt-description">
											<p>Anytime you upload new image it will replace current one.</p>
										</div>
											<div class="form-group form-group-label">
												<div class="wt-labelgroup">
														{{profileform.profile_photo}}
													<em class="wt-fileuploading">Uploading<i class="fa fa-spinner fa-spin"></i></em>
												</div>
											</div>
											<div class="form-group">
												<ul class="wt-attachfile wt-attachfilevtwo">
													<li class="wt-uploadingholder wt-companyimg-uploading">
														<div class="wt-uploadingbox">
															<div class="wt-designimg">
																<input id="demoz" type="radio" name="profile_photo" value="profile_photo" checked="">
																{% if request.user.freelancer.profile_photo %}
																<label for="demoz"><img src="{{request.user.freelancer.profile_photo.url}}" alt="img description"><i class="fa fa-check"></i></label>
																{% else %}
																<label for="demoz"><img src="{% static 'images/user-login.png' %}" alt="img description"><i class="fa fa-check"></i></label>
																{% endif %}
															</div>
															<div class="wt-uploadingbar wt-uploading">
																<span class="uploadprogressbar"></span>
																<span>Profile Photo.jpg</span>
																<em>File size: 300 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div> 
									</div> 
									<div class="wt-bannerphoto wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Banner Photo</h2>
										</div>
										<div class="wt-profilephotocontent">
											<div class="wt-description">
												<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua aut enim ad minim veniamac quis nostrud exercitation ullamco laboris.</p>
											</div>
												<div class="form-group form-group-label">
													<div class="wt-labelgroup">
														{{profileform.banner_photo}}
														<em class="wt-fileuploading">Uploading<i class="fa fa-spinner fa-spin"></i></em>
													</div>
												</div>														
												<div class="form-group">
													<ul class="wt-attachfile wt-attachfilevtwo">
														<li class="wt-uploadingholder">
															<div class="wt-uploadingbox">
																<div class="wt-designimg">
																	<input id="id_banner_photo" type="radio" name="banner_photo" value="banner_photo" checked="">
																	{% if request.user.freelancer.banner_photo %}
																	<label for="demoz"><img src="{{request.user.freelancer.banner_photo.url}}" alt="img description"><i class="fa fa-check"></i></label>
																	{% else %}
																	<label for="demoq"><img src="{% static 'images/banner.jpg' %}" alt="img description"><i class="fa fa-check"></i></label>
																	{% endif %}																				
																</div>
																<div class="wt-uploadingbar">
																	<span class="uploadprogressbar"></span>
																	<span>Banner Photo.jpg</span>
																	<em>File size: 300 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
																</div>
															</div>
														</li>
													</ul>
												</div>
											</div> 
										</div> 
									<div class="wt-skills">
										<div class="wt-tabscontenttitle">
											<h2>Skill Specialty</h2>
										</div>
										<div class="form-group">
											<select class="chosen-select Skills" {{profileform.skill}}></select>
										</div>										
									</div>	
									<div class="wt-tabcompanyinfo wt-tabsinfo">
										<div class="wt-tabscontenttitle">
											<h2>Brand Size</h2>
										</div>
										<div class="wt-accordiondetails">
											<div class="wt-radioboxholder">
												<div class="wt-title">
													<h4>No. of employees you have</h4>
												</div>
												<span class="form-group">
													{% for size in profileform.business_size %}
														{{size}}
													{% endfor %}
												</span>														
											</div>
											<div class="wt-radioboxholder">
												<div class="wt-title">
													<h4>Your Department?</h4>
												</div>
												<span class="form-group">
													{% for dept in profileform.department %}
														{{dept}}
													{% endfor %}
												</span>
											</div>
										</div>
									</div>
								</div>
							<div class="wt-educationholder tab-pane fade" id="wt-education">
								<div class="wt-userexperience wt-tabsinfo">
									<div class="wt-tabscontenttitle wt-addnew">
										<h2>Your Education And Experience #1</h2>
									</div>
									<ul class="wt-experienceaccordion accordion">
										<li>
											<div class="wt-accordioninnertitle">
												<span id="accordioninnertitle" data-toggle="collapse" data-target="#innertitle">{{request.user.freelancer.job_position}} <em> ({{request.user.freelancer.start_date}}--{{request.user.freelancer.end_date}})</em></span>
												<div class="wt-rightarea">
													<a href="." class="wt-addinfo wt-skillsaddinfo" id="accordioninnertitle" data-toggle="collapse" data-target="#innertitle" aria-expanded="true"><i class="lnr lnr-pencil"></i></a>
												</div>
											</div>
											<div class="wt-collapseexp collapse show" id="innertitle" aria-labelledby="accordioninnertitle" data-parent="#accordion">
												<div class="form-group form-group-half">
													{{profileform.company_name.label}}
													{{profileform.company_name}}
												</div>															
												<div class="form-group form-group-half">
													{{profileform.start_date.label}}
													{{profileform.start_date}}
												</div>
												<div class="form-group form-group-half">
													{{profileform.end_date.label}}
													{{profileform.end_date}}
												</div>
												<div class="form-group form-group-half">
													{{profileform.job_position.label}}
													{{profileform.job_position}}
												</div>	
												<div class="form-group">
													{{profileform.job_description.label}}
													{{profileform.job_description}}
												</div>																				
												<div class="form-group">
													<span>* Leave ending date empty if its your current job</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="wt-userexperience">
									<div class="wt-tabscontenttitle wt-addnew">
										<h2>Your Education And Experience #2</h2>
									</div>
									<ul class="wt-experienceaccordion accordion">
										<li>
											<div class="wt-accordioninnertitle">
												<span id="accordioninnertitle" data-toggle="collapse" data-target="#innertitle">{{request.user.freelancer.job_position_two}} <em> ({{request.user.freelancer.start_date_two}}--{{request.user.freelancer.end_date_two}})</em></span>
												<div class="wt-rightarea">
													<a href="javascript:void(0);" class="wt-addinfo wt-skillsaddinfo" id="accordioninnertitle1" data-toggle="collapse" data-target="#innertitle1" aria-expanded="true"><i class="lnr lnr-pencil"></i></a>
												</div>
											</div>
											<div class="wt-collapseexp collapse show" id="innertitle1" aria-labelledby="accordioninnertitle1" data-parent="#accordion">
												<div class="form-group form-group-half">
													{{profileform.company_name_two.label}}
													{{profileform.company_name_two}}
												</div>															
												<div class="form-group form-group-half">
													{{profileform.start_date_two.label}}
													{{profileform.start_date_two}}
												</div>
												<div class="form-group form-group-half">
													{{profileform.end_date_two.label}}
													{{profileform.end_date_two}}
												</div>
												<div class="form-group form-group-half">
													{{profileform.job_position_two.label}}
													{{profileform.job_position_two}}
												</div>	
												<div class="form-group">
													{{profileform.job_description_two.label}}
													{{profileform.job_description_two}}
												</div>																				
												<div class="form-group">
													<span>* Leave ending date empty if its your current job</span>
												</div>															
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="wt-awardsholder tab-pane fade" id="wt-awards">
								<div class="wt-addprojectsholder wt-tabsinfo">
									<div class="wt-tabscontenttitle wt-addnew">
										<h2>Your Projects and Awards</h2>
									</div>
									<ul class="wt-experienceaccordion accordion">
										<li>
											<div class="wt-accordioninnertitle">
												<div class="wt-projecttitle collapsed" data-toggle="collapse" data-target="#innertitlebone">

													{% if request.user.freelancer.image_one.url %}
													<figure><img src="{{request.user.freelancer.image_one.url}}" alt="img description"></figure>
													{% else %}
													<figure><img src="{% static 'images/banner.jpg' %}" alt="img description"></figure>
												{% endif %}
													<h3>
														{% if request.user.freelancer.project_title %}
														{{request.user.freelancer.project_title}}
														{% else %}
														No project yet
														{% endif %}
														<span>
															{% if request.user.freelancer.project_url %}
															{{request.user.freelancer.project_url|truncatechars:30}}
															{% else %}
															No sample work yet
															{% endif %}
														</span>
													</h3> 
												</div>
												<div class="wt-rightarea">
													<a href="javascript:void(0);" class="wt-addinfo wt-skillsaddinfo" data-toggle="collapse" data-target="#innertitlebone"><i class="lnr lnr-pencil"></i></a>
												</div>
											</div>
											<div class="wt-collapseexp collapse show" id="innertitlebone" aria-labelledby="accordioninnertitle1" data-parent="#accordion">
												<div class="form-group form-group-half">
														{{profileform.project_title.label}}
														{{profileform.project_title}}
												</div>	
												<div class="form-group form-group-half">
														{{profileform.project_url.label}}
														{{profileform.project_url}}
												</div>
												<div class="form-group form-group-label">
												<div class="wt-labelgroup">
													<span>{{profileform.image_one}}</span>
													<img src="{{ profileform.image_one.url}}">
												</div>																	
											</div>
										</li>												
										<li>
											<div class="wt-accordioninnertitle">
												<div class="wt-projecttitle collapsed" data-toggle="collapse" data-target="#innertitleaone">
												{% if profileform.image_two.url %}
													<figure><img src="{{profileform.image_two.url}}" alt="img description"></figure>
												{% else %}
													<figure><img src="{% static 'images/banner.jpg' %}" alt="img description"></figure>
												{% endif %}
													<h3>{% if request.user.freelancer.project_title_two %}{{request.user.freelancer.project_url_two|truncatechars:30}}{% else %}No project yet{% endif %}<span>{% if request.user.freelancer.project_url_two %}{{request.user.freelancer.project_url_two|truncatechars:30}}{% else %}No sample work yet{% endif %}</span></h3> 
												</div>
												<div class="wt-rightarea">
													<a href="javascript:void(0);" class="wt-addinfo wt-skillsaddinfo" data-toggle="collapse" data-target="#innertitleaone"><i class="lnr lnr-pencil"></i></a>
												</div>
											</div>
											<div class="wt-collapseexp collapse" id="innertitleaone" aria-labelledby="accordioninnertitle" data-parent="#accordion">
												<div class="form-group form-group-half">
														{{profileform.project_title_two.label}}
														{{profileform.project_title_two}}
												</div>	
												<div class="form-group form-group-half">
														{{profileform.project_url_two.label}}
														{{profileform.project_url_two}}
												</div>
												<div class="form-group form-group-label">
												<div class="wt-labelgroup">
													<span>{{profileform.image_two}}</span>
													<img src="{{ profileform.image_two.url}}">
												</div>
											</div>																	
										</li>
										<li>
											<div class="wt-accordioninnertitle">
												<div class="wt-projecttitle collapsed" data-toggle="collapse" data-target="#innertitlecone">
												{% if profileform.image_three.url %}
													<figure><img src="{{profileform.image_three.url}}" alt="img description"></figure>
												{% else %}
													<figure><img src="{% static 'images/banner.jpg' %}" alt="img description"></figure>
												{% endif %}
													<h3>{% if request.user.freelancer.project_title_three %}{{request.user.freelancer.project_url_three|truncatechars:30}}{% else %}No project yet{% endif %}<span>{% if request.user.freelancer.project_url_three %}{{request.user.freelancer.project_url_three|truncatechars:30}}{% else %}No sample work yet{% endif %}</span></h3> 
												</div>
												<div class="wt-rightarea">
													<a href="javascript:void(0);" class="wt-addinfo wt-skillsaddinfo" data-toggle="collapse" data-target="#innertitlecone"><i class="lnr lnr-pencil"></i></a>
												</div>
											</div>
											<div class="wt-collapseexp collapse" id="innertitlecone" aria-labelledby="accordioninnertitle1" data-parent="#accordion">
												<div class="form-group form-group-half">
														{{profileform.project_title_three.label}}
														{{profileform.project_title_three}}
												</div>	
												<div class="form-group form-group-half">
														{{profileform.project_url_three.label}}
														{{profileform.project_url_three}}
												</div>
												<div class="form-group form-group-label">
												<div class="wt-labelgroup">
													<span>{{profileform.image_three}}</span>
													<img src="{{ profileform.image_three.url }}">
												</div>																
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="wt-updatall">
						<i class="ti-announcement"></i>
						<span>Update all your latest changes by just clicking on “Save &amp; Continue” button.</span>
						<button type="submit" class="wt-btn"> Save &amp; Update</button>
					</div>
					</form>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
					<div class="wt-haslayout wt-dbsectionspace wt-codescansidebar">
						<div class="tg-authorcodescan wt-codescanholder">
							<figure class="tg-qrcodeimg">
								<img src="{% static 'images/qrcode.png' %}" alt="img description">
							</figure>
							<div class="tg-qrcodedetail">
								<span class="lnr lnr-laptop-phone"></span>
								<div class="tg-qrcodefeat">
									<h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
								</div>
							</div>
							<div class="wt-codescanicons">
								<span>Share Your Profile</span>
								<ul class="wt-socialiconssimple">
									<li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
									<li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									<li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
									<li class="wt-clone"><a href="javascript:void(0);"><i class="far fa-clone"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="wt-companyad">
							<figure class="wt-companyadimg"><img src="{% static 'images/add-img.jpg' %}" alt="img description"></figure>
							<span>Advertisement  255px X 255px</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Register Form End--> 
{% endblock content %}
