{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}
{% include 'dashboard/main_sidebar.html' %}

			<!--Main Start-->
			<main id="wt-main" class="wt-main wt-haslayout">

				<div class="wt-proposalholder">
					<div class="row justify-content-md-center">
						<div class="wt-sectionhead wt-textcenter">
							<span>I am Freelancer</span>
						</div>
					</div>
				</div>

				<!--More Details Start-->
				<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="wt-insightsitem wt-dashboardbox">
								<figure class="wt-userlistingimg">
									<img src="{% static 'images/security.jpg'%}" alt="image description" class="mCS_img_loaded">
								</figure>
								<div class="wt-insightdetails">
									<div class="wt-title">
										<h3>Extra Security</h3>
										<a href="/account/two_factor/setup/">Add Extra Security</a> |
										<a href="/account/two_factor/">Security Settings</a>
									</div>													
								</div>	
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="wt-insightsitem wt-dashboardbox">
								<figure class="wt-userlistingimg">
									<img src="{% static 'images/thumbnail/img-20.png'%}" alt="image description" class="mCS_img_loaded">
								</figure>
								<div class="wt-insightdetails">
									<div class="wt-title">
										<h3>Profile</h3>
										<a href="{% url 'freelancer:update_freelancer_profile' user_id=user.id %}">Click To Update</a> |
										<a href="{{freelancer.freelancer_profile_absolute_url}}"target='_blank'>Click To Preview</a>
									</div>													
								</div>	
							</div>
						</div>												
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="wt-insightsitem wt-dashboardbox">
								<figure class="wt-userlistingimg">
									<img src="{% static 'images/thumbnail/img-19.png'%}" alt="image description" class="mCS_img_loaded">
								</figure>
								<div class="wt-insightdetails">
									<div class="wt-title">
										<h3>New Messages</h3>
										<a href="{% url 'teams:team' %}"target='_new'>Click To Preview</a>
									</div>													
								</div>	
							</div>
						</div>	
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="wt-insightsitem wt-dashboardbox">
								<figure class="wt-userlistingimg">
									<img src="{% static 'images/thumbnail/img-21.png'%}" alt="image description" class="mCS_img_loaded">
								</figure>
								<div class="wt-insightdetails">
									<div class="wt-title">
										<h3>Check Package Expiry</h3>
										<a href="javascript:void(0)">Click To View</a>
									</div>													
								</div>	
							</div>
						</div>																	
					</div>
				</section>

				<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder" role="dialog" id="profileexperiencemodal">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<div class="wt-signupholder">
									<div class="col-12 col-sm-12 col-md-12 col-lg-6 pull-right">
										<div class="wt-signupcontent">
											<div class="wt-title">
												<h2><span> {{active_team.title}}</span>Active Team</h2>
											</div>
											<div class="wt-description">
												<p>Consectetur adipisicing elit amissed dotem eiusmod tempor incuntes utneai labore etdolore.</p>
											</div>
											<div class="wt-btnarea">
												<a href="javascript:void(0);" class="wt-btn" data-toggle="modal" data-target="#teammodal">Create Team</a>
												<a href="javascript:void(0);" class="wt-btn wt-btnvtwo">Your Plan</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</section>

				<!--More Details Start-->
				<div class="wt-proposalholder">
					<div class="wt-proposalhead">
						{% if active_team.created_by == request.user %}
						<h3>Team Page</h3>
						{% else %}
						<h3>Activate your Team</h3>
						{% endif %}
						<div class="wt-insightdetails">
							<div class="wt-title">
								<a href="{% url 'teams:team' %}"><button type="button" class="btn btn-success"><i class="fa fa-deaf" aria-hidden="true"></i> Go to Team</button></a>
							</div>													
						</div>					
					</div>
				</div>	

				<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
					<div class="row">
						{% if active_team %}
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="wt-insightsitem wt-dashboardbox">
								<figure class="wt-userlistingimg">
									<img src="{% static 'images/thumbnail/group-02.jpg' %}" alt="image description" class="mCS_img_loaded">
								</figure>
									<h4>{{active_team.title}}</h4>
										<h4>{{team.title}}</h4>
										<ul class="wt-userlisting-breadcrumb">
											<li><span><i class="fas fa-spinner fa-spin"></i> PLAN TYPE</span></li>
										</ul>
										
										<h6>{% if active_team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h6>

								<div class="wt-insightdetails">
									<div class="wt-title">
									{% if active_team.created_by == request.user %}
										<a href="{{active_team.get_team_detail_absolute_url}}"><button type="button" class="btn btn-outline-success"><i class="fa fa-folder-open" aria-hidden="true"></i> Details</button></a>
										<a href="{% url 'teams:invitation' %}"><button type="button" class="btn btn-outline-danger"><i class="fa fa-handshake-o" aria-hidden="true"></i> Invite User</button></a>
									{% else %}
										<a href="{{active_team.get_team_detail_absolute_url}}"><button type="button" class="btn btn-outline-success"><i class="fa fa-folder-open" aria-hidden="true"></i> Details</button></a>
									{% endif %}
									</div>													
								</div>
							</div>
						</div>
						{% endif %}
						{% for team in teams %}
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
							<div class="wt-insightsitem wt-dashboardbox">
								<figure class="wt-userlistingimg">
									<img src="{% static 'images/thumbnail/group-02.jpg' %}" alt="image description" class="mCS_img_loaded">
								</figure>
									<h4>{{team.title}}</h4>
									PLAN TYPE HERE
									<h6>{% if team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h6>
								<div class="wt-insightdetails">
									<div class="wt-title">
										<a href="{{team.get_team_preview_url}}"><button type="button" class="btn btn-outline-success" target="_blank"><i class="fa fa-folder-open" aria-hidden="true"></i> Preview</button></a>
										<a href="{{team.get_team_activated_url}}"><button type="button" class="btn btn-warning"><i class="fa fa-free-code-camp" aria-hidden="true"></i> Activate</button></a>
									</div>													
								</div>
							</div>
						</div>
						{% endfor %} 
					</div>						 
				</section>	

				<!--Company listing starts-->
				<div class="wt-proposalholder">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6">
							<div class="wt-sectionhead wt-textcenter">
								<div class="wt-sectiontitle">
									<h2>Explore Projects</h2>
									<span>Verified Projects</span>
								</div>
							</div>
						</div>
					</div>
				</div>				
				</div>				
				<div class="wt-companysinfoholder">	
					<div class="container">
						<div class="row justify-content-md-center">
						{% for proposal in proposal_list %}
							<div class="col-12 col-sm-12 col-md-12 col-lg-3">
								<div class="wt-companysdetails">
									<figure class="wt-companysimg">
									{% if proposal.thumbnail %}
										<img src="{{proposal.thumbnail.url}}" alt="img description">
									{% else %}
										<img src="{% static 'images/thumbnail/thumbnail.jpg' %}" alt="img description">
									{% endif %}
									</figure>
									<div class="wt-companysinfo">
										<figure><img src="{{proposal.created_by.profile.profile_photo.url}}" alt="img description"></figure>
										<div class="wt-title">
											<a href="javascript:void(0);"><i class="fa fa-check-circle"></i>{% if proposal.created_by.profile.brand_name %}{{proposal.created_by.profile.brand_name}} {% else %}{{proposal.created_by.get_full_name}}{% endif %}</a>
											<a href="{% url 'proposals:proposal_detail' proposal.created_by.short_name proposal.slug %}"><h2>{{proposal.title}}</h2></a> 
											<span>From  <img src="{{proposal.created_by.profile.country.flag}}" alt="img description"> {{proposal.created_by.profile.country.name}}</span>
										<hr>
										<ul class="wt-postarticlemeta">
											<li>
												<a href="javascript:void(0);">
													<span>Views()</span>
												</a>
											</li>
											<li class="wt-following">
												<a href="javascript:void(0);">
													<span>Bookmark</span>
												</a>
											</li>
										</ul>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							{% if not proposal_list %}
								<p> No featured proposals to show yet </p>
							{% endif %}
						</div>
					</div>
				</div>

				<!--Company listing starts-->
				<div class="wt-proposalholder">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6">
							<div class="wt-sectionhead wt-textcenter">
								<div class="wt-sectiontitle">
									<h2>Explore Proposals</h2>
									<span>Verified Proposals</span>
								</div>
							</div>
						</div>
					</div>
				</div>				
				</div>				
				<div class="wt-companysinfoholder">	
					<div class="container">
						<div class="row justify-content-md-center">
						{% for proposal in proposal_list %}
							<div class="col-12 col-sm-12 col-md-12 col-lg-3">
								<div class="wt-companysdetails">
									<figure class="wt-companysimg">
									{% if proposal.thumbnail %}
										<img src="{{proposal.thumbnail.url}}" alt="img description">
									{% else %}
										<img src="{% static 'images/thumbnail/thumbnail.jpg' %}" alt="img description">
									{% endif %}
									</figure>
									<div class="wt-companysinfo">
										<figure><img src="{{proposal.created_by.profile.profile_photo.url}}" alt="img description"></figure>
										<div class="wt-title">
											<a href="javascript:void(0);"><i class="fa fa-check-circle"></i>{% if proposal.created_by.profile.brand_name %}{{proposal.created_by.profile.brand_name}} {% else %}{{proposal.created_by.get_full_name}}{% endif %}</a>
											<a href="{% url 'proposals:proposal_detail' proposal.created_by.short_name proposal.slug %}"><h2>{{proposal.title}}</h2></a> 
											<span>From  <img src="{{proposal.created_by.profile.country.flag}}" alt="img description"> {{proposal.created_by.profile.country.name}}</span>
										<hr>
										<ul class="wt-postarticlemeta">
											<li>
												<a href="javascript:void(0);">
													<span>Views()</span>
												</a>
											</li>
											<li class="wt-following">
												<a href="javascript:void(0);">
													<span>Bookmark</span>
												</a>
											</li>
										</ul>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							{% if not proposal_list %}
								<p> No featured proposals to show yet </p>
							{% endif %}
						</div>
					</div>
				</div>

    			{% include 'dashboard/main_footer.html' %}

			</main>
			<!--Main End-->	

			<!-- Add team Popup Start-->
			<!-- Popup Start-->
			<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="teammodal">
				<div class="modal-dialog" role="document">
					<div class="wt-modalcontent modal-content">
						<div class="wt-popuptitle">
							<h2>About to Create Team</h2>
							<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close" data-dismiss="modal" aria-label="Close"></i></a>
						</div>
						<div class="modal-body">
							<div class="wt-projectdropdown-hold">
								<div class="wt-projectdropdown-option">
									<div class="wt-projectselect">
										<figure><img src="images/thumbnail/img-07.jpg" alt="img description"></figure>
										<div class="wt-projectselect-content">
											<h3>Project Title Here</h3>
											<span><i class="lnr lnr-calendar-full"></i> Project Deadline: May 27, 2019</span>
										</div>
									</div>
								</div>
							</div>
							<form method="POST", action='.', class="wt-formtheme wt-formpopup"> {% csrf_token %}
								<div class="form-group">
									{{teamform.title.label}}
									{{teamform.title}}
								</div>
								<div class="form-group">
									{{teamform.notice.label}}
									{{teamform.notice}}
								</div>
								<div class="form-group wt-btnarea">
									<button type="submit" class="wt-btn"> Add Team </button>
								</div>											
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Popup End-->
				
{% endblock %}