{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

<main id="wt-main" class="wt-main wt-haslayout">
    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-innerbannercontent">
                    <div class="wt-title"><h2>T & W Hub</h2></div>
                    <ol class="wt-breadcrumb">
                        <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                        <li class="wt-active">Transfer or Withdrawal </li>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wt-proposalholder">
        <div class="row justify-content-md-center">
            <div class="wt-hireduserstatus">
                <nav>
                    <div class="nav nav-pills nav-justified">
                        <a class="nav-item nav-link text-white btn btn-secondary mt-2"> &nbsp; &nbsp; Book Bal: {{base_currency}}&nbsp;{{request.user.fundtransferuser.pending_balance}}</a>
                        <a class="nav-item nav-link text-white btn btn-primary mt-2">&nbsp; &nbsp; Team Bal: {{base_currency}}&nbsp;{{active_team.team_balance}}</a>
                        <a class="nav-item nav-link text-white btn btn-success mt-2">&nbsp; &nbsp; Avail. Bal: {{base_currency}}&nbsp;{{request.user.fundtransferuser.available_balance}}</a>
                    </div>
                </nav>
            </div>											
        </div>
    </div>
    {% if team.created_by == request.user %}
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row justify-content-md-center">				
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent">
                        <section id="tabs" class="project-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        
                                        <br>
                                        <br>
                                        <nav>
                                            <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{% if future_release.transfer %} Transfer {%else %} Transfer Feature coming soon <i class="fas fa-spinner fa-spin"></i> {% endif %}</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Withdraw</a>
                                            </div>
                                        </nav>
                                        <br>
                                        <br>
                                        
                                        <div class="tab-content" id="nav-tabContent">
                                            
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                {% if future_release.transfer %}
                                                <div class="row">
                                                    {% if active_team.package_status == 'default' or active_team.package.type == 'Basic' %}
                                                    <div class="wt-updatall">
                                                        <span>Upgrade Team to make transfer </span>
                                                        <a href="{% url 'teams:packages' %}" class="wt-btn">
                                                            <div class="btn btn-inline-danger text-white">Subscribe Now</div>
                                                        </a>
                                                    </div>
                                                    {% else %}
                                                    <form method="post" action=".">  
                                                        
                                                        <span id="transfer-message" style="color:green; text-align:right;"></span>
                                                        <br>
                                                        <br>
                                                        <h4> Transfer Withdrawal Right</h4>
                                                        <br>
                                                        <div class="form-group">
                                                            {{transferform.team_staff.label}}
                                                            {{transferform.team_staff}}
                                                        </div> 
                                                        <div class="form-group">
                                                            {{transferform.position.label}}
                                                            {{transferform.position}}
                                                        </div>
                                                        <div class="form-group">
                                                            {{transferform.debit_amount.label}}
                                                            {{transferform.debit_amount}}
                                                        </div>
                                                        <div id = 'transfer-confirm' class="wt-updatall">
                                                            <span>Step 1: I Authorise This Transfer </span>
                                                            <a href="javascript:void(0);" class="wt-btn">
                                                                <div id="transfer-confirmation" class="btn btn-inline-danger text-white">I Confirm</div>
                                                            </a>
                                                        </div>
                                                        <div id = 'transfer-nextstep' class="wt-updatall">
                                                            <span>Step 2: I understand that once transfered, its Irreversible</span>
                                                            <button id='transfer-button' type="submit" class="wt-btn"> Debit Me </button>
                                                        </div>
                                                        <ul class="wt-projectliststyle">
                                                            <div class="wt-title">
                                                                <h5><span style="color: red; font-weight: bold;"> Our Transfer Policy </span><br></h5>
                                                            </div>	
                                                            <li><span><i class="fa fa-check"></i>#1: Transfer feature is only for upgraded Team with more than One Member</span></li>
                                                            <li><span><i class="fa fa-check"></i>#2: Amount must range from <em> {{base_currency}}{{min_transfer_amount}} - {{base_currency}}{{max_transfer_amount}} </em></span></li>
                                                            <li><span><i class="fa fa-check"></i>#3: While making transfer, we expect you to keep a minimum of {{base_currency}}{{min_balance_remaining}}</span></li>
                                                            <li><span><i class="fa fa-check"></i>#4: The remaining balance after each withdrawal must not fall below the minimum</span></li>
                                                            <li><span><i class="fa fa-check"></i>#5: Addition of your transfer must not result into exceeded balance of receiver. We will prompt you in that case</span></li>
                                                        </ul>
                                                    </form>
                                                    {% endif %} 
                                                </div>

                                                {% else %}
                                                <div class="wt-dashboardboxcontent wt-offersidebar wt-dashboardbox-margin">
                                                    <figure><img src="{% static 'images/save-img-01.jpg'%}" alt="img description"></figure>
                                                    <div class="wt-offercontent">
                                                        <h2>New feature Coming Soon</h2>
                                                        <ul class="wt-projectliststyle">
                                                            <div class="wt-title">
                                                                <h5><span style="color: red; font-weight: bold;"> Passage of Withdrawal right(Transfer) </span><br></h5>
                                                            </div>	
                                                            <li><span><i class="fa fa-check"></i>#1: Sharing profit outside the platform can sometimes be hectic with extra costs</span></li>
                                                            <li><span><i class="fa fa-check"></i>#2: With this feature, Team founder can transfer(pass withdrawable amount) to team member(s) </em></span></li>
                                                            <li><span><i class="fa fa-check"></i>#3: Receiver can now make direct withdrawal and {{website.site_name}} will handle payment with no extra costs</span></li>
                                                        </ul>
                                                        <a href="" class="wt-btn">Learn More</a>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                            
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                <div class="wt-projectdetail">
                                                </div>
                                                <div class="row">
                                                    <form method="post" action=".">
                                                        
                                                        <span id="withdrawal-message" style="color:green; text-align:right;">.</span>
                                                        <h3> Make Withdrawal </h3>
                                                        
                                                        <div class="form-group">
                                                            {{withdrawalform.gateway.label}}
                                                            {{withdrawalform.gateway}}
                                                        </div>

                                                        <div class="form-group">
                                                            {{withdrawalform.withdraw_amount.label}}
                                                            {{withdrawalform.withdraw_amount}}
                                                        </div>
                                                        <div class="form-group">
                                                            {{withdrawalform.narration.label}}
                                                            {{withdrawalform.narration}}
                                                        </div>
                                                        <div  class="form-group wt-btnarea">
                                                            <button id='withdrawal-button' type="submit" class="wt-btn"> Withdraw Now </button>
                                                        </div>											
                                                        <ul class="wt-projectliststyle">
                                                            <div class="wt-title">
                                                                <h5><span style="color: red; font-weight: bold;"> Our withdrawal Policy </span><br></h5>
                                                            </div>	
                                                            <li><span><i class="fa fa-check"></i>#1: Amount must range from <em> {{base_currency}}{{min_withdrawal_amount}} - {{base_currency}}{{max_withdrawal_amount}} </em></span></li>
                                                            <li><span><i class="fa fa-check"></i>#2: While making withdrawal, we expect you to keep a minimum of {{base_currency}}{{min_balance_remaining}}</span></li>
                                                            <li><span><i class="fa fa-check"></i>#3: The remaining balance after each withdrawal must not fall below the minimum</span></li>
                                                        </ul>
                                                    </form>  
                                                </div>  
                                            </div>
                                        </div>                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>								
            </section>
            {% endif %}
            
            <div class="wt-proposalholder">
                <div class="row justify-content-md-center">
                    <div class="wt-sectionhead wt-textcenter">
                        <span>Copyright @ {{website.site_name}}</span>
                    </div>
                </div>
            </div>
        </main>

    {% endblock content %}
    {% block scripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script>
        //TRANSFER OF FUND BUTTON CONFIRMATION  
        $(document).ready(function(){

            $('#transfer-nextstep').hide()
            $('#transfer-confirm').click(function(){
                $('#transfer-nextstep').slideToggle(200)       
            });
            $('#transfer-nextstep').click(function(){
                $('#transfer-nextstep').hide()       
            });            
        });
    </script>

    <script>
        //TRANSFER OF FUND             
        $(document).on('click', '#transfer-button', function (e) {
        e.preventDefault();

        let staff = $('[name="team_staff"]').val();
        let position = $('[name="position"]').val();
        let amount = $('[name="debit_amount"]').val();
        let displayMessage = document.getElementById('transfer-message');
        let displayError = document.getElementById('transfer-error');

        if(staff == ''||position == ''|| amount ==''){
            swal("Alert!", "All fields are required", "error");
            return false;
        }
        else{
            $.ajax({
                type: 'POST',
                url: '{% url "freelancer:transfer_debit" %}',
                data: {
                    teamstafftype: $('#id_team_staff option:selected').val(),
                    position: $('#id_position option:selected').val(),
                    tamount: $('#id_debit_amount').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'make-transfer'
                },
                success: function (json) {
                    $('#id_team_staff').val('');
                    $('#id_position').val('');
                    $('#id_debit_amount').val('');                   
                    document.getElementById('transfer-message').innerHTML = json.message            
                },
                error: function (error) {
                    document.getElementById('transfer-message').innerHTML = error.message
                }
            });
        }
    })
    </script>

    <script>
        //WITHDRAWAL OF FUND             
        $(document).on('click', '#withdrawal-button', function (e) {
        e.preventDefault();

        let amount = $('[name="withdraw_amount"]').val();
        let narration = $('[name="narration"]').val();
        let gateway = $('[name="gateway"]').val();

        if(amount =='' || narration == ''||gateway=='')
        {
            swal("Alert!", "All fields are required", "error");
            return false;
        }
        else{
            $.ajax({
                type: 'POST',
                url: '{% url "freelancer:withdrawal_debit" %}',
                data: {
                    wamount: $('#id_withdraw_amount').val(),
                    narration: $('#id_narration').val(),
                    gateway: $('#id_gateway').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'make-withdrawal'
                },
                success: function (json) {
                    document.getElementById('withdrawal-message').innerHTML = json.message
                    $('#id_withdraw_amount').val('');
                    $('#id_narration').val('');
                },
                error: function (error) {
                    document.getElementById('withdrawal-message').innerHTML = error.message
                }            
            });
        }
    })
    </script>

    {% endblock scripts %}