{% extends "dashboard/main_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include 'dashboard/main_sidebar.html' %}

<!--Main Start-->
	<main class="wt-main wt-haslayout">
		{% if active_team.status == 'active' %}
		<div class="wt-proposalholder">
			<div class="row justify-content-md-center">
				<div class="wt-sectionhead wt-textcenter">
					<div class="alert alert-info" role="alert">
						<span style="color: blue; font-weight: bold;"><i class="fas fa-spinner fa-spin"></i> Notice: We will show proposals belonging to your currently active Team when clients offer you contract.</span>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		<!--More Details Start-->
		<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<figure class="wt-userlistingimg">
							<img src="{% static 'images/security.jpg'%}" alt="image description" class="mCS_img_loaded">
						</figure>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Settings</h3>
								{% comment %} <a href="/account/two_factor/setup/">Add Extra Security</a> | {% endcomment %}
								<a href="{% url 'payments:payment_modes' request.user.short_name %}">Account Settings</a>
							</div>													
						</div>	
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<figure class="wt-userlistingimg">
							<img src="{% static 'images/thumbnail/img-20.png'%}" alt="image description" class="mCS_img_loaded">
						</figure>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Profile</h3>
								<a href="{% url 'freelancer:update_freelancer_profile' user.id %}">Click To Update</a> |
								<a href="{{freelancer_profile.freelancer_profile_absolute_url}}"target='_blank'>Click To Preview</a>
							</div>													
						</div>	
					</div>
				</div>												
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<figure class="wt-userlistingimg">
							<img src="{% static 'images/thumbnail/img-19.png'%}" alt="image description" class="mCS_img_loaded">
						</figure>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>New Messages</h3>
								<a href="{% url 'teams:team' %}"target='_new'>Click To Preview</a>
							</div>													
						</div>	
					</div>
				</div>	
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<figure class="wt-userlistingimg">
							<img src="{% static 'images/thumbnail/img-21.png'%}" alt="image description" class="mCS_img_loaded">
						</figure>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Package Expiry</h3>
								<a href="{% url 'teams:packages' %}">Click To View</a>
							</div>													
						</div>	
					</div>
				</div>																	
			</div>
		</section>

		<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder" role="dialog" id="profileexperiencemodal">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12">
						<div class="wt-signupholder">
							<div class="col-12 col-sm-12 col-md-12 col-lg-6 pull-right">
								<div class="wt-signupcontent">
									<div class="wt-title">
										<h2><span> {{active_team.title}}</span>Active Team</h2>
									</div>
									<div class="wt-description">
										<p>Consectetur adipisicing elit amissed dotem eiusmod tempor incuntes utneai labore etdolore.</p>
									</div>
									<div class="wt-btnarea">
										{% if future_release.more_team_per_user %} 
										<a href="javascript:void(0);" class="wt-btn" data-toggle="modal" data-target="#teammodal">Add Team</a>
										{% endif %}
										<a href="{% url 'teams:packages' %}" class="wt-btn wt-btnvtwo">Your Plan</a>
									</div>
									<!-- Example single danger button -->
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		
		{% comment %} {% if belong_to_more_than_one_team == True or active_team.package.type == 'Team' %} {% endcomment %}
		<!--More Details Start-->
		<div class="wt-proposalholder">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wt-sectionhead wt-textcenter">
							<h2>Your Teams</h2>
							<div class="alert alert-info" role="alert">
								<span style="color: green; font-weight: bold;"> If you have more than one team, Use "Activate button" to switch teams</span>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>	

		<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
			<div class="row">
				{% if active_team %}
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
					<div class="wt-insightsitem wt-dashboardbox">
						<figure class="wt-userlistingimg">
							<img src="{% static 'images/thumbnail/group-02.jpg' %}" alt="image description" class="mCS_img_loaded">
						</figure>
							<h4>{{active_team.title}}</h4>
								<h4>{{team.title}}</h4>
								<ul class="wt-userlisting-breadcrumb">
									<li><span><i class="fas fa-spinner fa-spin"></i> {{active_team.package}} Plan</span></li>
								</ul>
								
								<h6>{% if active_team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h6>

						<div class="wt-insightdetails">
							<div class="wt-title">
							{% comment %} {% if team.package.max_member_per_team > team.proposals.count %} {% endcomment %}

							{% if active_team.created_by == request.user %} 
								<a href="{{active_team.get_team_detail_absolute_url}}"><button type="button" class="btn btn-success btn-sm"><i class="fa fa-folder-open" aria-hidden="true"></i> Details</button></a>
								<a href="{% url 'teams:invitation' %}"><button type="button" class="btn btn-danger btn-sm"{% if active_team.package.type == "Basic" %} disabled=true {% endif %}><i class="fa fa-handshake-o" aria-hidden="true"></i> Invite User</button></a>
								<a href="{% url 'teams:teamchatroom' %}"><button type="button" class="btn btn-info btn-sm"{% if active_team.package.type == "Basic" %} disabled=true {% endif %}><i class="far fa-envelope" aria-hidden="true"></i> Chat</button></a>
								{% else %}
								<a href="{{active_team.get_team_detail_absolute_url}}"><button type="button" class="btn btn-success btn-sm"><i class="fa fa-folder-open" aria-hidden="true"></i> Details</button></a>
								<a href="{% url 'teams:teamchatroom' %}"><button type="button" class="btn btn-info btn-sm"><i class="far fa-envelope" aria-hidden="true"></i> Chat</button></a>
							{% endif %}
							</div>													
						</div>
					</div>
				</div>
				{% endif %}
				{% for team in teams %}
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<figure class="wt-userlistingimg">
							<img src="{% static 'images/thumbnail/group-02.jpg' %}" alt="image description" class="mCS_img_loaded">
						</figure>
							<h4>{{team.title}}</h4>
							{{team.package}} Plan
							<h6>{% if team.created_by == request.user %}(Owner){% else %}(Member){% endif %}</h6>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<a href="{{team.get_team_preview_url}}"><button type="button" class="btn btn-success  btn-sm" target="_blank"><i class="fa fa-folder-open" aria-hidden="true"></i> Preview</button></a>
								<a href="{{team.get_team_activated_url}}"><button type="button" class="btn btn-warning btn-sm" {% if team.status == "inactive" %} disabled=true {% endif %}><i class="fa fa-free-code-camp" aria-hidden="true"></i> {% if team.status == "active" %}Activate {% elif team.status == "inactive" %} Inactive {% endif %}</button></a>
							</div>													
						</div>
					</div>
				</div>
				{% endfor %} 
			</div>						 
		</section>
		{% comment %} {% endif %}	 {% endcomment %}

		{% if quizz|length > 0 %}
		<div class="wt-proposalholder">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wt-sectionhead wt-textcenter">
							<div class="wt-sectiontitle">
								<h2>Aptitude Test</h2>
								<div class="alert alert-info" role="alert">
									<span style="color: green; font-weight: bold;"> Take tests and stand a chance at wining bigger projects</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				

			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Quiz Name</th>
							<th>Skills Required</th>
							<th>Duration(Min)</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for quiz in quizz %}
						<tr>
							<td>{{forloop.counter}} </td>
							<td class='text-left'>{% if quiz.title %} {{quiz.title}} {% else %} - {% endif %}</td>
							<td>{% if quiz.skills %}<span class="wt-widgettag">{% for quizz in quiz.skills.all %}<a href="javascript:void(0);">{{quizz}}</a>{% endfor %} {% else %} - {% endif %}</span></td>
							<td>{% if quiz.duration %} {{quiz.duration }} {% else %} - {%endif%}</td>
							<td>
								<a href="{{quiz.get_quiz_detail_absolute_url}}" class="btn btn-info btn-sm"><i class="fa fa-window-restore"> Take Quiz</i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% if quizz.count > 10 %}
			<div class="wt-commentsbtn">
				<button class="wt-btn" type="button">Load More</button>
			</div>
			{% endif %}
		</div>
		{% endif %}	
				
		<!--Company listing starts-->
		
		<div class="wt-proposalholder">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wt-sectionhead wt-textcenter">
							<div class="wt-sectiontitle">
								<h2>Open Projects</h2>
								<div class="alert alert-info" role="alert">
									<span style="color: green; font-weight: bold;"> Verified Open Jobs</span>
								</div>
								{% if open_projects|length > 5 %}
								<form action="" method="post">
									<div class="input-group">
										<input type="text" class="form-control" name="" id="">
										<a type="button" href="" class="wt-searchbtn" style="height:50px;"><i class="lnr lnr-magnifier"></i></a>
									</div>
								</form>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>				
			 
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
						<th>#</th>
						<th>Client Brand</th>
						<th>Country</th>
						<th>Project</th>
						<th>Salary</th>
						<th>Message</th>
						<th>Applicants</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for project in open_projects %}
					<tr>
						<td>{{forloop.counter}}</td> 
						<td>{% if project.created_by.clients.brand_name %}{{project.created_by.clients.brand_name}} {% else %}{{project.created_by.get_full_name}}{% endif %}</td>
						<td><span>{% if project.created_by.country.flag %}<img src="{{project.created_by.country.flag.url}}" alt="img description"> {% else %}{{project.created_by.country.country_code}} - {% endif %} &nbsp; &nbsp; {{project.created_by.country.name|truncatechars:40}}</span></td>
						<td class='text-left'><a class="text-info" href="{% url 'projects:project_detail' project.slug %}">{{project.title}}</a></td>
						<td><class="wt-hireduserstatus">${{ project.amount }}</td>
						<td><class="wt-hireduserstatus">{{ project.applications.count }}</td>
						<td><a class="btn btn-outline-success btn-sm" href="{% url 'applications:application_detail' project.slug %}">View</a> </td>
						<td><a class="btn btn-outline-danger btn-sm" href="{% url 'applications:apply_for_project' project.slug %}"><i class="far fa-envelope"> Apply</i></a> </td>
					</tr>
						{% endfor %}
				</tbody>
			</table>
				{% if not open_projects %}
				<hr>
				<div class="text-center" role="alert">
					<span style="color: blue; font-weight: bold;"> Ooops! No projects to show yet.</span>
				</div>
				{% endif %}
			</div>
			{% if open_projects.count == 10 %}
			<div class="wt-commentsbtn">
				<button class="wt-btn" type="button">Load More</button>
			</div>
			{% endif %}
		</div>

		<!--Company listing starts-->
								
		{% if active_team.created_by == request.user %}
		{% if contracts|length > 0 %}
		<div class="wt-proposalholder">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12">
						<div class="wt-sectionhead wt-textcenter">
							<div class="wt-sectiontitle">
								<h2>Contracts</h2>
								<div class="alert alert-info" role="alert">
									<span style="color: green; font-weight: bold;"> All Your Internal contracts Received</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				

			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Contract #</th>
							<th>Created By</th>
							<th>Proposal Associated</th>
							<th>Target In </th>
							<th>Status</th>
							<th>Total Budget($)</th>
							<th>Message</th>
							<th>Actions</th>
						</tr>
					</thead>
					
					<tbody>
						{% for contract in contracts %}
						<tr>
							<td>{{forloop.counter}} </td>
							<td>{{contract.created_by.get_full_name}}</td>
							<td class='text-left'>{{contract.proposal.title}}</td>
							<td>{{contract.date_created|date:"M-d-Y"}}</td>
							<td>{{contract.get_contract_duration_display}}</td>
							<td>{{contract.get_reaction_display}}</td>
							<td>{{contract.grand_total}}</td>
							<td>
								<a href="{% url 'contract:contract_discord' contract.id contract.slug %}" class="btn btn-danger btn-sm"><i class="far fa-envelope"> Discord</i></a>
							</td>
							<td>
								<a href="{% url 'contract:internal_contract_detail' contract.id contract.slug %}" class="btn btn-success btn-sm"><i class="fa fa-info"> View and Accept</i></a>
							</td> 
						</tr>
						{% endfor %}
					</tbody>
				</table>
					{% if not contracts %}
					<div class="alert alert-info justify-content-md-center text-center" role="alert">
						<span style="color: blue; font-weight: bold;"> Ooops! No contract has been connected to you Yet.</span>
					</div>
					{% endif %}
			</div>
			{% if contracts.count == 10 %}
			<div class="wt-commentsbtn">
				<button class="wt-btn" type="button">Load More</button>
			</div>
			{% endif %}
		</div>
		{% endif %}
		{% endif %}

<!--Company listing starts-->
<div class="wt-proposalholder">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12">
				<div class="wt-sectionhead wt-textcenter">
					<div class="wt-sectiontitle">
						<h2>Proposals</h2>
						<div class="alert alert-info" role="alert">
							<span style="color: green; font-weight: bold;"> All Your Proposals created by this team</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>				

	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Thumbnail</th>
					<th>Proposal</th>
					<th>Author</th>
					<th>Date Created </th>
					<th>Total Amount($)</th>
					<th>Status</th>
					
				</tr>
			</thead>
			
			<tbody>
				{% for proposal in proposals %}
				<tr>
					<td>{{forloop.counter}} </td>
					<td>{% if proposal.thumbnail %}<img src="{{proposal.thumbnail.url}}" alt="img description" width="50">{% endif %}</td>
					<td class='text-left'><a href="{% url 'proposals:proposal_preview' proposal.created_by.short_name proposal.slug %}">{{proposal.title|truncatechars:100}}</a></td>
					<td>{{proposal.created_by.get_full_name}}</td>
					<td>{{proposal.created_at|date:"M-d-Y"}}</td>
					<td>{{proposal.salary}}</td>
					<td>{{proposal.get_status_display}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if not proposals %}
		<div class="alert alert-info justify-content-md-center" role="alert">
			<span style="color: blue; font-weight: bold;"> Ooops! No proposals to show yet.</span>
		</div>
		{% endif %}
		</div>
		{% if proposals.count == 10 %}
		<div class="wt-commentsbtn">
			<button class="wt-btn" type="button">Load More</button>
		</div>
		{% endif %}
	</div>

		<div class="wt-proposalholder mt-6">
			<div class="row justify-content-md-center">
				<div class="wt-sectionhead wt-textcenter">
					<span>Copyright @ {{website.site_name}}</span>
				</div>
			</div>
		</div>
	</main>

	<!-- Add team Popup Start-->
	<!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="teammodal">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="wt-popuptitle">
					<h2>About to Create Team</h2>
					<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close" data-dismiss="modal" aria-label="Close"></i></a>
				</div>
				<div class="modal-body">
					<div class="wt-projectdropdown-hold">
						<div class="wt-projectdropdown-option">
							<div class="wt-projectselect">
								<figure><img src="images/thumbnail/img-07.jpg" alt="img description"></figure>
								<div class="wt-projectselect-content">
									<h3>Project Title Here</h3>
									<span><i class="lnr lnr-calendar-full"></i> Project Deadline: May 27, 2019</span>
								</div>
							</div>
						</div>
					</div>
					<form method="POST", action='.', class="wt-formtheme wt-formpopup"> {% csrf_token %}
						<div class="form-group">
							{{teamform.title.label}}
							{% render_field teamform.title class+='form-control' hx-post='/verify_team/' hx-swap='outerhtml' hx-trigger='keyup' hx-target='#team-error' %} 
							<div id="team-error"></div>
						</div>
						<div class="form-group">
							{{teamform.notice.label}}
							{% render_field teamform.notice class+='form-control' %}
						</div>
						<div class="form-group wt-btnarea">
							<button type="submit" class="wt-btn"> Add Team </button>
						</div>											
					</form>
				</div>
			</div>
		</div>
	</div>
	


	{% endblock %}