{% extends "dashboard/main_base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
{% include 'dashboard/main_sidebar.html' %}

<!--Main Start-->
	<main id="ticket-list" class="wt-main wt-haslayout">
		
		{% include 'account/partials/merchant_dashboard.html' %}
		
		{% comment %} style="transform: rotate(4deg);" {% endcomment %}

		<!--More Details Start-->
		<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
			<div class="row">
				
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<span style="color:green;"><i class="fa fa-link fa-4x"></i><br><br></span>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3> Domains manager <i class="fa fa-check text-success pt-1"></i></h3>
								<a href="{% url 'merchants:domain_manager' %}">Click To Manage</a>
							</div>													
						</div>	
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<span style="color:orange;"><i class="fa fa-building fa-4x"></i><br><br></span>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Theme Settings<i class="fa fa-close text-danger pt-1"></i></h3>
								<a href="javascript:void(0)">Click To View</a>
							</div>													
						</div>	
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<span style="color:green;"><i class="far fa-money-bill-alt fa-4x"></i><br><br></span>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Payment Settings {% if request.merchant.gateways.count > 0 %}<i class="fa fa-check text-success pt-1"></i>{% else %} <i class="fa fa-close text-danger pt-1"></i>{% endif %}</h3>
								<a href="{% url 'merchants:payment_settings' %}">Click To View</a>
							</div>													
						</div>	
					</div>
				</div>												
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<span class="wt-pakagespinner"><i class="fa fa-spinner wt-uploading"></i> D29 : H06 : M38 : S42</span>
						<figure class="wt-userlistingimg">
							<img src="{% static 'images/thumbnail/img-21.png' %}" alt="image description" class="mCS_img_loaded">
						</figure>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Check Subscription</h3>
								<a href="{% url 'merchants:subscription' %}">Click To View</a>
							</div>													
						</div>	
					</div>
				</div>						
				
			</div>
		</section>

		<section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<span style="color:green;"><i class="fa fa-folder-open fa-4x"></i><br><br></span>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Manage Proposal</h3>
								<a href="{% url 'proposals:merchant_proposal' %}">Click To View</a>
							</div>													
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<span style="color:gold;"><i class="fa fa-envelope fa-4x"></i><br><br></span>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Manage Jobs</h3>
								<a href="{% url 'projects:merchant_project' %}">Click To View</a>
							</div>													
						</div>	
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox">
						<span style="color:blue;"><i class="fa fa-book fa-4x"></i><br><br></span>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Manage Contracts</h3>
								<a href="javascript:void(0)">Click To View</a>
							</div>													
						</div>	
					</div>
				</div>												
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="wt-insightsitem wt-dashboardbox wt-insightnoticon">
						<span style="color:purple;"><i class="fa fa-ticket fa-4x"></i><br><br></span>
						<div class="wt-insightdetails">
							<div class="wt-title">
								<h3>Manage Tickets</h3>
								<a href="javascript:void(0)">Click To View</a>
							</div>													
						</div>	
					</div>
				</div>												
					
			</div>
		</section>
		<!--More Details End-->

		<div class="wt-proposalholder mt-6">
			<div class="row justify-content-md-center">
				<div class="wt-sectionhead wt-textcenter">
					<span>Copyright @ {{request.site.name|capfirst}}</span>
				</div>
			</div>
		</div>
	
	</main>

	<!-- Add team Popup Start-->
	<!-- Popup Start-->
	<div class="modal fade wt-offerpopup" tabindex="-1" role="dialog" id="teammodal">
		<div class="modal-dialog" role="document">
			<div class="wt-modalcontent modal-content">
				<div class="wt-popuptitle">
					<h2>Create virtual Space (<a href="" style="color:green"><i class="fas fa-sync fa-spin"></i> Refresh</a>)</h2>
					
					<a href="javascript%3bvoid(0)%3b.html" class="wt-closebtn close"><i class="fa fa-close" data-dismiss="modal" aria-label="Close" style="color:red;"></i></a><br><br>
					<div id='registerError'></div>	
				</div>
				<div class="modal-body">
				<form method="POST", action='.', class="wt-formtheme wt-formpopup"> {% csrf_token %}
					<div class="form-group">
						{{regform.first_name.label}}
						{{regform.first_name}}
						<span style="color:red;" role="alert">{{ regform.first_name.errors}}</span>
					</div> 
					<div class="form-group">
						{{regform.last_name.label}}
						{{regform.last_name}}
						<span style="color:red;" role="alert">{{ regform.last_name.errors}}</span>
					</div>
					<div class="form-group">
						{{regform.short_name.label}}
						{% render_field regform.short_name class+='form-control' hx-post='/verify_username/' hx-swap='outerhtml' hx-trigger='keyup' hx-target='#short_name_status' %} 
						<span style="color:red;" role="alert">{{ regform.short_name.errors}}</span>
						<div id="short_name_status" class="input-group col-lg-12"></div>
					</div>
					<div class="form-group">
						{{regform.email.label}}
						{{regform.email}}
						<span style="color:red;" role="alert">{{ regform.email.errors}}</span>
					</div>	
					<div class="form-group">
						{{regform.phone.label}}
						{{regform.phone}}
						<span style="color:red;" role="alert">{{ regform.phone.errors}}</span>
					</div>
					<div class="form-group wt-btnarea">
						<button id="registerNow" type="button" class="wt-btn"> Invite to team </button>
					</div>	
															
				</form>
				</div>
			</div>
		</div>
	</div>
	
	{% endblock %}

	{% block scripts %}
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
	<script> 
		$(document).on('click', '#refreshform', function (e) {
			e.preventDefault();
			$("#refreshform").load(window.location.href + " #refreshform" );
		});
	</script>

	<script>
		//Script to add new user            
		$(document).on('click', '#registerNow', function (e) {
		e.preventDefault();

		let first_name = $('[name="first_name"]').val();
		let last_name = $('[name="last_name"]').val();
		let short_name = $('[name="short_name"]').val();
		let email = $('[name="email"]').val();
		let phone = $('[name="phone"]').val();

		let displaySuccess = document.getElementById('registerError')

		$("#registerNow").attr("disabled", true);

        if(first_name == ''||last_name == ''|| short_name ==''||email == ''|| phone ==''){
            //swal("Alert!", "All fields are required", "error");

			displaySuccess.textContent = '';
			$('#registerError').removeClass('alert alert-success');
			displaySuccess.textContent = 'All fields are required'
			$('#registerError').addClass('alert alert-danger');
            return false;

        }
        else{
			$.ajax({
				type: 'POST',
				url: '{% url "account:register" %}',
				data: {
					first_name: first_name,
					last_name: last_name,
					short_name: short_name,
					email: email,
					phone: phone,
					csrfmiddlewaretoken: "{{csrf_token}}",
					action: 'register-now'
				},
				success: function (json) {
					if (json.errors != ''){
						displaySuccess.textContent = '';
						$('#registerError').removeClass('alert alert-success');
						displaySuccess.textContent = json.message;
                		$('#registerError').addClass('alert alert-danger');
						document.getElementById('registerError').innerHTML = json.errors

					}else{
						$('[name="first_name"]').val('');
						$('[name="last_name"]').val('');
						$('[name="short_name"]').val('');
						$('[name="email"]').val('');
						$('[name="phone"]').val('');

						displaySuccess.textContent = '';
						$('#registerError').removeClass('alert alert-danger');
						displaySuccess.textContent = json.message;
                		$('#registerError').addClass('alert alert-success');
						document.getElementById('registerError').innerHTML = json.message
					}
					$("#registerNow").attr("disabled", false);
				},
				error: function (xhr, errmsg, err) {}
			});
		}
		})
	</script>
	{% endblock scripts %}