{% extends 'dashboard/main_base.html' %}
{% load i18n static %}

{% block content%}
<br>
<br>
<br>
{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<br>
<br>
<br>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 600px;">
	<h4 class="card-title mt-3 text-center">Confirm Account</h4>
	<p class="text-center">Please complete information below to Confirm Reset</p>
	
<div class="container">
<hr>
<form action="" method="POST">
	{% csrf_token %}
		{{ form }}
	<br>
	<button type="submit" class="btn btn-primary btn-block"> Login </button>
	<br>
       
</article>

</div> 


{% endblock%}