{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hello, You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
{% load static %} 
{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol}}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Here is your email, in case you’ve forgotten:' %} {{ user.email }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team {% endblocktranslate %}

{% endautoescape %}
