{% extends 'dashboard/main_base.html' %}
{% load i18n static %}

{% block content%}

<div class="card bg-light">
	<div class="container">
		<div class="row py-5 mt-4 align-items-center">
		<h4 class="card-title mt-3 text-center">Reset Account</h4>
		<p class="text-center">Please reset your details</p>

		<form action="" method="POST">
			{% if form.errors %}
			<div class="alert alert-primary" role="alert">
				Error: Please try again!
			</div>
			{% endif %}
			{% csrf_token %}
				{{ form }}
			<br>
			<br>
			<button type="submit" class="btn btn-primary btn-block"> Login </button>
			<br>
		</form>
		</div>
	</div>
</div> 

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

{% endblock%}