{% extends 'dashboard/main_base.html' %}
{% load static %} 
{% block content %}


    <div class="wt-haslayout wt-main-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent">
                                                                                    
                    <form method='POST' action=''>{% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger text-center" role="alert">
                            Ooop! form error occured. Please check below and correct
                        </div>
                        {% endif %}  
                        
                        <div class="wt-jobdescription wt-tabsinfo">
                            <div class="form-row">
                                <div class="wt-tabscontenttitle">
                                    <h2>Please complete information below to Confirm Reset</h2>
                                </div>
                                <div class="form-group">
									{{form.new_password1.label}}
                                    {{form.new_password1}}
                                    <span style="color:red;" role="alert">{{ form.new_password1.errors}}</span>
                                </div>	
                                <div class="form-group">
                                    {{form.new_password2.label}}
                                    {{form.new_password2}}
                                    <span style="color:red;" role="alert">{{ form.new_password2.errors}}</span>
                                </div>	
                            </div>
                        </div>
                        <button type="submit" class="wt-btn"> Submit </button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

