{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

			<div class="wt-haslayout wt-innerbannerholder">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
							<div class="wt-innerbannercontent">
							<div class="wt-title"><h2>How it Works</h2></div>
							{% if user.is_authenticated %}
							<ol class="wt-breadcrumb">
								<li><a href="index-2.html">Home</a></li>
								<li class="wt-active">Terms &amp; Conditions</li>
							</ol>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
				<!--Categories Start-->
				<div class="wt-haslayout wt-main-section">
					<div class="wt-contentwrappers">
						<div class="container">
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
									<div class="wt-howitwork-hold wt-bgwhite wt-haslayout">
										<ul class="wt-navarticletab wt-navarticletabvtwo nav navbar-nav">
											<li class="nav-item">
												<a class="active" id="all-tab" data-toggle="tab" href="#forhiring">For Hiring</a>
											</li>
											<li class="nav-item">
												<a id="business-tab" data-toggle="tab" href="#forfreelancing">For Freelancing</a>
											</li>
											<li class="nav-item">
												<a id="trading-tab" data-toggle="tab" href="#faq">For Sponsors</a>
											</li>
										</ul>
										<div class="tab-content wt-haslayout">
											<div class="wt-contentarticle tab-pane active fade show" id="forhiring">
												<div class="row">
													{% if hiring %}
													{% for works in hiring %}
													<div class="wt-starthiringhold wt-innerspace wt-haslayout">
														{% if not forloop.counter == 1 and not forloop.counter == 3 and not forloop.counter == 5 and not forloop.counter == 7 and not forloop.counter == 9 %}
														<div class="col-12 col-sm-12 col-md-12 col-lg-5 float-left">
															<div class="wt-howtoworkimg">
																<figure>
																	<img src="{{works.thumbnail.url}}" alt="img description">
																</figure>
															</div>
														</div>
														{% endif %}
														<div class="col-12 col-sm-12 col-md-12 col-lg-7 float-left">
															<div class="wt-starthiringcontent">
																<div class="wt-sectionhead">
																	<div class="wt-sectiontitle">
																		<h2>{{works.title}}</h2>
																		<span>{{works.subtitle}}</span>
																	</div>
																	<div class="wt-description">
																		<p>{{works.preview|linebreaksbr}} {% if works.backlink %}<a href="{{works.backlink}}" target='_blank'>Learn more</a>{% endif %}</p>
																	</div>
																</div>
															</div>
														</div>
														{% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 7 or forloop.counter == 9 %}
														<div class="col-12 col-sm-12 col-md-12 col-lg-5 float-right">
															<div class="wt-howtoworkimg">
																{% if works.thumbnail %}
																<figure>
																	<img src="{{works.thumbnail.url}}" alt="img description">
																</figure>
																{% endif %}
															</div>
														</div>
														{% endif %}
													</div>
													{% endfor %}
													{% endif %}
												</div>
											</div>
											<div class="wt-contentarticle tab-pane fade" id="forfreelancing">
												<div class="row">
													<div class="wt-starthiringhold wt-innerspace wt-haslayout">
														<div class="col-12 col-sm-12 col-md-12 col-lg-7 float-right">
															<div class="wt-starthiringcontent">
																{% if freelancing %}
																{% for freelance in freelancing %}
																<div class="wt-sectionhead">
																	<div class="wt-sectiontitle">
																		{% if freelance.title %}<h2>{{freelance.title}}</h2>{% endif %}
																		{% if freelance.subtitle %}<span>{{freelance.subtitle}}</span>{% endif %}
																	</div>
																	<div class="wt-description">
																		{% if freelance.preview %}<p>{{freelance.preview|linebreaksbr}}{% endif %} {% if freelance.backlink %}<a href="{{freelance.backlink}}" target='_blank'>Learn more</a>{% endif %}</p>
																	</div>
																</div>
																<ul class="wt-accordionhold accordion">
																	<li>
																		<div class="wt-accordiontitle collapsed" id="headingOneq" data-toggle="collapse" data-target="#collapseOneq">
																			{% if freelance.option_one %}<span>{{freelance.option_one}}</span>{% endif %}
																		</div>
																		<div class="wt-accordiondetails collapse" id="collapseOneq" aria-labelledby="headingOneq">
																			<div class="wt-title">
																				<h3>{% if freelance.option_one %}{{freelance.option_one}}{% endif %}</h3>
																			</div>
																			<div class="wt-description">
																				<p>{% if freelance.option_one %}{{freelance.option_one_description|linebreaksbr}}{% endif %}</p>
																			</div>
																		</div>
																	</li>
																	<li>
																		<div class="wt-accordiontitle collapsed" id="headingtwoq" data-toggle="collapse" data-target="#collapsetwoq">
																			{% if freelance.option_two %}<span>{{freelance.option_two}}</span>{% endif %}
																		</div>
																		<div class="wt-accordiondetails collapse" id="collapsetwoq" aria-labelledby="headingtwoq">
																			<div class="wt-title">
																				<h3>{% if freelance.option_two %}{{freelance.option_two}}{% endif %}</h3>
																			</div>
																			<div class="wt-description">
																				<p>{% if freelance.option_two_description %}{{freelance.option_two_description|linebreaksbr}}{% endif %}</p>
																			</div>
																		</div>
																	</li>
																	<li>
																		<div class="wt-accordiontitle collapsed" id="headingthreeq" data-toggle="collapse" data-target="#collapsethreeq">
																			{% if freelance.option_three %}<span>{{freelance.option_three}}</span>{% endif %}
																		</div>
																		<div class="wt-accordiondetails collapse" id="collapsethreeq" aria-labelledby="headingthreeq">
																			<div class="wt-title">
																				<h3>{% if freelance.option_three %}{{freelance.option_three}}{% endif %}</h3>
																			</div>
																			<div class="wt-description">
																				<p>{% if freelance.option_three_description %}{{freelance.option_three_description|linebreaksbr}}{% endif %}</p>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col-12 col-sm-12 col-md-12 col-lg-5 float-left">
															<div class="wt-howtoworkimg">
																{% if freelance.thumbnail %}
																<figure>
																	<img src="{{freelance.thumbnail.url}}" alt="img description">
																</figure>
																{% endif %}
															</div>
														</div>
														{% endfor %}
														{% endif %}
														<section class="wt-haslayout wt-dbsectionspace">
															<div class="wt-freelancerholder wt-rcvproposalholder">
																<div class="row">
																	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
																	<div class="card">
																		<div class="card-header">
																			<h6>Pricing Structure </h6>
																		</div>
												
																		<div class="row">
																		<div class="col-lg-12">
												
																			<div class="table-responsive">
																			<table class="table table-striped table-sm">
																				<thead>
																				<tr>
											
																					<th>#</th>
																					<th>Title</th>
																					<th>Availability</th>
																					<th>Payment</th>
																					{% comment %} <th>Total Salary</th> {% endcomment %}
											
																				</tr>
																				</thead>
																				<tbody>
																					{% comment %} {% for member in hiringbox %} {% endcomment %}
																					<tr>
																					<td>{{forloop.counter}}</td> 
																					<td>{{proposal.image_tag}}</td>
																					<td>{{proposal.title}}</td>
																					<td>{{proposal.title}}</td>
																					</tr>
																					{% comment %} {% endfor %} {% endcomment %}
																				</tbody>
																			</table>
																		</div>
																	</div>										
																</div>
														</section>
													</div>
												</div>
											</div>
											<div class="wt-contentarticle tab-pane fade" id="faq">
												<div class="row">
													<div class="wt-starthiringhold wt-innerspace wt-haslayout">
														<div class="col-12 col-sm-12 col-md-12 col-lg-7 float-left">
															<div class="wt-starthiringcontent">
																{% if sponsorship %}
																{% for sponsors in sponsorship %}
																<div class="wt-sectionhead">
																	<div class="wt-sectiontitle"> 
																		{% if sponsors.title %}<h2>{{sponsors.title}}</h2>{% endif %}
																		{% if sponsors.subtitle %}<span>{{sponsors.subtitle}}</span>{% endif %}
																	</div>
																	<div class="wt-description">
																		{% if sponsors.preview %}<p>{{sponsors.preview|linebreaksbr}}{% endif %} {% if sponsors.backlink %}<a href="{{sponsors.backlink}}" target='_blank'>Learn more</a>{% endif %}</p>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-12 col-sm-12 col-md-4 col-lg-5 float-right">
															<div class="wt-howtoworkimg">
																{% if sponsors.thumbnail %}
																<figure>
																	<img src="{{sponsors.thumbnail.url}}" alt="img description">
																</figure>
																{% endif %}
															</div>
														</div>
														{% endfor %}
														{% endif %}
														<section class="wt-haslayout">
															<div class="container">
																<div class="row">
																	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
																		<div class="wt-greeting-holder">
																			<div class="row">
																				<div class="col-12">
																					<div class="wt-greetingcontent">
																						<div class="wt-sectionhead">
																							<div class="wt-sectiontitle">
																								<h4>We will assign a manager to review and contact you</h4>
																							</div>
																							<form method="POST", action='.', class="wt-formtheme wt-formpopup"> {% csrf_token %}
																								
																								<div class="form-group">
																									{{sponsorform.name.label}}
																									{{sponsorform.name}}
																								</div>
																								<div class="form-group">
																									{{sponsorform.email.label}}
																									{{sponsorform.email}}
																								</div>
																								<div class="form-group">
																									{{sponsorform.availability1.label}}
																									{{sponsorform.availability1}}
																								</div>
																								<div class="form-group">
																									{{sponsorform.availability2.label}}
																									{{sponsorform.availability2}}
																								</div>
																								<div class="form-group">
																									{{sponsorform.availability3.label}}
																									{{sponsorform.availability3}}
																								</div> 
																								<div class="form-group">
																									{{sponsorform.comment.label}}
																									{{sponsorform.comment}}
																								</div> 
																								<div class="form-group wt-btnarea mt-5">
																									<button type="submit" class="btn btn-success"> Submit Info </button>
																								</div>											
																							</form>
																						</div>
																					</div>
																				</div>
																			</div>									
																		</div>
																	</div>
																</div>						
															</div>
														</section>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Limitless Experience End-->
			</main>

{% endblock %}