{% comment %} <div class="wt-proposalholder"> {% endcomment %}
<section id="wt-statistics" class="wt-statistics wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
    <div class="row">
                                                    
        											
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="wt-statisticcontent wt-countercolor3 wt-insightsitem wt-dashboardbox" style="background-color:rgb(20, 29, 98); font-weight: bold;">
                <a href="javascript:void(0);" style="font-size:3em">
                    <span class="badge badge-secondary text-white" style="background-color:rgb(20, 29, 98); font-weight: bold;">
                        <h3 data-from="0" data-to="{{active_merchant.members.all.count}}" data-speed="8000" data-refresh-interval="100">{{active_merchant.members.all.count}}</h3>
                    </span>
                </a>
                <div class="wt-insightdetails">
                    <div class="wt-title">
                        <span style="color:rgba(255, 255, 255, 0.937); font-weight: bold; font-size: medium;"> Freelancers </span>
                    </div>													
                </div>	
            </div>
        </div>												
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="wt-statisticcontent wt-countercolor4 wt-insightsitem wt-dashboardbox" style="background-color:rgb(29, 118, 90); font-weight: bold;">
                <a href="javascript:void(0);" style="font-size:3em">
                    <span class="badge badge-secondary text-white" style="background-color:rgb(29, 118, 90); font-weight: bold;">
                        <h3 data-from="0" data-to="0" data-speed="8000" data-refresh-interval="100">0</h3>
                    </span>
                </a>
                <div class="wt-insightdetails">
                    <div class="wt-title">
                        <span style="color:rgba(255, 255, 255, 0.937); font-weight: bold; font-size: medium;"> Clients </span>
                    </div>													
                </div>	
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <div class="wt-statisticcontent wt-countercolor1 wt-insightsitem wt-dashboardbox" style="background-color:rgb(45, 65, 17); font-weight: bold;">
                <a href="javascript:void(0);" style="font-size:3em">
                    <span class="badge badge-secondary text-white" style="background-color:rgb(45, 65, 17); font-weight: bold;">
                        <h3 data-from="0" data-to="{{active_merchant.members.all.count}}" data-speed="8000" data-refresh-interval="100">{{active_merchant.members.all.count}}</h3>
                    </span>
                </a>
                
                <div class="wt-insightdetails">
                    <div class="wt-title">
                        <span style="color:rgba(255, 255, 255, 0.937); font-weight: bold; font-size: medium;"> Inactive Users </span>
                    </div>													
                </div>	
            </div>
        </div>																													
    </div>
</section><br>

{% comment %} </div> {% endcomment %}

{% comment %} </section> {% endcomment %}