{% comment %} <div class="wt-proposalholder">
    <div class="row justify-content-md-center">
        <div class="wt-categoryexpl">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left">
                <div class="wt-categorycontent">
                    <figure class="text-center">
                        <span style="color:rgb(45, 65, 17);"><i class="fa fa-user fa-3x"></i></span>
                    </figure>
                    <div class="wt-cattitle">
                        <h3><a href="javascript:void(0);"> Manage Users </a></h3>
                    </div>
                    <div class="wt-categoryslidup">
                        <p>Total of <span style="color:rgb(45, 65, 17);">{{active_merchant.members.all.count}}</span> user{{active_merchant.members.all.count|pluralize}} available</p>
                        <a href=""> Open Users <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left">
                <div class="wt-categorycontent">
                    <figure>
                        <span style="color:rgb(128, 11, 110);"><i class="fa fa-envelope fa-3x"></i></span>
                    </figure>
                    <div class="wt-cattitle">
                        <h3><a href="javascrip:void(0);">Realtime Chat</a></h3>
                    </div>
                    <div class="wt-categoryslidup">
                        <p>Having challenge on field? Hold meetings and share idea with your team members</p>
                        <a href=""> Chat your team <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 float-left">
                <div class="wt-categorycontent">
                    <figure>
                        <span style="color:rgb(45, 65, 17);"><i class="fa fa-folder-open fa-3x"></i></span>
                    </figure>
                    <div class="wt-cattitle">
                        <h3><a href="javascrip:void(0);">Manage my Jobs</a></h3>
                    </div>
                    <div class="wt-categoryslidup">
                        <p>View the status, summary statistics of your assigned job and details</p>
                        <a href="" style="color:green;"> <i class="fa fa-arrow-left"> </i> Status</a>|
                        <a href=""> Details <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
