{% extends "dashboard/main_base.html" %}

{% load static %}

{% block content %}


		<!--Inner Home Banner Start-->
		<div class="wt-haslayout wt-innerbannerholder">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
						<div class="wt-innerbannercontent">
							<div class="wt-title"><h2>Project Detail</h2></div>
							{% if request.user.is_authenticated %}
							<ol class="wt-breadcrumb">
								<li><a href="{% url 'account:dashboard' %}" class="btn btn-info" >Dashboard</a></li>
								{% if request.user == project.created_by and project.status == 'active' %}
								<li class="wt-btnarea">
									<a href="{{project.get_project_archive_absolute_url}}" class="btn btn-danger"><i class="fa fa-window-restore"></i> Archive</a>
								</li>
								{% elif request.user == project.created_by and project.status == 'review' %}
								<li class="wt-active">
									<a href="javascript:void(0);" class="btn btn-success"><i class="fas fa-spinner fa-spin"></i> Under Review</a>
								</li>
								{% elif request.user == project.created_by and project.status == 'archived' %}									
								<li class="wt-active">
									<a href="{{project.get_project_archive_restored_absolute_url}}" class="btn btn-danger"><i class="fa fa-window-restore"></i> Restore</a>
								</li>
								{% elif request.user == project.created_by and project.status == 'ongoing' %}	
								<li class="wt-active">
									<a href="{{project.get_project_absolute_url}}" class="btn btn-success"><i class="fa fa-info"></i> Details</a>
								</li>	
								{% endif %}
							</ol>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="wt-haslayout wt-main-section">
					<!-- User Listing Start-->
				<div class="container">
					<div class="row">
						<div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left">
								<div class="wt-proposalholder">
									{% if project.status == 'active' %}
									<div class="row justify-content-md-center">
										<div class="wt-sectionhead wt-textcenter">
											<div id="duration-timer" style="color: green; font-weight: bold; display: none;">{{ project.duration|date:"M d, Y H:m:s"}} </div>
											<div class="alert alert-info" role="alert">
												<strong>Expires In: </strong><span id="duration-countdown-timer" style="color: green; font-weight: bold;"></span>
											</div>
										</div>
									</div>
									{% endif %}
									<div class="wt-proposalhead">
										<h2>{{projectdetail.title}}</h2>
										
										<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
											<li><span><i class="far fa-money-bill-alt" style="color:green;"></i> {{base_currency}} {{projectdetail.salary}}</span></li>
											<li><span>{% if not projectdetail.created_by.country.flag %}{{projectdetail.created_by.country.country_code}} - {% endif %}{% if projectdetail.created_by.country.flag %}<img src="{{projectdetail.created_by.country.flag.url}}" alt="img description">{% endif %} {{projectdetail.created_by.country.name}}</span></li>
											{% if project.status == 'active' %}
											<li><span><i class="far fa-star" style="color:gold;"></i> Rating: {{project.rating}}</span></li>
											{% endif %}
											<li><span><i class="far fa-clock" style="color:blue;"></i> Completion In: {{project.get_completion_time_display}}</span></li>
										</ul>
									</div>

									{% if not request.user.is_authenticated %}									  
										<div class="wt-btnarea"><a href="{% url 'account:login' %}" class="wt-btn">Apply</a></div>
									{% endif %}

									{% if request.user.freelancer %}									  
										{% if not monthly_project_application %}
										<div class="wt-btnarea"><a href="{% url 'applications:apply_for_project' project.slug %}" class="wt-btn">Apply</a></div>
										{% endif %}
									{% endif %}
								</div>
							</div>
								<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
									<div class="wt-projectdetail-holder">
										<div class="wt-projectdetail">
											<div class="wt-title">
												<h3>Project Detail</h3>
											</div>
											<div class="wt-description">
												<p> {{projectdetail.description|linebreaksbr}}</p>
												<ul class="wt-projectliststyle">
													<div class="wt-title">
														<h3>Warning</h3>
													</div>
													{% for instruction in guides %}
													<li><span><i class="fa fa-check"></i>{{instruction.guide}}</span></li>
													{% endfor %}
												</ul>
											</div>
										</div>
										<div class="wt-skillsrequired">
											<div class="wt-title">
												<h3>Skills Required</h3>
											</div>
											<div class="wt-tag wt-widgettag">
											{% for skill in projectdetail.skill.all %}
												<a href="javascript:void(0);">{{skill}}</a>
											{% endfor %}
											</div>
										</div>
									</div>
								</div>								

								<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
									<aside id="wt-sidebar" class="wt-sidebar">
										<div class="wt-dashboardbox">
											<div class="wt-dashboardboxtitle text-center">
												<h2>About Employer</h2>
											</div>
											<div class="wt-dashboardboxcontent wt-hiredfreelance">
												<div class="wt-companysinfo">
													<figure class="wt-companyad">
														<img src="{% firstof project.created_by.clients.company_logo.url project.created_by.clients.profile_photo.url %}" style="height:100px;" alt="img description">
													</figure>
													<div class="wt-title"> 
														<a href="javascript:void(0);">
															<i class="fa fa-check-circle"> {% if request.user.is_authenticated %} {{project.created_by.get_full_name|capfirst}} {% else %} {{project.created_by.short_name|capfirst}} {% endif %}</i>
														</a>
													</div>
													<ul class="wt-postarticlemeta">
														<li>
															<span style="color:green">{{employees_count}} Hired</span>
														</li>
														<li>
															<a href="{{profile_view.client_profile_get_absolute_url}}">
																<span>Profile</span>
															</a>
														</li>
														<li class="wt-following">
															<a href="javascript:void(0);">
																<span>Open</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
											
									</aside>
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		<!--Content Wrapper End-->
		{% if not request.user.is_authenticated %}
		{% include 'dashboard/main_footer.html' %}
		{% endif %}
	</div>
	
	{% endblock content %}
	{% block scripts %}
	<script src={% static 'js/projecttimer.js' %} ></script>
	{% endblock scripts %}