{% extends 'dashboard/main_base.html' %}
{% load static %} 
{% block content %}


    <div class="wt-haslayout wt-main-section">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2 float-center">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxcontent">
					<h3 class="card-title mt-4 text-center">Verification</h3>
                    <form method='POST' action=''>{% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}        
                        <div class="row justify-content-md-center">        
                            <div class="col-12">
                                <span class="wt-jobalerts">
                                    <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
                                        <span> {{ message}} </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}  
                        
                        <div class="wt-jobdescription wt-tabsinfo">
                            <div class="form-row">
                                <div class="wt-tabscontenttitle">
                                    <h2>Let us verify you now</h2>
                                </div>
                                <div class="form-group">
									{{twofactorform.pass_code.label}}
									{{twofactorform.pass_code}}
									{{twofactorform.pass_code.errors}}
									{{twofactorform.pass_code.help_text}}
									<span style="color:red;" role="alert">{{ twofactorform.passcode.errors}}</span>
								</div>	
								<span style="color:green;" role="alert">Didn't receive code? Click <a href="{% url 'account:two_factor_auth' %}">Resend Code</a> once and follow your email</span>	
                            </div>
                        </div>
                        <button type="submit" class="wt-btn"> Login Now </button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


