
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-building me-2"></i>&nbsp; 123 Street, New York, USA &nbsp;&nbsp;</small>
                    <small class="me-3 text-light"><i class="fa fa-phone me-2"></i>&nbsp; +012 345 6789 &nbsp;&nbsp;</small>
                    <small class="me-3 text-light"><i class="fa fa-envelope-open me-2"></i>&nbsp; info@example.com &nbsp;&nbsp;</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

{% extends "dashboard/main_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

		
		{% if request.parent %}
		<header class="bg-red py-5" style="background-color:{% firstof home_layout.banner_color purple %};">
			<div class="container px-5">
				<div class="row gx-5 align-items-center justify-content-center">
					<div class="col-lg-8 col-xl-7 col-xxl-6">
						<div class="my-5 text-center text-xl-start">
							<h1 class="display-5 fw-bolder text-white mb-2">{% if home_layout.title_block %}{{home_layout.title_block}} {% endif %}</h1>
							<p class="lead fw-normal text-white-50 mb-4" style="color:white;">{% if home_layout.subtitle_block %}{{home_layout.subtitle_block}} {% endif %}.</p>
							<h3 style="color:white">in {% if pypist %}<span class="autoTyper" style="color:yellow;"></span>{% endif %}</h3>
							<form class="wt-formtheme wt-formbanner">{% csrf_token %}
								<fieldset>
									<div class="form-group">
										{{searchform.search_type}}
									</div>
								<fieldset>
							</form><br>
							<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
								<a class="btn btn-{% firstof home_layout.banner_button_one_color blue %} btn-lg px-4 me-sm-3 text-white" href="{% url 'account:login' %}" style="margin:5px;">Get Started</a>
								<a class="btn btn-outline-{% firstof home_layout.banner_button_two_color blue %} btn-lg px-4" href="{% url 'pages:how_it_works' %}" style="margin:2px;">Learn More</a>
							</div>
						</div>
					</div>
					<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% if home_layout.banner_image %}{{home_layout.banner_image.url}}{% endif %}" alt="Hero banner"/></div>
				</div>
			</div>
		</header>
		{% endif %}

		
		<!--Main Start-->
		<main class="wt-haslayout" style="background:white;">
			<!--Gateways Start-->
			{% if home_layout.show_gateways == True %}
			<section class="wt-haslayout wt-main-section">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
							<div class="wt-sectionhead wt-textcenter">
								<h3>{% if home_layout.gateway_title %}{{home_layout.gateway_title}}{% endif %}</h3>
							</div>
						</div>
						<div class="wt-categoryexpl">
							<div class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
								<div class="row">
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
										<div class="wt-insightsitem wt-dashboardbox wt-box-shadow">
											<span><i class="far fa-money-bill-alt fa-4x" style="color:green;"></i></span>
											<div class="wt-insightdetails">
												<div class="wt-title">
													<span><strong>Stripe Checkout</strong></span>
												</div>													
											</div>	
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
										<div class="wt-insightsitem wt-dashboardbox wt-box-shadow">
											<span><i class="fa fa-paypal fa-4x" style="color:blue;"></i></span>
											<div class="wt-insightdetails">
												<div class="wt-title">
													<span><strong>Paypal Checkout</strong></span>
												</div>													
											</div>	
										</div>
									</div>												
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
										<div class="wt-insightsitem wt-dashboardbox wt-box-shadow">
											<span style="color:orange;"><i class="fa fa-balance-scale fa-4x"></i></span>
											<div class="wt-insightdetails">
												<div class="wt-title">
													<span><strong>Razorpay Checkout</strong></span>
												</div>													
											</div>	
										</div>
									</div>	
									<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
										<div class="wt-insightsitem wt-dashboardbox wt-box-shadow">
											<span><i class="fa fa-mobile fa-4x" style="color:violet;"></i><span><i class="fa fa-check fa-2x" style="color:violet;"></i></span>
											<div class="wt-insightdetails">
												<div class="wt-title">
													<span><strong>Africa's Momo (Flutterwave)</strong></span>
												</div>													
											</div>	
										</div>
									</div>	
								</div>
							</div>	
						</div>
					</div>
				</div>
			</section>
			{% endif %}


			<!-- Pricing Plan Start -->
			<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
				<div class="container py-5">
					<div id="pricing" class="wt-sectionhead wt-textcenter">
						<h3>Become a Merchant Today</h3>
					</div>
					<div class="row g-0">
						{% for package in packages %}
						{% if package.type == 'Basic' %}
						<div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
							<div class="bg-light rounded">
								<div class="border-bottom py-4 px-5 mb-4">
									<h4 class="text-primary mb-1">{% firstof package.verbose_type package.get_type_display %}</h4>
									<small class="text-uppercase">For Small Size Business</small>
								</div>
								
								<div class="p-5 pt-0">
									<h1 class="display-5 mb-3"> 
										<small class="align-top" style="font-size: 22px; line-height: 45px;">{{base_currency}}</small>{{package.price}}<small
											class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
									</h1>
									
									<div class="d-flex justify-content-between mb-3">
										<span style="font-weight:bold;">Offering:</span>
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>SSL Certificate</span>{% if package.ssl_activation %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Change Domain</span>{% if package.can_change_domain %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Max Staff</span>{% if package.max_num_of_staff %} <span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_num_of_staff}} </span>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Total Sitewide Users</span>{% if package.max_users_sitewide %} <span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_users_sitewide}} </span>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span style="font-weight:bold;">Marketing:</span>
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Upselling Subscription</span>{% if package.can_upsell_teams %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Multiple Teams Per Freelancer</span>{% if package.multiple_freelancer_teams %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Ticket System</span><i class="fa fa-check text-primary pt-1"></i>
									</div>
									
									<a href="{% url 'account:create_merchant' package.type %}" class="btn btn-primary py-2 px-4 mt-4">30 Days Free, No Card</a>
								</div>
							</div>
						</div>
						{% endif %}
						{% if package.type == 'Team' %}
						<div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
							<div class="bg-white rounded shadow position-relative" style="z-index: 1;">
								<div class="border-bottom py-4 px-5 mb-4">
									<h4 class="text-primary mb-1">{% firstof package.verbose_type package.get_type_display %}</h4>
									<small class="text-uppercase">For Medium Size Business</small>
								</div>
								<div class="p-5 pt-0">
									<h1 class="display-5 mb-3">
										<small class="align-top" style="font-size: 22px; line-height: 45px;">{{base_currency}}</small>{{package.price}}<small
											class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
									</h1>
									<div class="d-flex justify-content-between mb-3">
										<span style="font-weight:bold;">Offering:</span>
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>SSL Certificate</span>{% if package.ssl_activation %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Change Domain</span>{% if package.can_change_domain %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Max Staff</span>{% if package.max_num_of_staff %} <span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_num_of_staff}} </span>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Total Sitewide Users</span>{% if package.max_users_sitewide %} <span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_users_sitewide}} </span>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span style="font-weight:bold;">Marketing:</span>
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Upselling Subscription</span>{% if package.can_upsell_teams %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Multiple Teams Per Freelancer</span>{% if package.multiple_freelancer_teams %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Ticket System</span><i class="fa fa-check text-primary pt-1"></i>
									</div>
									<a href="{% url 'account:create_merchant' package.type %}" class="btn btn-primary py-2 px-4 mt-4">30 Days Free, No Card</a>
								</div>
							</div>
						</div>
						{% endif %}
						{% if package.type == 'Enterprise' %}
						<div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
							<div class="bg-light rounded">
								<div class="border-bottom py-4 px-5 mb-4">
									<h4 class="text-primary mb-1">{% firstof package.verbose_type package.get_type_display %}</h4>
									<small class="text-uppercase">For Large Size Business</small>
								</div>
								<div class="p-5 pt-0">
									<h1 class="display-5 mb-3">
										<small class="align-top" style="font-size: 22px; line-height: 45px;">{{base_currency}}</small>{{package.price}}<small
											class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
									</h1>
									<div class="d-flex justify-content-between mb-3">
										<span style="font-weight:bold;">Offering:</span>
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>SSL Certificate</span>{% if package.ssl_activation %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Change Domain</span>{% if package.can_change_domain %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Max Staff</span>{% if package.max_num_of_staff %} <span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_num_of_staff}} </span>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Total Sitewide Users</span>{% if package.max_users_sitewide %} <span class="badge badge-primary text-center pt-1" style="color:white; border-radius:50%; font-size:13px;">{{package.max_users_sitewide}} </span>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span style="font-weight:bold;">Marketing:</span>
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Upselling Subscription</span>{% if package.can_upsell_teams %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Multiple Teams Per Freelancer</span>{% if package.multiple_freelancer_teams %} <i class="fa fa-check text-primary pt-1"></i>{% else %} <i class="ti-na text-danger pt-1"></i>{% endif %}
									</div>
									<div class="d-flex justify-content-between mb-3">
										<span>Ticket System</span><i class="fa fa-check text-primary pt-1"></i>
									</div>
									<a href="{% url 'account:create_merchant' package.type %}" class="btn btn-primary py-2 px-4 mt-4">30 Days Free, No Card</a>
								</div>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- Pricing Plan End -->

			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
						<figure class="wt-mobileimg">
							<img src="{% if home_layout.promo_image %}{{home_layout.promo_image.url}}{% else %}{% static 'images/work/img-03.jpg' %}{% endif %}" alt="img description">
						</figure>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
						<div class="wt-experienceholder">
							<div class="wt-sectionhead">
								<div class="wt-sectiontitle">
									<h3>{% if home_layout.promo_title %}{{home_layout.promo_title}}{% endif %}</h3>
									<span>{% if home_layout.promo_subtitle %}{{home_layout.promo_subtitle}}{% endif %}</span>
								</div>
								<div class="wt-description">
									<p>{% if home_layout.promo_description %}{{home_layout.promo_description|linebreaksbr}}{% endif %}</p>
								</div>
								<div class="wt-btnarea">
									<a href="{% url 'pages:how_it_works' %}" class="wt-btn">How it Works</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			</section>
		
		</main>	
		
		{% include 'dashboard/main_footer.html' %}


	<script src="{% static 'js/typed-2.0.js' %}"></script>
	<script>
		let typed = new Typed(".autoTyper", {
			strings: [{% for typer in pypist %}"{{typer}}",{% endfor %}],
			typeSpeed: 100,
			backSpeed: 100,
			loop: true
		})
		
	</script>

{% endblock %}