
{% extends "dashboard/main_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}



			{% if website.banner_type == 'slide' %}
			{% include 'general_settings/partials/banner1.html' %}
			{% elif website.banner_type == 'royal' %}
			{% include 'general_settings/partials/banner2.html' %}
			{% elif website.banner_type == 'hero' %}
			{% include 'general_settings/partials/banner3.html' %}

			{% endif %}

			<!--Main Start-->
			<main class="wt-haslayout" style="background:white;">
				
			{% if website.category_type == True %}
			{% include 'general_settings/partials/category1.html' %}
			{% else %}
			{% include 'general_settings/partials/category2.html' %}

			{% endif %}

							
			<!--Company listing starts-->
			<div class="wt-haslayout wt-main-section">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6">
							<div class="wt-sectionhead wt-textcenter">
								<div class="wt-sectiontitle">
									<h2>{% if website.proposal_title %}{{website.proposal_title}}{% endif %}</h2>
									<span>{% if website.proposal_subtitle %}{{website.proposal_subtitle}}{% endif %}</span>
								</div>
							</div>
						</div>
					</div>
				</div>				
				<div class="wt-companysinfoholder">	
					<div class="container">
						<div class="row justify-content-md-center">
						{% for proposal in proposals %}
							<div class="col-12 col-sm-12 col-md-12 col-lg-3">
								<div class="wt-companysdetails" style="box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);">
									<figure class="wt-companysimg">
									{% if proposal.thumbnail %}
										<img src="{{proposal.thumbnail.url}}" style="height:180px;" alt="img description">
									{% else %}
										<img src="{% static 'images/thumbnail/thumbnail.jpg' %}" style="height:80px;" alt="img description">
									{% endif %}
									</figure>
									<div class="wt-companysinfo">
										<figure>
											<img src="{{proposal.created_by.freelancer.profile_photo.url}}" alt="img description">
										</figure>
										<div class="wt-title">
											{% comment %} <figure class="float-left">
												<img src="{{proposal.created_by.freelancer.profile_photo.url}}" alt="img description">
											</figure> {% endcomment %}
											<a href="javascript:void(0);"><i class="fa fa-check-circle"> {% firstof proposal.created_by.get_short_name|capfirst proposal.team.title|slice:30 %}</i></a>
											<a href="{{proposal.proposal_detail_absolute_url}}"><p>{{proposal.title|truncatechars:50}}</p></a>
										<hr>
										<div class="proposal-attribute"  style="display:flex; justify-content:space-between;">
											<span>
												<a href="javascript:void(0);">
													<span><i class="fa fa-balance-scale"></i>{{proposal.aggregated_sales_count}}</span>
												</a>
											</span>
											<span>
												<a href="javascript:void(0);">
													<span><i>{{website.merchant.country.currency}}</i> {{proposal.salary}}</span>
												</a>
											</span>
											<span>
												<a href="javascript:void(0);">
													<span>{% if proposal.created_by.country.flag %}<img src="{{proposal.created_by.country.flag.url}}" alt="img description"> {% else %} {{proposal.created_by.country.country_code}}{% endif %}</span>
												</a>
											</span>
											<span>
												<a href="javascript:void(0);">
													<span><i class="fa fa-heart"></i></span>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
							{% if not proposals %}
								<p> No featured proposals to show yet </p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% if website.promo_type == 'one' %}
			{% include 'general_settings/partials/promo1.html' %}
			{% elif website.promo_type == 'two' %}			
			{% include 'general_settings/partials/promo2.html' %}
			{% endif %}
		
			<section class="wt-haslayout wt-main-section">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6">
							<div class="wt-sectionhead wt-textcenter">
								<div class="wt-sectiontitle">
									<h2>{% if website.project_title %}{{website.project_title}}{% endif %}</h2>
									<span>{% if website.project_subtitle %}{{website.project_subtitle}}{% endif %}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% if website.project_type == False %}
				<div class="container project-container">
					<div class="jobs">
					{% for project in projects %}
					<div class="job">
						<img src="{% firstof project.created_by.clients.company_logo.url project.created_by.clients.profile_photo.url %}" alt="client-logo"/>
						<span class="deadline">Expiry in: {{project.duration_time|timeuntil}}</span>
						<h3 class="job-title">{{project.title}}</h3>
						<div class="details">
							{{project.preview}}<br>
							<span style="color:green; font-weight: bold;">Company: </span><span>{% firstof project.created_by.clients.brand_name project.created_by.get_full_name %}</span><br>
							<span style="color:green; font-weight: bold;">Country: </span><span>{% if project.created_by.country.flag %}<img src="{{project.created_by.country.flag.url}}" alt="img description" style="width:20px; height:20px; max-width:20px;"> {% else %}{{project.created_by.country.country_code}} - {% endif %} {{project.created_by.country.name|truncatechars:50}}</span><br>
							<span style="color:green; font-weight: bold;">Category: </span><span>{{project.category.name|truncatechars:18}}</span><br>
						</div>
						
						<a href="{{project.get_project_absolute_url}}" class="detail-btn">More Details | {{website.merchant.country.currency}} {{project.salary}}</a>
					</div>
					{% endfor %} 
				</div>
				{% else %}
				<div class="container">
					<div class="row justify-content-md-center">
					{% for project in projects %}
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<aside class="wt-sidebar wt-dashboardsave">
							<div class="wt-proposalsr wt-box-shadow">
								<div class="wt-proposalsrcontent">
								<a href=""> 
									<figure><img src="{% firstof project.created_by.clients.company_logo.url project.created_by.clients.profile_photo.url %}" style="height:60px; width:60px" alt="image"></figure>
								</a>
								<h4>{% firstof project.created_by.clients.brand_name project.created_by.get_full_name %}</h4>
								<span>{{project.title|truncatechars:50}}</span>
								<div class="wt-title">
									<div class="wt-proposalhead">
										<ul class="wt-userlisting-breadcrumb wt-userlisting-breadcrumbvtwo">
											<li><span><i class="far fa-money-bill-alt" style="color:green"> {{website.merchant.country.currency}} {{project.salary}}</i></span></li>
											<li><span>{% if project.created_by.country.flag %}<img src="{{project.created_by.country.flag.url}}" alt="img description"> {% else %}{{project.created_by.country.country_code}} - {% endif %} {{project.created_by.country.name|truncatechars:50}}</span></li>
											<li><span><i class="fa fa-tag wt-viewjobtag"></i> {{project.category.name|truncatechars:18}}</span></li>
											<li><a href="{{project.get_project_absolute_url}}" class="btn btn-danger btn-sm text-white"><i class="fa fa-window-restore"></i>&nbsp;Apply</i></a></li>
										</ul>
									</div>
								</div> 
							</div>
						</aside>
					</div>
					{% endfor %} 
				{% endif %} 
			</section>

			{% comment %} <div id="wt-chatpopup" class="wt-chatpopup">
            
				<div id="guest-user" hx-on="htmx:afterSettle: document.getElementById('wt-getsupport').click();">
					{% include 'notification/partials/helpdesk.html' %}
				</div>
					
				<div id="wt-getsupport" class="wt-themeimgborder">
					<img src="{% static 'images/messages/img-12.jpg' %}" alt="image description">
				</div>
			</div> {% endcomment %}

	</main>	

	{% include 'dashboard/main_footer.html' %}
	{% block scripts %}
	
	{% comment %} <script src="{% static 'js/chatroom.js' %}"></script> {% endcomment %}
	
	<script src="{% static 'js/typed-2.0.js' %}"></script>
	<script>
		let typed = new Typed(".autoTyper", {
			strings: [{% for typer in pypist %}"{{typer}}",{% endfor %}],
			typeSpeed: 100,
			backSpeed: 100,
			loop: true
		})
		
	</script>

	<script>
        //Script to add proposal quantity in session             
        $(document).on('change', '#id_search_type', function (e) {
        e.preventDefault();
		mysearchval = $('#id_search_type option:selected').val()
		//console.log(mysearchval)
        $.ajax({
            type: 'POST',
            url: '{% url "account:searchtype" %}',
            data: {
                searchVal: $('#id_search_type option:selected').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'searching-type'
            },
            success: function (json) {
                if (mysearchval === 'freelancer'){
					window.location.href = "{% url 'freelancer:freelancer_listing' %}"
				}
				else if (mysearchval === 'proposal'){
					window.location.href = "{% url 'proposals:proposal_list' %}"
				}
            },
            error: function (xhr, errmsg, err) {}
        });
        })
    </script>
{% endblock scripts %}
{% endblock content %}