{% extends "dashboard/main_base.html" %}
{% load static %}
{% block content%}

    <!--Inner Home Banner Start-->
    <div class="wt-haslayout wt-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="wt-innerbannercontent">
                <div class="wt-title"><h2>Notifications</h2></div>
                    <ol class="wt-breadcrumb">
                        <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                        <li class="wt-active">Alerts</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--Inner Home End-->
    <main class="wt-haslayout wt-innerbgcolor">
        <div class="wt-haslayout wt-main-section">
            <div class="container">
                <div class="row">
                    {% if notifications|length == 0 %}
                    <p> There are no new notifications yet ...</p>
                    {% endif %}
                    {% for notification in notifications %}
                    <aside class="wt-sidebar wt-dashboardsave">
                        <div class="wt-proposalsr wt-box-shadow">
                            <div class="wt-proposalsrcontent">
                                <figure><img src="{% static 'images/thumbnail/img-19.png'%}" alt="image"></figure>
                            
                            {% if notification.notification_type == 'application' %}
                            <div class="wt-title">
                                <h3>Direct Hire</h3>
                                <a href="{% url 'notification:notifications' %}?goto=client_application"> 
                                    <span>Hire directly from proposals</span>
                                </a>
                                <strong>{{ notification.sender.short_name }}</strong> sent you a message<br>
                                <small>{{ notification.created_at|timesince }} ago</small>
                            </div>
                        </div> 
                            {% endif %}
                        </div>
                    </aside>
                    {% endfor %}
                </div> 
            </div> 
        </div> 
    </main>

     
{% endblock %}

