
{% load static %}

<script src="{% static 'js/htmx.min.js' %}"></script>

<!-- Medicio JS Files start-->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
  
  <!-- Template Main1 JS File -->
  <script src="{% static 'js/main1.js' %}"></script>
 <!-- Medicio JS Files end-->







