<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'dashboard/main_header.html' %}
    <body class="wt-login" hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'>
        {% include 'dashboard/main_navbar.html' %}

    {% if request.user.is_authenticated %}
    {% if messages %}
        {% for message in messages %}        
        <div class="row justify-content-md-center" hx-get="{% url 'account:remove_message' %}" hx-trigger="load delay:3s">        
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <span class="wt-jobalerts">
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
                        <span> {{ message}} </span>
                        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></a>
                    </div>
                </span>
            </div>
        </div>
        {% endfor %}
    {% endif %}   
    {% endif %}   
         
    {% block content %}

    {% endblock content %}

    {% if not request.user.is_authenticated %}
    <!-- ChatBox Start -->
    <div id="wt-chatpopup" class="wt-chatpopup">
            
        <div id="guest-user">
            {% include 'notification/partials/helpdesk.html' %}
        </div>
            
        <div id="wt-getsupport" class="wt-themeimgborder">
            <img src="{% static 'images/messages/img-12.jpg' %}" alt="image description">
        </div>
    </div>
    <!-- ChatBox End -->
    {% endif %}

    {% include 'dashboard/main_scripts.html' %}
    {% include "account/modals/generic_logout_popup.html" %}
    {% include "account/modals/auto_logout_config.html" %}
    {% include "account/modals/warning_auto_logout_popup.html" %}
    
    {% block scripts %}
    {% endblock scripts %}

</body>

</html>
