<form method="POST", autocomplete='off'> {% csrf_token %}
    <div class="wt-jobdescription wt-tabsinfo">
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>Paypal Account</h2>
            </div>                                          
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-left">Account</th>
                        <th>API Credential</th>
                    </tr>
                    </thead>
                    <body>
                    <tr>
                        <td class="text-left">Publishable Key</td>
                        <td>
                            {{paypalform.paypal_public_key}}
                            <span style="color:red;" role="alert">{{ paypalform.paypal_public_key.errors}}</span>
                        </td>
                    </tr>
                    </body>												
                    <body>
                    <tr>
                        <td class="text-left">Secret Key</td>
                        <td>
                            {{paypalform.paypal_secret_key}}
                            <span style="color:red;" role="alert">{{ paypalform.paypal_secret_key.errors}}</span>
                        </td>
                    </tr>
                    </body>													
                    <body>
                    <tr>
                        <td class="text-left">Subscription Key</td>
                        <td>
                            {{paypalform.paypal_subscription_price_id}}
                            <span style="color:red;" role="alert">{{ paypalform.paypal_subscription_price_id.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    <body>
                        <tr>
                            <td class="text-left">Sandbox Environment</td>
                            <td>
                                {{paypalform.sandbox}}
                                <span style="color:red;" role="alert">{{ paypalform.sandbox.errors}}</span>
                            </td>
                        </tr>
                        </body>														
                    <body>
                </table> 
            </div>
        <div>
            <div>
                <div class="wt-updatall">
                    <i class="far fa-money-bill-alt"></i>
                    <span> click on "Save PayPal API" button</span>
                    <button type="button" class="wt-btn"
                        hx-post="{% url 'merchants:add_paypal_api' %}"
                        hx-target="#paypalApi"
                        style="background-color:rgb(29, 118, 90); font-weight: bold; margin:2px;">
                    Save PayPal API
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>