<nav>
    <div class="nav nav-pills justify-content-md-center">
    {% for gateway in gateways %}
    <form class="nav-item nav-link">
        <input type="text" name="mygateway" value="{{gateway.pk}}" id="stripe" hidden>
        <button type="button" class="btn btn-info btn-sm text-center" 
            hx-post="{% url 'merchants:add_or_remove_gateway' %}"
            hx-target="#selectGateway"
            style="background-color:rgb(29, 118, 90); font-weight: bold; margin:2px;">
            {% if gateway in request.merchant.gateways.all %}
            <span><em class="badge badge-primary" style="border-radius; 50%;"> <i class="fa fa-check"></i> </em>&nbsp; &nbsp; {{gateway.get_name_display}} Activated</span>
            {% else %}
            <span><em class="badge badge-danger" style="border-radius; 50%;"> <i class="fa fa-close"></i> </em>&nbsp; &nbsp; Switch {{gateway.get_name_display}}</span>
            {% endif %}
        
        </button>
    </form>
    {% endfor %}
    </div>
<nav>
{% if messages %}
    <div class="row justify-content-md-center" hx-get="{% url 'account:remove_message' %}" hx-trigger="load delay:4s">        
        {% for message in messages %}        
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span class="wt-jobalerts">
                <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
                    <span> {{ message}} </span>
                </div>
            </span>
        </div>
        {% endfor %}
    </div>
{% endif %}