{% if stripeform %}
<form method="POST", autocomplete='off'> {% csrf_token %}
    <div class="wt-jobdescription wt-tabsinfo">
        <div class="wt-jobdetails wt-tabsinfo">
        <div class="wt-tabscontenttitle">
            <h2>Stripe Account</h2>
        </div>                                          
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-left">Account</th>
                    <th>API Credential</th>
                </tr>
                </thead>
                <body>
                <tr>
                    <td class="text-left">Publishable Key</td>
                    <td>
                        {{stripeform.stripe_public_key}}
                        <span style="color:red;" role="alert">{{ stripeform.stripe_public_key.errors}}</span>
                    </td>
                </tr>
                </body>												
                <body>
                <tr>
                    <td class="text-left">Secret Key</td>
                    <td>
                        {{stripeform.stripe_secret_key}}
                        <span style="color:red;" role="alert">{{ stripeform.stripe_secret_key.errors}}</span>
                    </td>
                </tr>
                </body>													
                <body>
                <tr>
                    <td class="text-left">Webhook path</td>
                    <td>
                        {{stripeform.stripe_webhook_key}}
                        <span style="color:red;" role="alert">{{ stripeform.stripe_webhook_key.errors}}</span>
                    </td>
                </tr>
                </body>
                <body>
                <tr>
                    <td class="text-left">Subscription Key</td>
                    <td>
                        {{stripeform.stripe_subscription_price_id}}
                        <span style="color:red;" role="alert">{{ stripeform.stripe_subscription_price_id.errors}}</span>
                    </td>
                </tr>
                </body>
            </table> 
        </div>
        <div>
            <div>
                <div class="wt-updatall">
                    <i class="far fa-money-bill-alt"></i>
                    <span> click on "Save Changes" button</span>
                    <button type="button" class="wt-btn"
                        hx-post="{% url 'merchants:add_stripe_api' %}"
                        hx-target="#paymentApi"
                        style="background-color:rgb(29, 118, 90); font-weight: bold; margin:2px;">
                    Save Stripe API
                </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
{% endif %}

{% if paypalform %}
<form method="POST", autocomplete='off'> {% csrf_token %}
    <div class="wt-jobdescription wt-tabsinfo">
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>Paypal Account</h2>
            </div>                                          
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-left">Account</th>
                        <th>API Credential</th>
                    </tr>
                    </thead>
                    <body>
                    <tr>
                        <td class="text-left">Publishable Key</td>
                        <td>
                            {{paypalform.paypal_public_key}}
                            <span style="color:red;" role="alert">{{ paypalform.paypal_public_key.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    												
                    <body>
                    <tr>
                        <td class="text-left">Secret Key</td>
                        <td>
                            {{paypalform.paypal_secret_key}}
                            <span style="color:red;" role="alert">{{ paypalform.paypal_secret_key.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    <thead>
                        <tr>
                            <th class="text-left">Upselling</th>
                            <th>Freelancer Subscription</th>
                        </tr>
                    </thead>													
                    <body>
                    <tr>
                        <td class="text-left">Subscription Key</td>
                        <td>
                            {{paypalform.paypal_subscription_price_id}}
                            <span style="color:red;" role="alert">{{ paypalform.paypal_subscription_price_id.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    <thead>
                        <tr>
                            <th class="text-left">Environment</th>
                            <th>Sandbox/Live</th>
                        </tr>
                    </thead>
                    <body>
                        <tr>
                            <td class="text-left">Sandbox Environment</td>
                            <td>
                                {{paypalform.sandbox}}
                                <span style="color:red;" role="alert">{{ paypalform.sandbox.errors}}</span>
                            </td>
                        </tr>
                        </body>														
                    <body>
                </table> 
            </div>
        <div>
            <div>
                <div class="wt-updatall">
                    <i class="far fa-money-bill-alt"></i>
                    <span> click on "Save PayPal API" button</span>
                    <button type="button" class="wt-btn"
                        hx-post="{% url 'merchants:add_paypal_api' %}"
                        hx-target="#paymentApi"
                        style="background-color:rgb(29, 118, 90); font-weight: bold; margin:2px;">
                    Save PayPal API
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
{% endif %}

{% if flutterwaveform %}
<form method="POST", autocomplete='off'> {% csrf_token %}
    <div class="wt-jobdescription wt-tabsinfo">
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>Flutterwave Account</h2>
            </div>                                          
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-left">Account</th>
                        <th>API Credential</th>
                    </tr>
                    </thead>
                    <body>
                    <tr>
                        <td class="text-left">Publishable Key</td>
                        <td>
                            {{flutterwaveform.flutterwave_public_key}}
                            <span style="color:red;" role="alert">{{ flutterwaveform.flutterwave_public_key.errors}}</span>
                        </td>
                    </tr>
                    </body>												
                    <body>
                    <tr>
                        <td class="text-left">Secret Key</td>
                        <td>
                            {{flutterwaveform.flutterwave_secret_key}}
                            <span style="color:red;" role="alert">{{ flutterwaveform.flutterwave_secret_key.errors}}</span>
                        </td>
                    </tr>
                    </body>										
                    <body>
                    <tr>
                        <td class="text-left">Subscription Key</td>
                        <td>
                            {{flutterwaveform.flutterwave_subscription_price_id}}
                            <span style="color:red;" role="alert">{{ flutterwaveform.flutterwave_subscription_price_id.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    <body>
                        <tr>
                            <td class="text-left">Sandbox Environment</td>
                            <td>
                                {{flutterwaveform.sandbox}}
                                <span style="color:red;" role="alert">{{ flutterwaveform.sandbox.errors}}</span>
                            </td>
                        </tr>
                        </body>														
                    <body>
                </table> 
            </div>
            <div>
                <div>
                    <div class="wt-updatall">
                        <i class="far fa-money-bill-alt"></i>
                        <span> click on "Save Flutterwave API" button</span>
                        <button type="button" class="wt-btn"
                            hx-post="{% url 'merchants:add_flutterwave_api' %}"
                            hx-target="#paymentApi"
                            style="background-color:rgb(29, 118, 90); font-weight: bold; margin:2px;">
                            Save Flutterwave API
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}

{% if razorpayform %}
<form method="POST", autocomplete='off'> {% csrf_token %}
    <div class="wt-jobdescription wt-tabsinfo">
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>Razorpay Account</h2>
            </div>                                          
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-left">Account</th>
                        <th>API Credential</th>
                    </tr>
                    </thead>
                    <body>
                    <tr>
                        <td class="text-left">Publishable Key</td>
                        <td>
                            {{razorpayform.razorpay_public_key_id}}
                            <span style="color:red;" role="alert">{{ razorpayform.razorpay_public_key_id.errors}}</span>
                        </td>
                    </tr>
                    </body>												
                    <body>
                    <tr>
                        <td class="text-left">Secret Key</td>
                        <td>
                            {{razorpayform.razorpay_secret_key_id}}
                            <span style="color:red;" role="alert">{{ razorpayform.razorpay_secret_key_id.errors}}</span>
                        </td>
                    </tr>
                    </body>													
                    <body>
                    <tr>
                        <td class="text-left">Subscription Key</td>
                        <td>
                            {{razorpayform.razorpay_subscription_price_id}}
                            <span style="color:red;" role="alert">{{ razorpayform.razorpay_subscription_price_id.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    <body>
                        <tr>
                            <td class="text-left">Sandbox Environment</td>
                            <td>
                                {{razorpayform.sandbox}}
                                <span style="color:red;" role="alert">{{ razorpayform.sandbox.errors}}</span>
                            </td>
                        </tr>
                        </body>														
                    <body>
                </table> 
            </div>
            <div>
                <div> 
                    <div class="wt-updatall">
                        <i class="far fa-money-bill-alt"></i>
                        <span> click on "Save Razorpay API" button</span>
                        <button type="button" class="wt-btn"
                            hx-post="{% url 'merchants:add_razorpay_api' %}"
                            hx-target="#paymentApi"
                            style="background-color:rgb(29, 118, 90); font-weight: bold; margin:2px;">
                            Save Razorpay API
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}

{% if mtnform %}
<form method="POST", autocomplete='off'> {% csrf_token %}
    <div class="wt-jobdescription wt-tabsinfo">
        <div class="wt-jobdetails wt-tabsinfo">
            <div class="wt-tabscontenttitle">
                <h2>MTN Account</h2>
            </div>                                          
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-left">Account</th>
                        <th>API Credential</th>
                    </tr>
                    </thead>
                    <body>
                    <tr>
                        <td class="text-left">API User ID</td>
                        <td>
                            {{mtnform.mtn_api_user_id}}
                            <span style="color:red;" role="alert">{{ mtnform.mtn_api_user_id.errors}}</span>
                        </td>
                    </tr>
                    </body>												
                    <body>
                    <tr>
                        <td class="text-left">API Key</td>
                        <td>
                            {{mtnform.mtn_api_key}}
                            <span style="color:red;" role="alert">{{ mtnform.mtn_api_key.errors}}</span>
                        </td>
                    </tr>
                    </body>													
                    <body>
                    <tr>
                        <td class="text-left">Subscription Key</td>
                        <td>
                            {{mtnform.mtn_subscription_key}}
                            <span style="color:red;" role="alert">{{ mtnform.mtn_subscription_key.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    <body>
                    <tr>
                        <td class="text-left">Callback Url</td>
                        <td>
                            {{mtnform.mtn_callback_url}}
                            <span style="color:red;" role="alert">{{ mtnform.mtn_callback_url.errors}}</span>
                        </td>
                    </tr>
                    </body>
                    <body>
                        <tr>
                            <td class="text-left">Sandbox Environment</td>
                            <td>
                                {{mtnform.sandbox}}
                                <span style="color:red;" role="alert">{{ mtnform.sandbox.errors}}</span>
                            </td>
                        </tr>
                        </body>														
                    <body>
                </table> 
            </div>
            <div>
                <div>
                    <div class="wt-updatall">
                        <i class="far fa-money-bill-alt"></i>
                        <span> click on "Save MTN API" button</span>
                        <button type="button" class="wt-btn"
                            hx-post="{% url 'merchants:add_mtn_api' %}"
                            hx-target="#paymentApi"
                            style="background-color:rgb(29, 118, 90); font-weight: bold; margin:2px;">
                            Save MTN API
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
