{% extends "dashboard/main_base.html" %}

{% load static %}

{% block content %}

			<!--Inner Home Banner Start-->
			<div class="wt-haslayout wt-innerbannerholder">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
							<div class="wt-innerbannercontent">
							<div class="wt-title"><h2>Blog and Articles</h2></div>
							{% if request.user.is_authenticated %}
							<ol class="wt-breadcrumb">
								<li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
								<li class="wt-active">Articles Detail</li>
							</ol>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="wt-haslayout wt-main-section">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                            <div class="wt-articlesingle-holder wt-bgwhite">
                                <div class="wt-articlesingle-content">
                                    <figure class="wt-singleimg-one">
                                        <img src="{% if blog.thumbnail %} {{blog.thumbnail.url}} {% endif %}" alt="img description">
                                    </figure>
                                    <div class="wt-title">
                                        <h2>{{blog.title}}</h2>
                                    </div>
                                    <ul class="wt-postarticlemeta">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="lnr lnr-calendar-full"></i>
                                                <span>{{blog.created_at|timesince}} ago</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="lnr lnr-user"></i>
                                                <span>{{blog.created_by}}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="lnr lnr-tag"></i>
                                                <span>{{blog.category}}</span>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                    {% if blog.introduction %}
                                    <div class="wt-description">
                                        {{blog.introduction|linebreaks}}
                                    </div>
                                    {% endif %}

                                    {% if blog.quote %}
                                    <div class="wt-jobdetails wt-tabsinfo">
                                        <div class="wt-tabscontenttitle">
                                            <p><em>{{blog.quote|linebreaks}}</em></p>
                                        </div>      
                                    </div>      
                                    {% endif %}
                                    <div class="wt-description">
                                        {{blog.description|safe|linebreaks}}
                                    </div>
                                    
                                    <div class="wt-tagsshare">
                                        <div class="wt-tag wt-widgettag">
                                            <span>Tags:</span>
                                            {% for tag in blog.tags.all %}
                                            <a href="javascript:void(0);">{{tag}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="wt-description justify-content-md-center">
                                        <div class="sharethis-inline-share-buttons"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'dashboard/main_footer.html' %}

{% endblock content %}

{% block scripts %}
</script>
<!-- sharethis script begins-->	
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=61172317d98f630012c48739&product=inline-share-buttons" async="async"></script>	
<!-- sharethis script ends-->
{% endblock scripts %}














































